{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, saleOrderDetails) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary">
                <th style="min-width: 150px">SO #</th>
                <th style="min-width: 120px">Tanggal</th>
                <th style="min-width: 250px">Customer</th>
                <th style="min-width: 150px">PO #</th>
                <th style="min-width: 150px">Item Code</th>
                <th style="min-width: 350px">Description</th>
                <th style="min-width: 150px">Tgl Kirim</th>
                <th style="min-width: 100px">Qty Order</th>
                <th style="min-width: 100px">Qty Kirim</th>
                <th style="min-width: 100px">Qty OS</th>
                <th style="min-width: 80px">Satuan</th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberOrdinal') }} value="{{ form.filter.codeNumberOrdinal.1.vars.value }}" />
                    <span><small>/{{ constant('App\\Entity\\Sale\\SaleOrderHeader::CODE_NUMBER_CONSTANT') }}/</small></span>
                    <select {{ grid.filter_link_item(form, 'codeNumberMonth') }}>
                        {% for value, label in constant('App\\Entity\\SaleHeader::MONTH_ROMAN_NUMERALS') %}
                            {% set val = value == 0 ? '' : value %}
                            <option value="{{ val }}" {% if form.filter.codeNumberMonth.1.vars.value == val %}selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberYear') }} value="{{ form.filter.codeNumberYear.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control readonly-form-input" type="text" data-controller="flatpickr-element" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'customer:company') }} value="{{ form.filter['customer:company'].1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'saleOrderReferenceNumbers') }} value="{{ form.filter.saleOrderReferenceNumbers.1.vars.value }}" />
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for saleOrderDetail in saleOrderDetails %}
                <tr>
                    <td>{{ saleOrderDetail.saleOrderHeader.codeNumber }}</td>
                    <td>{{ saleOrderDetail.saleOrderHeader.transactionDate ? saleOrderDetail.saleOrderHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ saleOrderDetail.saleOrderHeader.customer.company|default }}</td>
                    <td>{{ saleOrderDetail.saleOrderHeader.referenceNumber }}</td>
                    <td>{{ saleOrderDetail.product.code|default }}</td>
                    <td>{{ saleOrderDetail.product.name|default }}</td>
                    <td>{{ saleOrderDetail.deliveryDate ? saleOrderDetail.deliveryDate|date('d M Y') : '' }}</td>
                    <td style="text-align: right">{{ saleOrderDetail.quantity|default|number_format(0) }}</td>
                    <td style="text-align: right">{{ saleOrderDetail.totalDelivery|default|number_format(0) }}</td>
                    <td style="text-align: right">{{ saleOrderDetail.remainingDelivery|default|number_format(0) }}</td>
                    <td>{{ saleOrderDetail.unit.name|default }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, saleOrderDetails) }}
