{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, purchaseReturnHeaders) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th role="button">
                    Retur Pembelian #
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Tanggal {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th role="button">
                    Supplier
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'note') }}>
                    Note {{ grid.sort_char(form.sort.note.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'isCanceled') }}>
                    Is Canceled {{ grid.sort_char(form.sort.isCanceled.vars.value) }}
                </th>
                <th></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'note') }} value="{{ form.filter.note.1.vars.value }}" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseReturnHeader in purchaseReturnHeaders %}
                <tr>
                    <td>{{ purchaseReturnHeader.codeNumber }}</td>
                    <td>{{ purchaseReturnHeader.transactionDate ? purchaseReturnHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ purchaseReturnHeader.supplier.company }}</td>
                    <td>{{ purchaseReturnHeader.note }}</td>
                    <td>{{ purchaseReturnHeader.isCanceled ? 'Yes' : 'No' }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_transaction_purchase_return_header_show', {'id': purchaseReturnHeader.id}) }}">Show</a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_transaction_purchase_return_header_edit', {'id': purchaseReturnHeader.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, purchaseReturnHeaders) }}
