{% extends 'layout_page.html.twig' %}

{% block title 'Show Purchase Return Header' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_transaction_purchase_return_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_transaction_purchase_return_header_edit', {'id': purchaseReturnHeader.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Tax Mode</th>
                <td>{{ purchaseReturnHeader.taxMode }}</td>
            </tr>
            <tr>
                <th>Tax Percentage</th>
                <td>{{ purchaseReturnHeader.taxPercentage }}</td>
            </tr>
            <tr>
                <th>Tax Nominal</th>
                <td>{{ purchaseReturnHeader.taxNominal }}</td>
            </tr>
            <tr>
                <th>Shipping Fee</th>
                <td>{{ purchaseReturnHeader.shippingFee }}</td>
            </tr>
            <tr>
                <th>Sub Total</th>
                <td>{{ purchaseReturnHeader.subTotal }}</td>
            </tr>
            <tr>
                <th>Sub Total After Tax Inclusion</th>
                <td>{{ purchaseReturnHeader.subTotalAfterTaxInclusion }}</td>
            </tr>
            <tr>
                <th>Grand Total</th>
                <td>{{ purchaseReturnHeader.grandTotal }}</td>
            </tr>
            <tr>
                <th>Is Canceled</th>
                <td>{{ purchaseReturnHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Code Number Ordinal</th>
                <td>{{ purchaseReturnHeader.codeNumberOrdinal }}</td>
            </tr>
            <tr>
                <th>Code Number Month</th>
                <td>{{ purchaseReturnHeader.codeNumberMonth }}</td>
            </tr>
            <tr>
                <th>Code Number Year</th>
                <td>{{ purchaseReturnHeader.codeNumberYear }}</td>
            </tr>
            <tr>
                <th>Created Transaction Date Time</th>
                <td>{{ purchaseReturnHeader.createdTransactionDateTime ? purchaseReturnHeader.createdTransactionDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified Transaction Date Time</th>
                <td>{{ purchaseReturnHeader.modifiedTransactionDateTime ? purchaseReturnHeader.modifiedTransactionDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Approved Transaction Date Time</th>
                <td>{{ purchaseReturnHeader.approvedTransactionDateTime ? purchaseReturnHeader.approvedTransactionDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Transaction Date</th>
                <td>{{ purchaseReturnHeader.transactionDate ? purchaseReturnHeader.transactionDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ purchaseReturnHeader.note }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('transaction/purchase_return_header/_delete_form.html.twig') }}
{% endblock %}
