{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, purchaseOrderHeaders) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped" id="purchase-order-header-table" data-controller="data-table">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th role="button">
                    PO #
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Transaction Date {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th role="button">
                    Supplier
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'grandTotal') }}>
                    Grand Total {{ grid.sort_char(form.sort.grandTotal.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'note') }}>
                    Note {{ grid.sort_char(form.sort.note.vars.value) }}
                </th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'grandTotal') }} value="{{ form.filter.grandTotal.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'note') }} value="{{ form.filter.note.1.vars.value }}" />
                </th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseOrderHeader in purchaseOrderHeaders %}
                <tr data-action="click->data-table#select" data-data-table-values-param="{{ purchaseOrderHeader.purchaseOrderDetails|map(purchaseOrderDetail => {
                    'purchaseOrderHeaderId': purchaseOrderHeader.id,
                    'purchaseOrderHeaderCodeNumber': purchaseOrderHeader.codeNumber,
                    'purchaseOrderHeaderTransactionDate': purchaseOrderHeader.transactionDate ? purchaseOrderHeader.transactionDate|date('d M Y') : '',
                    'purchaseOrderHeaderDeliveryDate': purchaseOrderHeader.deliveryDate ? purchaseOrderHeader.deliveryDate|date('d M Y') : '',
                    'supplierCompany': purchaseOrderHeader.supplier.company,
                    'purchaseOrderDetailId': purchaseOrderDetail.id,
                    'materialName': purchaseOrderDetail.material.name,
                    'materialId': purchaseOrderDetail.material.id,
                    'materialCode': purchaseOrderDetail.material.code,
                    'unitName': purchaseOrderDetail.unit.name,
                    'purchaseOrderDetailQuantity': purchaseOrderDetail.quantity})|json_encode }}">
                    <td>{{ purchaseOrderHeader.codeNumber }}</td>
                    <td>{{ purchaseOrderHeader.transactionDate ? purchaseOrderHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ purchaseOrderHeader.supplier.company }}</td>
                    <td class="text-end">{{ purchaseOrderHeader.grandTotal|number_format(0) }}</td>
                    <td>{{ purchaseOrderHeader.note }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, purchaseOrderHeaders) }}
