<table class="table table-bordered"
       data-controller="form-collection"
       data-form-collection-start-index-value="{{ form.purchaseOrderPaperDetails|length > 0 ? form.purchaseOrderPaperDetails|last.vars.name + 1 : 0 }}"
       data-form-collection-prototype-value="{{ _self.collection_item(form.purchaseOrderPaperDetails.vars.prototype)|e('html_attr') }}"
       data-action="form-collection:collection-item-removed->json-loader#load:self">
    <thead class="table-secondary">
        <tr>
            <th class="d-none">Material Id</th>
            <th>Item Code</th>
            <th>Description</th>
            <th>P</th>
            <th>L</th>
            <th>GR</th>
            <th>Qty</th>
            <th>Unit</th>
            <th>APKI</th>
            <th>H. Asosiasi</th>
            <th>H. KG</th>
            <th>H. Satuan</th>
            <th>Total</th>
            <th style="width: 0"></th>
        </tr>
    </thead>
    <tbody data-form-collection-target="items" data-action="material-table:data-table:select@document->form-collection#addCollectionItem purchase-request-detail-table:data-table:select@document->form-collection#addCollectionItem">
        {% macro collection_item(detailForm) %}
            <tr data-form-collection-target="item" data-item-identifier-name="materialId" data-item-identifier-value="{{ detailForm.vars.value.material.id|default }}" {% if (detailForm.vars.value.isCanceled) %}class="bg-secondary"{% endif %}>
                <td class="d-none">{{ form_widget(detailForm.material, {'attr': {'data-item-field-name': 'materialId'}}) }}</td>
                <td class="d-none">{{ form_widget(detailForm.purchaseRequestDetail, {'attr': {'data-item-field-name': 'purchaseRequestDetailId'}}) }}</td>
                <td data-item-field-name="materialCode">{{ detailForm.vars.value.material.code|default }}</td>
                <td data-item-field-name="materialName">{{ detailForm.vars.value.material.name|default }}</td>
                <td data-item-field-name="materialLength">{{ detailForm.vars.value.material.length|default }}</td>
                <td data-item-field-name="materialWidth">{{ detailForm.vars.value.material.width|default }}</td>
                <td data-item-field-name="materialWeight">{{ detailForm.vars.value.material.weight|default }}</td>
                <td>{{ form_row(detailForm.quantity, {'label': false, 'attr': {'data-action': 'change->json-loader#load'}}) }}</td>
                <td>{{ form_row(detailForm.unit, {'label': false}) }}</td>
                <td>
                    {{ form_row(detailForm.apkiValue, {'label': false, 'attr': {
                        'data-controller': 'dom-element',
                        'data-action': 'dom-element#bind change->json-loader#load',
                        'data-dom-element-bind-specifications-param': [
                            {'destinationsTarget': "\##{detailForm.apkiValue.vars.id}-format", 'action': 'setPropertyValue', 'descriptor': {'property': 'textContent', 'value': '$format.number($element.value, 2)'}}
                        ]|json_encode,
                    }}) }}
                    <div id="{{ detailForm.apkiValue.vars.id }}-format" class="text-end">{{ detailForm.vars.value.apkiValue|default|number_format(2) }}</div>
                </td>
                <td>
                    {{ form_row(detailForm.associationPrice, {'label': false, 'attr': {
                        'data-controller': 'dom-element',
                        'data-action': 'dom-element#bind change->json-loader#load',
                        'data-dom-element-bind-specifications-param': [
                            {'destinationsTarget': "\##{detailForm.associationPrice.vars.id}-format", 'action': 'setPropertyValue', 'descriptor': {'property': 'textContent', 'value': '$format.number($element.value, 2)'}}
                        ]|json_encode,
                    }}) }}
                    <div id="{{ detailForm.associationPrice.vars.id }}-format" class="text-end">{{ detailForm.vars.value.associationPrice|default|number_format(2) }}</div>
                </td>
                <td>
                    {{ form_row(detailForm.weightPrice, {'label': false, 'attr': {
                        'data-controller': 'dom-element',
                        'data-action': 'dom-element#bind change->json-loader#load',
                        'data-json-loader-target': 'placeholder',
                        'data-property-path': "purchaseOrderPaperDetails.#{ detailForm.vars.name }.weightPrice",
                        'data-dom-element-bind-specifications-param': [
                            {'destinationsTarget': "\##{detailForm.weightPrice.vars.id}-format", 'action': 'setPropertyValue', 'descriptor': {'property': 'textContent', 'value': '$format.number($element.value, 2)'}}
                        ]|json_encode,
                    }}) }}
                    <div id="{{ detailForm.weightPrice.vars.id }}-format" class="text-end">{{ detailForm.vars.value.weightPrice|default|number_format(2) }}</div>
                </td>
                <td class="text-end" data-json-loader-target="placeholder"
                    data-property-path="purchaseOrderPaperDetails.{{ detailForm.vars.name }}.unitPrice">
                    {{ detailForm.vars.value.unitPrice|default|number_format(2) }}
                </td>
                <td class="text-end" data-json-loader-target="placeholder"
                    data-property-path="purchaseOrderPaperDetails.{{ detailForm.vars.name }}.total">
                    {{ detailForm.vars.value.total|default|number_format(2) }}
                </td>
                <td>
                    {% if (detailForm.vars.value.id == null) %}
                        <button type="button" class="btn btn-outline-dark" data-action="form-collection#removeCollectionItem">Remove</button>
                    {% endif %}
                    <div {% if (detailForm.vars.value.id == null) %}class="d-none"{% endif %}>
                        {{ form_row(detailForm.isCanceled, {
                            'label': 'Cancel',
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'dom-element#bind change->json-loader#load',
                                'data-dom-element-bind-specifications-param': [
                                    {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.material.id|default}\"]", 'action': 'removeClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '!$element.checked'},
                                    {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.material.id|default}\"]", 'action': 'addClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '$element.checked'},
                                ]|json_encode,
                            },
                        }) }}
                    </div>
                </td>
            </tr>
        {% endmacro %}
        {% for detailForm in form.purchaseOrderPaperDetails %}
            {{ _self.collection_item(detailForm) }}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="text-end" colspan="11">Sub Total</td>
            <td class="text-end" data-json-loader-target="placeholder"
                data-property-path="subTotalAfterTaxInclusion">
                {{ purchaseOrderPaperHeader.subTotalAfterTaxInclusion|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="11">
                <span class="d-inline-block">Discount</span>
                <span class="d-inline-block">{{ form_row(form.discountValueType, {'label': false, 'attr': {'data-action': 'change->json-loader#load'}}) }}</span>
                <span class="d-inline-block">{{ form_row(form.discountValue, {'label': false, 'attr': {'data-action': 'change->json-loader#load'}}) }}</span>
            </td>
            <td class="text-end" data-json-loader-target="placeholder"
                data-property-path="discountNominal">
                {{ purchaseOrderPaperHeader.discountNominal|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="11">
                <span class="d-inline-block">PPn </span>
                <span class="d-inline-block">{{ form_row(form.taxMode, {'label': false, 'attr': {'data-action': 'change->json-loader#load'}}) }}</span>
            </td>
            <td class="text-end" data-json-loader-target="placeholder"
                data-property-path="taxNominal">
                {{ purchaseOrderPaperHeader.taxNominal|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="11">Grand Total</td>
            <td class="text-end" data-json-loader-target="placeholder"
                data-property-path="grandTotal">
                {{ purchaseOrderPaperHeader.grandTotal|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
