{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, purchaseOrderPaperHeaders) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th role="button">
                    PO #
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Tanggal {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th>Supplier</th>
                <th role="button" {{ grid.sort_link_item(form, 'note') }}>
                    Note {{ grid.sort_char(form.sort.note.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'grandTotal') }}>
                    Grand Total {{ grid.sort_char(form.sort.grandTotal.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'transactionStatus') }}>
                    Status {{ grid.sort_char(form.sort.transactionStatus.vars.value) }}
                </th>
                <th></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input type="number" {{ grid.filter_link_item(form, 'codeNumberOrdinal') }} value="{{ form.filter.codeNumberOrdinal.1.vars.value }}" />
                    <select {{ grid.filter_link_item(form, 'codeNumberMonth') }}>
                        {% for value, label in constant('App\\Entity\\TransactionHeader::MONTH_ROMAN_NUMERALS') %}
                            {% set val = value == 0 ? '' : value %}
                            <option value="{{ val }}" {% if form.filter.codeNumberMonth.1.vars.value == val %}selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    <input type="number" {{ grid.filter_link_item(form, 'codeNumberYear') }} value="{{ form.filter.codeNumberYear.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'note') }} value="{{ form.filter.note.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'grandTotal') }} value="{{ form.filter.grandTotal.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionStatus') }} value="{{ form.filter.transactionStatus.1.vars.value }}" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseOrderPaperHeader in purchaseOrderPaperHeaders %}
                <tr>
                    <td>{{ purchaseOrderPaperHeader.codeNumber }}</td>
                    <td>{{ purchaseOrderPaperHeader.transactionDate ? purchaseOrderPaperHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ purchaseOrderPaperHeader.supplier.company }}</td>
                    <td>{{ purchaseOrderPaperHeader.note }}</td>
                    <td class="text-end">{{ purchaseOrderPaperHeader.grandTotal|default|number_format(0) }}</td>
                    <td>{{ purchaseOrderPaperHeader.transactionStatus }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_transaction_purchase_order_paper_header_show', {'id': purchaseOrderPaperHeader.id}) }}">Show</a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_transaction_purchase_order_paper_header_edit', {'id': purchaseOrderPaperHeader.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, purchaseOrderPaperHeaders) }}
