{% import 'app/role_form_input.html.twig' as input %}

<table class="table table-bordered">
    <tbody>
        <tr>
            <td></td>
            <td class="text-center bg-info"><strong>New</strong></td>
            <td class="text-center bg-info"><strong>Edit</strong></td>
        </tr>
        <tr>
            <td colspan="3" class="text-center bg-warning"><strong>{{ input.check(indexes, form, 'ROLE_PRODUCTION', 'PRODUKSI') }}</strong></td>
        </tr>
        <tr>
            <td>Formulir Produk Baru</td>
            <td class="float-center">{{ input.check(indexes, form, 'ROLE_NEW_PRODUCT_ADD') }}</td>
            <td class="text-center">{{ input.check(indexes, form, 'ROLE_NEW_PRODUCT_EDIT') }}</td>
        </tr>
        <tr>
            <td>Development Produk</td>
            <td>{{ input.check(indexes, form, 'ROLE_DEVELOPMENT_PRODUCT_ADD') }}</td>
            <td>{{ input.check(indexes, form, 'ROLE_DEVELOPMENT_PRODUCT_EDIT') }}</td>
        </tr>
        <tr>
            <td>Master Order</td>
            <td>{{ input.check(indexes, form, 'ROLE_MASTER_ORDER_ADD') }}</td>
            <td>{{ input.check(indexes, form, 'ROLE_MASTER_ORDER_EDIT') }}</td>
        </tr>
        <tr>
            <td colspan="3" class="text-center bg-warning"><strong>{{ input.check(indexes, form, 'ROLE_INVENTORY', 'GUDANG') }}</strong></td>
        </tr>
        <tr>
            <td>Penyesuaian Stok</td>
            <td class="float-center">{{ input.check(indexes, form, 'ROLE_ADJUSTMENT_ADD') }}</td>
            <td class="text-center">{{ input.check(indexes, form, 'ROLE_ADJUSTMENT_EDIT') }}</td>
        </tr>
        <tr>
            <td>Permintaan Material</td>
            <td>{{ input.check(indexes, form, 'ROLE_MATERIAL_REQUEST_ADD') }}</td>
            <td>{{ input.check(indexes, form, 'ROLE_MATERIAL_REQUEST_EDIT') }}</td>
        </tr>
        <tr>
            <td>Pengeluaran Material</td>
            <td>{{ input.check(indexes, form, 'ROLE_MATERIAL_RELEASE_ADD') }}</td>
            <td>{{ input.check(indexes, form, 'ROLE_MATERIAL_RELEASE_EDIT') }}</td>
        </tr>
        <tr>
            <td>Transfer Antar Gudang</td>
            <td>{{ input.check(indexes, form, 'ROLE_TRANSFER_ADD') }}</td>
            <td>{{ input.check(indexes, form, 'ROLE_TRANSFER_EDIT') }}</td>
        </tr>
        <tr>
            <td>Penerimaan Finished Goods</td>
            <td>{{ input.check(indexes, form, 'ROLE_FINISHED_GOODS_RECEIVE_ADD') }}</td>
            <td>{{ input.check(indexes, form, 'ROLE_FINISHED_GOODS_RECEIVE_EDIT') }}</td>
        </tr>
    </tbody>
</table>