{% import 'app/role_form_input.html.twig' as input %}

<table class="table table-bordered">
    <tbody>
        <tr>
            <td></td>
            <td class="text-center bg-info"><strong>Show</strong></td>
        </tr>
        <tr>
            <td colspan="3" class="text-center bg-warning"><strong>{{ input.check(indexes, form, 'ROLE_REPORT', 'LAPORAN') }}</strong></td>
        </tr>
        <tr>
            <td>Pembelian</td>
            <td class="float-center">{{ input.check(indexes, form, 'ROLE_PURCHASE_REPORT') }}</td>
        </tr>
        <tr>
            <td>Penjualan</td>
            <td>{{ input.check(indexes, form, 'ROLE_SALE_REPORT') }}</td>
        </tr>
        <tr>
            <td>Produksi</td>
            <td>{{ input.check(indexes, form, 'ROLE_PRODUCTION_REPORT') }}</td>
        </tr>
        <tr>
            <td>Gudang</td>
            <td>{{ input.check(indexes, form, 'ROLE_INVENTORY_REPORT') }}</td>
        </tr>
        <tr>
            <td>Finance/Accounting</td>
            <td>{{ input.check(indexes, form, 'ROLE_FINANCE_REPORT') }}</td>
        </tr>
    </tbody>
</table>