{% extends 'layout_page.html.twig' %}

{% block title 'Show Purchase Request' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_transaction_purchase_request_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_transaction_purchase_request_header_edit', {'id': purchaseRequestHeader.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Permintaan Pembelian #</th>
                <td>{{ purchaseRequestHeader.getCodeNumber }}</td>
            </tr>
            <tr>
                <th>Transaction Date</th>
                <td>{{ purchaseRequestHeader.transactionDate ? purchaseRequestHeader.transactionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Warehouse</th>
                <td>{{ purchaseRequestHeader.warehouse.name }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ purchaseRequestHeader.note }}</td>
            </tr>
            <tr>
                <th>Is Canceled</th>
                <td>{{ purchaseRequestHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Kode</th>
                <th>Nama Material</th>
                <th>Quantity</th>
                <th>Satuan</th>
                <th>Tanggal Pakai</th>
                <th>Keterangan</th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseRequestDetail in purchaseRequestHeader.purchaseRequestDetails %}
                <tr>
                    <td>{{ purchaseRequestDetail.material.code|default }}</td>
                    <td>{{ purchaseRequestDetail.material.name|default }}</td>
                    <td style="text-align: center">{{ purchaseRequestDetail.quantity|default }}</td>
                    <td>{{ purchaseRequestDetail.unit.name|default }}</td>
                    <td>{{ purchaseRequestDetail.usageDate ? purchaseRequestDetail.usageDate|date('d M Y') : '' }}</td>
                    <td>{{ purchaseRequestDetail.memo|default }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align: right"><strong>Total</strong></td>
                <td style="text-align: center"><strong>{{ purchaseRequestHeader.totalQuantity|default }}</strong></td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
    
    {{ include('transaction/purchase_request_header/_delete_form.html.twig') }}
{% endblock %}
