<table class="table table-bordered"
       data-controller="form-collection"
       data-form-collection-start-index-value="{{ form.saleReturnDetails|length > 0 ? form.saleReturnDetails|last.vars.name + 1 : 0 }}"
       data-form-collection-prototype-value="{{ _self.collection_item(form.saleReturnDetails.vars.prototype)|e('html_attr') }}"
       data-action="form-collection:collection-item-removed->json-loader#load:self">
    <thead class="table-secondary">
        <tr>
            <th class="d-none">Product Id</th>
            <th>Item Code</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Unit</th>
            <th>Harga</th>
            <th>Total</th>
            <th style="width: 0"></th>
        </tr>
    </thead>
    <tbody data-form-collection-target="items" data-action="product-table:data-table:select@document->form-collection#addCollectionItem">
        {% macro collection_item(detailForm) %}
            <tr data-form-collection-target="item" data-item-identifier-name="productId" data-item-identifier-value="{{ detailForm.vars.value.product.id|default }}" {% if (detailForm.vars.value.isCanceled) %}class="bg-secondary"{% endif %}>
                <td class="d-none">{{ form_widget(detailForm.product, {'attr': {'data-item-field-name': 'productId'}}) }}</td>
                <td data-item-field-name="productCode">{{ detailForm.vars.value.product.code|default }}</td>
                <td data-item-field-name="productName">{{ detailForm.vars.value.product.name|default }}</td>
                <td>{{ form_row(detailForm.quantity, {'label': false, 'attr': {'data-action': 'change->json-loader#load', 'size': 3}}) }}</td>
                <td>{{ form_row(detailForm.unit, {'label': false}) }}</td>
                <td>
                    {{ form_row(detailForm.unitPrice, {'label': false, 'attr': {
                        'data-controller': 'dom-element',
                        'data-action': 'dom-element#bind change->json-loader#load', 
                        'size': 3,
                        'data-dom-element-bind-specifications-param': [
                            {'destinationsTarget': "\##{detailForm.unitPrice.vars.id}-format", 'action': 'setPropertyValue', 'descriptor': {'property': 'textContent', 'value': '$format.number($element.value, 2)'}}
                        ]|json_encode,
                    }}) }}
                    <div id="{{ detailForm.unitPrice.vars.id }}-format" class="text-end">{{ detailForm.vars.value.unitPrice|default|number_format(2) }}</div>
                </td>
                <td class="text-end" data-json-loader-target="placeholder"
                    data-property-path="saleReturnDetails.{{ detailForm.vars.name }}.total">
                    {{ detailForm.vars.value.total|default|number_format(2) }}
                </td>
                <td>
                    {% if (detailForm.vars.value.id == null) %}
                        <button type="button" class="btn btn-outline-dark" data-action="form-collection#removeCollectionItem"><i class="bi-x-lg"></i></button>
                    {% endif %}
                    <div {% if (detailForm.vars.value.id == null) %}class="d-none"{% endif %}>
                        {{ form_row(detailForm.isCanceled, {
                            'label': 'X',
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'dom-element#bind change->json-loader#load',
                                'data-dom-element-bind-specifications-param': [
                                    {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.product.id|default}\"]", 'action': 'removeClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '!$element.checked'},
                                    {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.product.id|default}\"]", 'action': 'addClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '$element.checked'},
                                ]|json_encode,
                            },
                        }) }}
                    </div>
                </td>
            </tr>
        {% endmacro %}
        {% for detailForm in form.saleReturnDetails %}
            {{ _self.collection_item(detailForm) }}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="text-end" colspan="5">Sub Total</td>
            <td class="text-end" data-json-loader-target="placeholder"
                data-property-path="subTotalAfterTaxInclusion">
                {{ saleReturnHeader.subTotalAfterTaxInclusion|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="5">
                <span class="d-inline-block">Tax</span>
                <span class="d-inline-block">{{ form_row(form.taxMode, {'label': false, 'attr': {'data-action': 'change->json-loader#load'}}) }}</span>
            </td>
            <td class="text-end" data-json-loader-target="placeholder"
                data-property-path="taxNominal">
                {{ saleReturnHeader.taxNominal|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="5">Grand Total</td>
            <td class="text-end" data-json-loader-target="placeholder"
                data-property-path="grandTotal">
                {{ saleReturnHeader.grandTotal|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
