<div class="table-responsive">
    <table class="table table-bordered"
       data-controller="form-collection"
       data-form-collection-start-index-value="{{ form.dielineMillars|length > 0 ? form.dielineMillars|last.vars.name + 1 : 0 }}"
       data-form-collection-prototype-value="{{ _self.collection_item(form.dielineMillars.vars.prototype)|e('html_attr') }}"
       data-action="form-collection:collection-item-removed->json-loader#load:self">
        <thead class="table-secondary">
            <tr>
                <th style="min-width: 100px">Versi</th>
                <th style="min-width: 100px">Quantity</th>
                <th style="min-width: 100px">Jml Up Cetak</th>
                <th style="min-width: 100px">Layout Cetak</th>
                <th style="min-width: 100px">Tanggal</th>
                <th style="min-width: 250px">Keterangan</th>
                <th style="min-width: 0"></th>
            </tr>
        </thead>
        <tbody data-form-collection-target="items" data-action="new-dieline-millar-button:click@document->form-collection#addCollectionItem">
            {% macro collection_item(detailForm) %}
                <tr data-form-collection-target="item" {% if (detailForm.vars.value.isInactive) %}class="bg-secondary"{% endif %}>
                    <td>{{ form_row(detailForm.version, {'label': false}) }}</td>
                    <td>{{ form_row(detailForm.quantity, {'label': false}) }}</td>
                    <td>{{ form_row(detailForm.quantityUpPrinting, {'label': false}) }}</td>
                    <td>{{ form_row(detailForm.printingLayout, {'label': false}) }}</td>
                    <td>{{ form_row(detailForm.date, {'label': false, 'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input'}}) }}</td>
                    <td>{{ form_row(detailForm.note, {'label': false}) }}</td>
                    <td>
                        <div {% if (detailForm.vars.value.id == null) %}class="d-none"{% endif %}>
                            {{ form_row(detailForm.isInactive, {
                                'label': 'X',
                                'attr': {
                                    'data-controller': 'dom-element',
                                    'data-action': 'dom-element#bind change->json-loader#load',
                                    'data-dom-element-bind-specifications-param': [
                                        {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.id|default}\"]", 'action': 'removeClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '!$element.checked'},
                                        {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.id|default}\"]", 'action': 'addClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '$element.checked'},
                                    ]|json_encode,
                                },
                            }) }}
                        </div>
                    </td>
                </tr>
            {% endmacro %}
            {% for detailForm in form.dielineMillars %}
                {{ _self.collection_item(detailForm) }}
            {% endfor %}
        </tbody>
    </table>
</div>