<div data-controller="event-emitter json-loader"
     data-action="data-table:select->event-emitter#forward click->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'data-table:select': 'id', 'click': 'id'}|json_encode }}"
     data-json-loader-url-value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}"
     data-json-loader-method-value="POST"
     data-json-loader-form-target-value="{{ "form[name=#{form.vars.name}]" }}">
    
    {{ form_start(form) }}
        <div class="mb-3">
            <label for="{{ form.customer.vars.id }}-text" class="form-label">Customer</label>
            {{ form_row(form.customer, {
                'attr': {
                    'data-controller': 'dom-element',
                    'data-action': 'customer-table:data-table:select@document->dom-element#bind',
                    'data-dom-element-bind-specifications-param': [
                        {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.customerId'}},
                    ]|json_encode,
                },
            }) }}
            <input type="text" id="{{ form.customer.vars.id }}-text" class="form-control readonly-form-input {% if not form.customer.vars.valid %}is-invalid{% endif %}" value="{{ product.customer.company|default }}" readonly="readonly"
                   data-bs-toggle="modal" data-bs-target="#customer-dialog"
                   data-controller="dom-element"
                   data-action="customer-table:data-table:select@document->dom-element#bind"
                   data-dom-element-bind-specifications-param="{{ [
                       {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.customerCompany'}},
                   ]|json_encode }}" />
            {{ form_errors(form.customer) }}
        </div>
        {{ form_row(form.code) }}
        {{ form_row(form.name) }}
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    {{ form_row(form.length) }}
                </div>
                <div class="col">
                    {{ form_row(form.width) }}
                </div>
                <div class="col">
                    {{ form_label(form.height) }}
                    <div class="input-group">
                        {{ form_widget(form.height) }}
                        {{ form_errors(form.height) }}
                        <span class="input-group-text">mm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <label class="form-label">Berat</label>
                    <div class="input-group">
                        {{ form_widget(form.weight) }}
                        {{ form_errors(form.weight) }}
                        <span class="input-group-text">gr</span>
                    </div>
                </div>
                <div class="col">
                    <label class="form-label">Glossiness</label>
                    <div class="input-group">
                        {{ form_widget(form.glossiness) }}
                        {{ form_errors(form.glossiness) }}
                        <span class="input-group-text">%</span>
                    </div>
                </div>
                <div class="col">
                    {{ form_row(form.unit) }}
                </div>
            </div>
        </div>
        {{ form_row(form.note) }}
        {{ form_row(form.isInactive) }}
        
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <div class="row">
                <div class="col">
                    {{ form_row(form.transactionFile, {
                        'label': transactionFileExists ? 'A Layout File has been uploaded' : 'Upload Layout File', 
                        'label_attr': {
                            'class': transactionFileExists ? 'text-danger fw-bold' : ''
                        }
                    }) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Design Codes</legend>
            <button type="button" class="btn btn-sm btn-outline-dark" id="new-detail-button">Add Design Codes</button>
            {{ include('master/product/_design_codes_form.html.twig') }}
        </fieldset>

        <div class="d-grid">
            <button class="btn btn-secondary"
                    data-controller="dom-element"
                    data-action="dom-element#confirm"
                    data-dom-element-confirm-message-param="Are you sure you want to save this item?">
                Save
            </button>
        </div>
    {{ form_end(form) }}

    {% import 'app/bootstrap_dialog.html.twig' as dialog %}

    {{ dialog.start('customer-dialog', 'Customer List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_customer__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}
</div>