{% extends 'layout_page.html.twig' %}

{% block title 'Show Product' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_product_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_master_product_edit', {'id': product.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Customer</th>
                <td>{{ product.customer.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ product.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Panjang</th>
                <td>{{ product.length }}</td>
            </tr>
            <tr>
                <th>Lebar</th>
                <td>{{ product.width }}</td>
            </tr>
            <tr>
                <th>Tebal</th>
                <td>{{ product.height }}</td>
            </tr>
            <tr>
                <th>Satuan</th>
                <td>{{ product.unit.name }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ product.note }}</td>
            </tr>
            <tr>
                <th>Inactive</th>
                <td>{{ product.isInactive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <legend class="float-none w-auto text-dark px-1">Data Design Code</legend>
    {#<a class="btn btn-success btn-sm" href="{{ path('app_master_product_new_design_code', {'id': product.id}) }}">+ Add Design Code</a>#}
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-warning">
                <th>Code Number</th>
                <th>Color</th>
                <th>Pantone</th>
                <th colspan="2">Jml Up Cetak</th>
                <th>Keterangan</th>
            </tr>
        </thead>
        <tbody>
            {% for designCode in product.designCodes %}
                <tr>
                    <td>{{ designCode.codeNumber|default }}</td>
                    <td>{{ designCode.color|default }}</td>
                    <td>{{ designCode.pantone|default }}</td>
                    <td>{{ designCode.quantityPrinting1|default }}</td>
                    <td>{{ designCode.quantityPrinting2|default }}</td>
                    <td>{{ designCode.note|default }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
    <legend class="float-none w-auto text-dark px-1">Data Pisau Diecut</legend>
    {#<a class="btn btn-success btn-sm" href="{{ path('app_master_product_new_diecut', {'id': product.id}) }}">+ Add Pisau Diecut</a>#}
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-warning">
                <th>Code Number</th>
                <th>Jumlah Up Cetak</th>
                <th>Jumlah Up Pisau</th>
                <th>Uk Kris Cetak</th>
                <th>BOBST</th>
                <th>PON</th>
                <th>Keterangan</th>
            </tr>
        </thead>
        <tbody>
            {% for diecutKnife in product.diecutKnives %}
                <tr>
                    <td>{{ diecutKnife.codeNumber|default }}</td>
                    <td>{{ diecutKnife.upPerSecondKnife|default }}</td>
                    <td>{{ diecutKnife.upPerSecondPrint|default }}</td>
                    <td>{{ diecutKnife.printingSize|default }}</td>
                    <td>{{ diecutKnife.isLocationBobst ? 'Yes' : 'No' }}</td>
                    <td>{{ diecutKnife.isLocationPon ? 'Yes' : 'No' }}</td>
                    <td>{{ diecutKnife.note|default }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
    <legend class="float-none w-auto text-dark px-1">Data Millar</legend>
    {#<a class="btn btn-success btn-sm" href="{{ path('app_master_product_new_diecut', {'id': product.id}) }}">+ Add Pisau Diecut</a>#}
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-warning">
                <th>Code Number</th>
                <th>Quantity</th>
                <th>Jumlah Up Cetak</th>
                <th>Layout Cetak</th>
                <th>Tanggal</th>
                <th>Keterangan</th>
            </tr>
        </thead>
        <tbody>
            {% for dielineMillar in product.dielineMillars %}
                <tr>
                    <td>{{ dielineMillar.codeNumber|default }}</td>
                    <td>{{ dielineMillar.quantity|default }}</td>
                    <td>{{ dielineMillar.quantityUpPrinting|default }}</td>
                    <td>{{ dielineMillar.printingLayout|default }}</td>
                    <td>{{ dielineMillar.date ? dielineMillar.date|date('d M Y') : '' }}</td>
                    <td>{{ dielineMillar.note|default }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
    <div class="text-center">
        <h4>Layout</h4>
        {% if product.fileExtension == 'pdf' %}
            <a target="_blank" href="{{ asset('uploads/product/' ~ product.id ~ '.' ~ product.fileExtension) }}">Layout PDF File</a>
        {% elseif product.fileExtension == 'jpg' or product.fileExtension == 'jpeg' or product.fileExtension == 'png' %}
            <img width="256px" src="{{ asset('uploads/product/' ~ product.id ~ '.' ~ product.fileExtension) }}" alt="Product Image" />
        {% endif %}
    </div>

    {#{{ include('master/product/_delete_form.html.twig') }}#}
{% endblock %}
