{% extends 'layout_page.html.twig' %}

{% block title 'Show Product' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_product_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_master_product_edit', {'id': product.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Customer</th>
                <td>{{ product.customer.name|default }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ product.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Panjang</th>
                <td>{{ product.length }}</td>
            </tr>
            <tr>
                <th>Lebar</th>
                <td>{{ product.width }}</td>
            </tr>
            <tr>
                <th>Tebal</th>
                <td>{{ product.height }}</td>
            </tr>
            <tr>
                <th>Berat (gr)</th>
                <td>{{ product.weight }}</td>
            </tr>
            <tr>
                <th>Glossiness</th>
                <td>{{ product.glossiness }}</td>
            </tr>
            <tr>
                <th>Satuan</th>
                <td>{{ product.unit.name|default }}</td>
            </tr>
            <tr>
                <th>Material Kertas</th>
                <td>{{ product.paper.paperNameSizeCombination|default }}</td>
            </tr>
            <tr>
                <th>Gramatur Kertas</th>
                <td>{{ product.paper.weight|default }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ product.note }}</td>
            </tr>
            <tr>
                <th>Inactive</th>
                <td>{{ product.isInactive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <h4>Layout</h4>
        {% if product.fileExtension == 'pdf' %}
            <a target="_blank" href="{{ asset('uploads/product/' ~ product.id ~ '.' ~ product.fileExtension) }}">Layout PDF File</a>
        {% elseif product.fileExtension == 'jpg' or product.fileExtension == 'jpeg' or product.fileExtension == 'png' %}
            <img width="256px" src="{{ asset('uploads/product/' ~ product.id ~ '.' ~ product.fileExtension) }}" alt="Product Image" />
        {% endif %}
    </div>

    {#{{ include('master/product/_delete_form.html.twig') }}#}
{% endblock %}
