{% extends 'layout_page.html.twig' %}

{% block title 'Show Product' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_product_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_master_product_edit', {'id': product.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Customer</th>
                <td>{{ product.customer.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ product.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Panjang</th>
                <td>{{ product.length }}</td>
            </tr>
            <tr>
                <th>Lebar</th>
                <td>{{ product.width }}</td>
            </tr>
            <tr>
                <th>Tebal</th>
                <td>{{ product.height }}</td>
            </tr>
            <tr>
                <th>Satuan</th>
                <td>{{ product.unit.name }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ product.note }}</td>
            </tr>
            <tr>
                <th>Inactive</th>
                <td>{{ product.isInactive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <legend class="float-none w-auto text-dark px-1">Data Design Code</legend>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-warning">
                <th>Design Code</th>
                <th>Versi #</th>
                <th>Keterangan</th>
            </tr>
        </thead>
        <tbody>
            {% for designCode in product.designCodes %}
                <tr>
                    <td>{{ designCode.name|default }}</td>
                    <td>{{ designCode.version|default }}</td>
                    <td>{{ designCode.note|default }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
    {#{{ include('master/product/_delete_form.html.twig') }}#}
{% endblock %}
