<table class="table table-bordered"
       data-controller="form-collection"
       data-form-collection-start-index-value="{{ form.saleInvoiceDetails|length > 0 ? form.saleInvoiceDetails|last.vars.name + 1 : 0 }}"
       data-form-collection-prototype-value="{{ _self.collection_item(form.saleInvoiceDetails.vars.prototype)|e('html_attr') }}"
       data-action="form-collection:collection-item-removed->json-loader#load:self">
    <thead class="table-secondary">
        <tr>
            <th class="d-none">Material Id</th>
            <th>Kode</th>
            <th>Nama Barang</th>
            <th>Qty</th>
            <th>Satuan</th>
            <th>Price</th>
            <th>Total</th>
            <th style="width: 0"></th>
        </tr>
    </thead>
    <tbody data-form-collection-target="items" data-action="delivery-header-table:data-table:select@document->form-collection#clearCollectionItems delivery-header-table:data-table:select@document->form-collection#addCollectionItems delivery-header-table:data-table:select@document->json-loader#load">
        {% macro collection_item(detailForm) %}
            <tr data-form-collection-target="item" data-item-identifier-name="deliveryDetailId" data-item-identifier-value="{{ detailForm.vars.value.deliveryDetail.id|default }}" {% if (detailForm.vars.value.isCanceled) %}class="bg-secondary"{% endif %}>
                <td class="d-none">{{ form_widget(detailForm.deliveryDetail, {'attr': {'data-item-field-name': 'deliveryDetailId'}}) }}</td>
                <td data-item-field-name="productCode">{{ detailForm.vars.value.deliveryDetail.saleOrderDetail.product.code|default }}</td>
                <td data-item-field-name="productName">{{ detailForm.vars.value.deliveryDetail.saleOrderDetail.product.name|default }}</td>
                <td class="text-end" data-json-loader-target="placeholder"
                    data-property-path="saleInvoiceDetails.{{ detailForm.vars.name }}.quantity">{{ detailForm.vars.value.quantity|default|number_format(0) }}</td>
                <td data-item-field-name="unitName">{{ detailForm.vars.value.deliveryDetail.saleOrderDetail.unit.name|default }}</td>
                <td class="text-end" data-json-loader-target="placeholder"
                    data-property-path="saleInvoiceDetails.{{ detailForm.vars.name }}.unitPrice">{{ detailForm.vars.value.unitPrice|default|number_format(2) }}</td>
                <td class="text-end" data-json-loader-target="placeholder"
                    data-property-path="saleInvoiceDetails.{{ detailForm.vars.name }}.total">{{ detailForm.vars.value.total|default|number_format(2) }}</td>
                <td>
                    <div {% if (detailForm.vars.value.id == null) %}class="d-none"{% endif %}>
                        {{ form_row(detailForm.isCanceled, {
                            'label': 'Cancel',
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'dom-element#bind change->json-loader#load',
                                'data-dom-element-bind-specifications-param': [
                                    {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.deliveryDetail.id|default}\"]", 'action': 'removeClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '!$element.checked'},
                                    {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.deliveryDetail.id|default}\"]", 'action': 'addClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '$element.checked'},
                                ]|json_encode,
                            },
                        }) }}
                    </div>
                </td>
            </tr>
        {% endmacro %}
        {% for detailForm in form.saleInvoiceDetails %}
            {{ _self.collection_item(detailForm) }}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="text-end" colspan="5">Sub Total</td>
            <td class="text-end" data-json-loader-target="placeholder"
                data-property-path="subTotalAfterTaxInclusion">
                {{ saleInvoiceHeader.subTotalAfterTaxInclusion|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="5" data-json-loader-target="placeholder"
                data-property-path="discountInfo">
                Discount
                {% if saleInvoiceHeader.discountValueType == constant('DISCOUNT_VALUE_TYPE_PERCENTAGE', saleInvoiceHeader) %}
                    {{ saleInvoiceHeader.discountValue|default }}%
                {% endif %}
            </td>
            <td class="text-end" data-json-loader-target="placeholder"
                data-property-path="discountNominal">
                {{ saleInvoiceHeader.discountNominal|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="5" data-json-loader-target="placeholder"
                data-property-path="taxInfo">
                {% if saleInvoiceHeader.taxMode == constant('TAX_MODE_NON_TAX', saleInvoiceHeader) %}
                    Non Tax 0%
                {% elseif saleInvoiceHeader.taxMode == constant('TAX_MODE_TAX_EXCLUSION', saleInvoiceHeader) %}
                    Exclude Tax {{ constant('VAT_PERCENTAGE', saleInvoiceHeader) }}%
                {% elseif saleInvoiceHeader.taxMode == constant('TAX_MODE_TAX_INCLUSION', saleInvoiceHeader) %}
                    Include Tax {{ constant('VAT_PERCENTAGE', saleInvoiceHeader) }}%
                {% endif %}
            </td>
            <td class="text-end" data-json-loader-target="placeholder"
                data-property-path="taxNominal">
                {{ saleInvoiceHeader.taxNominal|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="5">Grand Total</td>
            <td class="text-end" data-json-loader-target="placeholder"
                data-property-path="grandTotal">
                {{ saleInvoiceHeader.grandTotal|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
