{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, papers) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th role="button" {{ grid.sort_link_item(form, 'code') }}>
                    Code {{ grid.sort_char(form.sort.code.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'length') }}>
                    Length {{ grid.sort_char(form.sort.length.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'width') }}>
                    Width {{ grid.sort_char(form.sort.width.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'weight') }}>
                    Weight {{ grid.sort_char(form.sort.weight.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'isInactive') }}>
                    Is Inactive {{ grid.sort_char(form.sort.isInactive.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'name') }}>
                    Name {{ grid.sort_char(form.sort.name.vars.value) }}
                </th>
                <th></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'code') }} value="{{ form.filter.code.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'length') }} value="{{ form.filter.length.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'width') }} value="{{ form.filter.width.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'weight') }} value="{{ form.filter.weight.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'isInactive') }} value="{{ form.filter.isInactive.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'name') }} value="{{ form.filter.name.1.vars.value }}" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for paper in papers %}
                <tr>
                    <td>{{ paper.code }}</td>
                    <td>{{ paper.length }}</td>
                    <td>{{ paper.width }}</td>
                    <td>{{ paper.weight }}</td>
                    <td>{{ paper.isInactive ? 'Yes' : 'No' }}</td>
                    <td>{{ paper.name }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_master_paper_show', {'id': paper.id}) }}">Show</a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_master_paper_edit', {'id': paper.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, papers) }}
