{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, inventories) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Transaction Date {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'transactionType') }}>
                    Transaction Type {{ grid.sort_char(form.sort.transactionType.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'transactionSubject') }}>
                    Transaction Subject {{ grid.sort_char(form.sort.transactionSubject.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'note') }}>
                    Note {{ grid.sort_char(form.sort.note.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'quantityIn') }}>
                    Quantity In {{ grid.sort_char(form.sort.quantityIn.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'quantityOut') }}>
                    Quantity Out {{ grid.sort_char(form.sort.quantityOut.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'purchasePrice') }}>
                    Purchase Price {{ grid.sort_char(form.sort.purchasePrice.vars.value) }}
                </th>
                <th></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionType') }} value="{{ form.filter.transactionType.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionSubject') }} value="{{ form.filter.transactionSubject.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'note') }} value="{{ form.filter.note.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'quantityIn') }} value="{{ form.filter.quantityIn.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'quantityOut') }} value="{{ form.filter.quantityOut.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'purchasePrice') }} value="{{ form.filter.purchasePrice.1.vars.value }}" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for inventory in inventories %}
                <tr>
                    <td>{{ inventory.transactionDate ? inventory.transactionDate|date('Y-m-d') : '' }}</td>
                    <td>{{ inventory.transactionType }}</td>
                    <td>{{ inventory.transactionSubject }}</td>
                    <td>{{ inventory.note }}</td>
                    <td>{{ inventory.quantityIn }}</td>
                    <td>{{ inventory.quantityOut }}</td>
                    <td>{{ inventory.purchasePrice }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_stock_inventory_show', {'id': inventory.id}) }}">Show</a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_stock_inventory_edit', {'id': inventory.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, inventories) }}
