{% extends 'layout_page.html.twig' %}

{% block title 'Show Inventory' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_inventory_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_stock_inventory_edit', {'id': inventory.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Transaction Date</th>
                <td>{{ inventory.transactionDate ? inventory.transactionDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Transaction Type</th>
                <td>{{ inventory.transactionType }}</td>
            </tr>
            <tr>
                <th>Transaction Subject</th>
                <td>{{ inventory.transactionSubject }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ inventory.note }}</td>
            </tr>
            <tr>
                <th>Quantity In</th>
                <td>{{ inventory.quantityIn }}</td>
            </tr>
            <tr>
                <th>Quantity Out</th>
                <td>{{ inventory.quantityOut }}</td>
            </tr>
            <tr>
                <th>Purchase Price</th>
                <td>{{ inventory.purchasePrice }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('stock/inventory/_delete_form.html.twig') }}
{% endblock %}
