{% extends 'layout_page.html.twig' %}

{% block title 'Show Receive Detail' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_transaction_receive_detail_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_transaction_receive_detail_edit', {'id': receiveDetail.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Ordered Quantity</th>
                <td>{{ receiveDetail.orderedQuantity }}</td>
            </tr>
            <tr>
                <th>Received Quantity</th>
                <td>{{ receiveDetail.receivedQuantity }}</td>
            </tr>
            <tr>
                <th>Is Canceled</th>
                <td>{{ receiveDetail.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('transaction/receive_detail/_delete_form.html.twig') }}
{% endblock %}
