<table>
    <thead>
        <tr>
            <th style="text-align: center" colspan="7"><strong>PT. Putracipta Karindomas</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="7"><strong>Laporan Sales Order</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="7">
                <strong>
                    {% set startDate = form.vars.value.filter.orderReceiveDate.1|default %}
                    {% set endDate = form.vars.value.filter.orderReceiveDate.2|default %}
                    {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
                </strong>
            </th>
        </tr>
        <tr>
            <th style="text-align: center; width: 100pt"><strong>SO #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Tanggal</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Customer</strong></th>
            <th style="text-align: center; width: 100pt"><strong>PO #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Status</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Note</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Kode Produk</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Nama Produk</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Qty</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Satuan</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Harga</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Total</strong></th>
        </tr>
    </thead>
    <tbody>
        {% for saleOrderHeader in saleOrderHeaders %}
            {% for saleOrderDetail in saleOrderHeader.saleOrderDetails %}
                <tr>
                    <td style="text-align: left">{{ saleOrderHeader.codeNumber|default }}</td>
                    <td style="text-align: left">{{ saleOrderHeader.orderReceiveDate|default ? saleOrderHeader.orderReceiveDate|date('d-m-Y') }}</td>
                    <td style="text-align: left">{{ saleOrderHeader.customer.company|default }}</td>
                    <td style="text-align: left">{{ saleOrderHeader.referenceNumber|default }}</td>
                    <td style="text-align: left">{{ saleOrderHeader.transactionStatus|default }}</td>
                    <td style="text-align: left">{{ saleOrderHeader.note|default }}</td>
                    <td style="text-align: left">{{ saleOrderDetail.product.code|default }}</td>
                    <td style="text-align: left">{{ saleOrderDetail.product.name|default }}</td>
                    <td style="text-align: center">{{ saleOrderDetail.quantity|default }}</td>
                    <td style="text-align: left">{{ saleOrderDetail.unit.name|default }}</td>
                    <td style="text-align: right">{{ saleOrderDetail.unitPrice|default }}</td>
                    <td style="text-align: right">{{ saleOrderDetail.total|default|round(0) }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>