<table>
    <thead>
        <tr>
            <th>SO #</th>
            <th>Tanggal</th>
            <th>Customer</th>
            <th>PO #</th>
            <th>Status</th>
            <th>Note</th>
        </tr>
        <tr>
                            <th>Kode</th>
                            <th>Nama Produk</th>
                            <th>Qty</th>
                            <th>Satuan</th>
                            <th>Harga</th>
                            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for saleOrderHeader in saleOrderHeaders %}
            <tr>
                <td>{{ saleOrderHeader.codeNumber|default }}</td>
                <td>{{ saleOrderHeader.transactionDate|default ? saleOrderHeader.transactionDate|date('j F Y') }}</td>
                <td>{{ saleOrderHeader.customer.company|default }}</td>
                <td>{{ saleOrderHeader.referenceNumber|default }}</td>
                <td>{{ saleOrderHeader.transactionStatus|default }}</td>
                <td>{{ saleOrderHeader.note|default }}</td>
            </tr>
                            {% for saleOrderDetail in saleOrderHeader.saleOrderDetails %}
                                <tr>
                                    <td>{{ saleOrderDetail.product.code|default }}</td>
                                    <td>{{ saleOrderDetail.product.name|default }}</td>
                                    <td>{{ saleOrderDetail.quantity|default|number_format(0) }}</td>
                                    <td>{{ saleOrderDetail.unit.name|default }}</td>
                                    <td>{{ saleOrderDetail.unitPrice|default|number_format(2) }}</td>
                                    <td>{{ saleOrderDetail.total|default|number_format(2) }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5"><strong>Sub Total</strong></td>
                                <td><strong>{{ saleOrderHeader.subTotal|default|number_format(2) }}</strong></td>
                            </tr>
                            <tr>
                                <td colspan="5"><strong>Diskon {{ saleOrderHeader.discountValue|default|number_format(2) }}%</strong></td>
                                <td><strong>{{ saleOrderHeader.discountNominal|default|number_format(2) }}</strong></td>
                            </tr>
                            <tr>
                                <td colspan="5"><strong>PPn {{ saleOrderHeader.taxPercentage|default }}%</strong></td>
                                <td><strong>{{ saleOrderHeader.taxNominal|default|number_format(2) }}</strong></td>
                            </tr>
                            <tr>
                                <td colspan="5"><strong>Grand Total</strong></td>
                                <td><strong>{{ saleOrderHeader.grandTotal|default|number_format(2) }}</strong></td>
                            </tr>
        {% endfor %}
    </tbody>
</table>