{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, receiveDetails) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary">
                <th style="min-width: 150px">Penerimaan #</th>
                <th style="min-width: 120px">Tanggal</th>
                <th style="min-width: 250px">Supplier</th>
                <th style="min-width: 150px">PO #</th>
                <th style="min-width: 250px">Supplier SJ #</th>
                <th style="min-width: 150px">Material/Paper</th>
            </tr>
        </thead>
        <tbody>
            {% for receiveDetail in receiveDetails %}
                <tr>
                    <td>{{ receiveDetail.receiveHeader.codeNumber }}</td>
                    <td>{{ receiveDetail.receiveHeader.transactionDate ? receiveDetail.receiveHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ receiveDetail.receiveHeader.supplier.company|default }}</td>
                    <td>{{ receiveDetail.receiveHeader.purchaseOrderHeader is null ? receiveDetail.receiveHeader.purchaseOrderPaperHeader.codeNumber|default : receiveDetail.receiveHeader.purchaseOrderHeader.codeNumber|default }}</td>
                    <td>{{ receiveDetail.receiveHeader.supplierDeliveryCodeNumber|default }}</td>
                    <td>{{ receiveDetail.paper is null ? receiveDetail.material.name|default : receiveDetail.paper.name|default }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, receiveDetails) }}
