<table class="table table-bordered"
       data-controller="form-collection"
       data-form-collection-prototype-value="{{ _self.collection_row(form.purchaseOrderDetails.vars.prototype)|e('html_attr') }}"
       data-action="form-collection:row-removed->json-loader#load:self">
    <thead class="table-secondary">
        <tr>
            <th class="d-none">Product Id</th>
            <th>Product Name</th>
            <th>Size</th>
            <th>Brand</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Total</th>
            <th style="width: 0">
                <button type="button" class="btn btn-outline-dark" data-action="form-collection#addRow">Add</button>
            </th>
        </tr>
    </thead>
    <tbody data-form-collection-target="rows" data-action="product-table:data-table:select@document->form-collection#addRow">
        {% macro collection_row(detailForm) %}
            <tr data-form-collection-target="row">
                <td class="d-none">{{ form_widget(detailForm.product, {'attr': {'data-field-initializer': 'id'}}) }}</td>
                <td data-field-initializer="code"></td>
                <td></td>
                <td></td>
                <td>{{ form_widget(detailForm.quantity, {'attr': {'data-action': 'change->json-loader#load'}}) }}</td>
                <td>{{ form_widget(detailForm.unitPrice, {'attr': {'data-action': 'change->json-loader#load'}}) }}</td>
                <td>{{ form_widget(detailForm.discount, {'attr': {'data-action': 'change->json-loader#load'}}) }}</td>
                <td data-json-loader-target="placeholder"
                    data-property-path="purchaseOrderDetails.{{ detailForm.vars.name }}.total"></td>
                <td>
                    <button type="button" class="btn btn-outline-dark" data-action="form-collection#removeRow">Remove</button>
                </td>
            </tr>
        {% endmacro %}
        {% for detailForm in form.purchaseOrderDetails %}
            {{ _self.collection_row(detailForm) }}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="text-end" colspan="6">Sub Total</td>
            <td class="text-end"
                data-json-loader-target="placeholder"
                data-property-path="subTotal">
                {{ purchaseInvoiceHeader.subTotal|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="6">
                <span class="d-inline-block">Discount</span>
                <span class="d-inline-block">{{ form_widget(form.discountType) }}{{ form_errors(form.discountType) }}</span>
            </td>
            <td>{{ form_widget(form.discountValue) }}{{ form_errors(form.discountValue) }}</td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="6">
                <span class="d-inline-block">{{ form_row(form.isTaxApplicable, {'label': false}) }}</span>
            </td>
            <td class="text-end"
                data-json-loader-target="placeholder"
                data-property-path="taxNominal">
                {{ purchaseInvoiceHeader.taxNominal|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="6">Ongkos Kirim</td>
            <td>{{ form_widget(form.shippingFee) }}{{ form_errors(form.shippingFee) }}</td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="6">Grand Total</td>
            <td class="text-end"
                data-json-loader-target="placeholder"
                data-property-path="grandTotal">
                {{ purchaseInvoiceHeader.grandTotal|default|number_format(2) }}
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
