<div data-controller="event-emitter json-loader"
     data-action="data-table:select->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'data-table:select': 'id'}|json_encode }}"
     data-json-loader-url-value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}"
     data-json-loader-method-value="POST"
     data-json-loader-form-target-value="{{ "form[name=#{form.vars.name}]" }}">

    {{ form_start(form) }}
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Header</legend>
            <div class="row">
                <div class="col sm-6">
                    {{ form_row(form.transactionDate, {'attr': {'data-controller': 'flatpickr-element'}}) }}
                </div>
                <div class="col sm-6">
                    {{ form_row(form.supplier, {
                        'attr': {
                            'data-bs-toggle': 'modal',
                            'data-bs-target': '#supplier-dialog',
                            'data-controller': 'dom-element',
                            'data-action': 'mousedown->dom-element#doNothing:prevent supplier-table:data-table:select@document->dom-element#bind',
                            'data-dom-element-bind-specifications-param': [
                                {'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value="${$event.detail.id}">${$event.detail.name}</option>`'}, 'condition': '!$destination.innerHTML.includes($content)'},
                                {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.id'}}
                            ]|json_encode,
                        },
                    }) }}
                </div>
            </div>
            <div class="row">
                <div class="col sm-12">
                    {{ form_row(form.note) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Details</legend>
            <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#product-dialog">Add Detail</button>
            {{ include('transaction/purchase_order_header/_details_form.html.twig') }}
        </fieldset>

        <div class="d-grid">
            <button class="btn btn-secondary">Save</button>
        </div>
    {{ form_end(form) }}

    <div id="supplier-dialog" class="modal fade" role="dialog" data-controller="bootstrap-modal" data-action="data-table:select@document->bootstrap-modal#close">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supplier List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="supplier-grid">
                        <table class="table table-bordered" id="supplier-table" data-controller="data-table">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {'id': 1, 'code': 'a', 'name': 'aaa'}|json_encode }}">
                                    <td>a</td>
                                    <td>aaa</td>
                                </tr>
                                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {'id': 2, 'code': 'b', 'name': 'bbb'}|json_encode }}">
                                    <td>b</td>
                                    <td>bbb</td>
                                </tr>
                                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {'id': 3, 'code': 'c', 'name': 'ccc'}|json_encode }}">
                                    <td>c</td>
                                    <td>ccc</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="product-dialog" class="modal fade" role="dialog" data-controller="bootstrap-modal" data-action="data-table:select@document->bootstrap-modal#close">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="product-grid">
                        <table class="table table-bordered" id="product-table" data-controller="data-table">
                            <thead>
                                <tr>
                                    <th style="width: 0">
                                        <input type="checkbox" data-controller="dom-element" data-action="dom-element#bind" data-dom-element-bind-specifications-param="{{ [
                                            {'destinationsTarget': '#product-table .check', 'action': 'setPropertyValue', 'descriptor': {'property': 'checked', 'value': '$element.checked'}},
                                        ]|json_encode }}" />
                                    </th>
                                    <th>Code</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="checkrow" data-action="click->data-table#select" data-data-table-values-param="{{ {'id': 1, 'code': 'a', 'name': 'aaa'}|json_encode }}">
                                    <td><input type="checkbox" class="check" data-controller="dom-element" data-action="click->dom-element#doNothing:stop" /></td>
                                    <td>a</td>
                                    <td>aaa</td>
                                </tr>
                                <tr class="checkrow" data-action="click->data-table#select" data-data-table-values-param="{{ {'id': 2, 'code': 'b', 'name': 'bbb'}|json_encode }}">
                                    <td><input type="checkbox" class="check" data-controller="dom-element" data-action="click->dom-element#doNothing:stop" /></td>
                                    <td>b</td>
                                    <td>bbb</td>
                                </tr>
                                <tr class="checkrow" data-action="click->data-table#select" data-data-table-values-param="{{ {'id': 3, 'code': 'c', 'name': 'ccc'}|json_encode }}">
                                    <td><input type="checkbox" class="check" data-controller="dom-element" data-action="click->dom-element#doNothing:stop" /></td>
                                    <td>c</td>
                                    <td>ccc</td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary btn-sm"
                                data-action="event-emitter#trigger"
                                data-event-emitter-trigger-elements-target-param="#product-table .checkrow"
                                data-event-emitter-trigger-event-type-param="click"
                                data-event-emitter-trigger-condition-param="$element.querySelector('.check').checked">
                            Select
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#{% import 'common/modal/dialog.html.twig' as d %}

{% set supplierGrid %}
    <div id="supplier-grid">
        <table class="table table-bordered" data-controller="data-table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr data-action="click->data-table#select" data-data-table-id-param="1">
                    <td>a</td>
                    <td>aaa</td>
                </tr>
                <tr data-action="click->data-table#select" data-data-table-id-param="2">
                    <td>b</td>
                    <td>bbb</td>
                </tr>
                <tr data-action="click->data-table#select" data-data-table-id-param="3">
                    <td>c</td>
                    <td>ccc</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endset %}
{{ d.dialog('supplier-dialog', 'Supplier List', supplierGrid) }}

{% set productGrid %}
    <div id="product-grid">
        {% set options = {url: path('app_transaction_purchase_order_header_new', {_format: 'json'})} %}
        <table class="table table-bordered" {{ stimulus_controller('modal-data-table-prototype', options) }}>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr {{ stimulus_action('modal-data-table-prototype', 'select', 'click', {value: 1, text: 'aaa'}) }}>
                    <td>a</td>
                    <td>aaa</td>
                </tr>
                <tr {{ stimulus_action('modal-data-table-prototype', 'select', 'click', {value: 2, text: 'bbb'}) }}>
                    <td>b</td>
                    <td>bbb</td>
                </tr>
                <tr {{ stimulus_action('modal-data-table-prototype', 'select', 'click', {value: 3, text: 'ccc'}) }}>
                    <td>c</td>
                    <td>ccc</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endset %}
{{ d.dialog('product-dialog', 'Product List', productGrid) }}#}
