<div data-controller="event-emitter json-loader"
     data-action="data-table:select->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'data-table:select': 'id'}|json_encode }}"
     data-json-loader-url-value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}"
     data-json-loader-method-value="POST"
     data-json-loader-form-target-value="{{ "form[name=#{form.vars.name}]" }}">

    {{ form_start(form) }}
        <div class="row">
            <div class="col sm-6">
                {{ form_row(form.transactionDate) }}
                <input type="text" data-controller="flatpickr-element" />
            </div>
            <div class="col sm-6">
                {{ form_row(form.supplier, {
                    'attr': {
                        'data-bs-toggle': 'modal',
                        'data-bs-target': '#supplier-dialog',
                        'data-controller': 'dom-element',
                        'data-action': 'mousedown->dom-element#doNothing:prevent supplier-table:data-table:select@document->dom-element#appendHtml supplier-table:data-table:select@document->dom-element#putContent',
                        'data-dom-element-append-html-template-param': '<option value="${id}">${name}</option>'|e('html_attr'),
                        'data-dom-element-put-content-template-param': '${id}',
                    },
                }) }}
            </div>
        </div>
        <div>
            {{ form_row(form.note) }}
        </div>

        <hr />

        <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#product-dialog">Add Detail</button>

        {#<div id="prototype" data-cs-index="{{ form.purchaseOrderDetails|length > 0 ? form.purchaseOrderDetails|last.vars.name + 1 : 0 }}" data-cs-prototype="{{ form_widget(form.purchaseOrderDetails.vars.prototype)|e('html_attr') }}"></div>#}
        <div>
            {{ include('transaction/purchase_order_header/_details_form.html.twig') }}
        </div>

        <div class="d-grid">
            <button class="btn btn-secondary">Save</button>
        </div>
    {{ form_end(form) }}

    <div id="supplier-dialog" class="modal fade" role="dialog" data-controller="bootstrap-modal" data-action="data-table:select@document->bootstrap-modal#close">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supplier List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="supplier-grid">
                        <table class="table table-bordered" id="supplier-table" data-controller="data-table">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {'id': 1, 'code': 'a', 'name': 'aaa'}|json_encode }}">
                                    <td>a</td>
                                    <td>aaa</td>
                                </tr>
                                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {'id': 2, 'code': 'b', 'name': 'bbb'}|json_encode }}">
                                    <td>b</td>
                                    <td>bbb</td>
                                </tr>
                                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {'id': 3, 'code': 'c', 'name': 'ccc'}|json_encode }}">
                                    <td>c</td>
                                    <td>ccc</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="product-dialog" class="modal fade" role="dialog" data-controller="bootstrap-modal" data-action="data-table:select@document->bootstrap-modal#close">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="product-grid">
                        <table class="table table-bordered" id="product-table" data-controller="data-table">
                            <thead>
                                <tr>
                                    <th style="width: 0"></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {'id': 1, 'code': 'a', 'name': 'aaa'}|json_encode }}">
                                    <td><input type="checkbox" data-controller="dom-element" data-action="click->dom-element#doNothing:stop" /></td>
                                    <td>a</td>
                                    <td>aaa</td>
                                </tr>
                                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {'id': 2, 'code': 'b', 'name': 'bbb'}|json_encode }}">
                                    <td><input type="checkbox" data-controller="dom-element" data-action="click->dom-element#doNothing:stop" /></td>
                                    <td>b</td>
                                    <td>bbb</td>
                                </tr>
                                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {'id': 3, 'code': 'c', 'name': 'ccc'}|json_encode }}">
                                    <td><input type="checkbox" data-controller="dom-element" data-action="click->dom-element#doNothing:stop" /></td>
                                    <td>c</td>
                                    <td>ccc</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#{% import 'common/modal/dialog.html.twig' as d %}

{% set supplierGrid %}
    <div id="supplier-grid">
        <table class="table table-bordered" data-controller="data-table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr data-action="click->data-table#select" data-data-table-id-param="1">
                    <td>a</td>
                    <td>aaa</td>
                </tr>
                <tr data-action="click->data-table#select" data-data-table-id-param="2">
                    <td>b</td>
                    <td>bbb</td>
                </tr>
                <tr data-action="click->data-table#select" data-data-table-id-param="3">
                    <td>c</td>
                    <td>ccc</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endset %}
{{ d.dialog('supplier-dialog', 'Supplier List', supplierGrid) }}

{% set productGrid %}
    <div id="product-grid">
        {% set options = {url: path('app_transaction_purchase_order_header_new', {_format: 'json'})} %}
        <table class="table table-bordered" {{ stimulus_controller('modal-data-table-prototype', options) }}>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr {{ stimulus_action('modal-data-table-prototype', 'select', 'click', {value: 1, text: 'aaa'}) }}>
                    <td>a</td>
                    <td>aaa</td>
                </tr>
                <tr {{ stimulus_action('modal-data-table-prototype', 'select', 'click', {value: 2, text: 'bbb'}) }}>
                    <td>b</td>
                    <td>bbb</td>
                </tr>
                <tr {{ stimulus_action('modal-data-table-prototype', 'select', 'click', {value: 3, text: 'ccc'}) }}>
                    <td>c</td>
                    <td>ccc</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endset %}
{{ d.dialog('product-dialog', 'Product List', productGrid) }}#}
