{% extends 'layout_page.html.twig' %}

{% block title 'Show Purchase Order Header' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_transaction_purchase_order_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_transaction_purchase_order_header_edit', {'id': purchaseOrderHeader.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Discount Value Type</th>
                <td>{{ purchaseOrderHeader.discountValueType }}</td>
            </tr>
            <tr>
                <th>Discount Value</th>
                <td>{{ purchaseOrderHeader.discountValue }}</td>
            </tr>
            <tr>
                <th>Tax Mode</th>
                <td>{{ purchaseOrderHeader.taxMode }}</td>
            </tr>
            <tr>
                <th>Tax Percentage</th>
                <td>{{ purchaseOrderHeader.taxPercentage }}</td>
            </tr>
            <tr>
                <th>Tax Nominal</th>
                <td>{{ purchaseOrderHeader.taxNominal }}</td>
            </tr>
            <tr>
                <th>Shipping Fee</th>
                <td>{{ purchaseOrderHeader.shippingFee }}</td>
            </tr>
            <tr>
                <th>Sub Total</th>
                <td>{{ purchaseOrderHeader.subTotal }}</td>
            </tr>
            <tr>
                <th>Sub Total After Tax Inclusion</th>
                <td>{{ purchaseOrderHeader.subTotalAfterTaxInclusion }}</td>
            </tr>
            <tr>
                <th>Grand Total</th>
                <td>{{ purchaseOrderHeader.grandTotal }}</td>
            </tr>
            <tr>
                <th>Is Canceled</th>
                <td>{{ purchaseOrderHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Code Number Ordinal</th>
                <td>{{ purchaseOrderHeader.codeNumberOrdinal }}</td>
            </tr>
            <tr>
                <th>Code Number Month</th>
                <td>{{ purchaseOrderHeader.codeNumberMonth }}</td>
            </tr>
            <tr>
                <th>Code Number Year</th>
                <td>{{ purchaseOrderHeader.codeNumberYear }}</td>
            </tr>
            <tr>
                <th>Created Transaction Date Time</th>
                <td>{{ purchaseOrderHeader.createdTransactionDateTime ? purchaseOrderHeader.createdTransactionDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified Transaction Date Time</th>
                <td>{{ purchaseOrderHeader.modifiedTransactionDateTime ? purchaseOrderHeader.modifiedTransactionDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Approved Transaction Date Time</th>
                <td>{{ purchaseOrderHeader.approvedTransactionDateTime ? purchaseOrderHeader.approvedTransactionDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Transaction Date</th>
                <td>{{ purchaseOrderHeader.transactionDate ? purchaseOrderHeader.transactionDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ purchaseOrderHeader.note }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('transaction/purchase_order_header/_delete_form.html.twig') }}
{% endblock %}
