{% extends 'layout_page.html.twig' %}

{% block title 'Show Item Box Key' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_access_point_item_box_key_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_access_point_item_box_key_edit', {'id': itemBoxKey.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Abc</th>
                <td>{{ itemBoxKey.abc }}</td>
            </tr>
            <tr>
                <th>Def</th>
                <td>{{ itemBoxKey.def }}</td>
            </tr>
            <tr>
                <th>Ghi</th>
                <td>{{ itemBoxKey.ghi }}</td>
            </tr>
            <tr>
                <th>Jkl</th>
                <td>{{ itemBoxKey.jkl ? itemBoxKey.jkl|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Mno</th>
                <td>{{ itemBoxKey.mno ? itemBoxKey.mno|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Pqrs</th>
                <td>{{ itemBoxKey.pqrs ? itemBoxKey.pqrs|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Tuv</th>
                <td>{{ itemBoxKey.tuv ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Wxyz</th>
                <td>{{ itemBoxKey.wxyz }}</td>
            </tr>
            <tr>
                <th>Qwerty</th>
                <td>{{ itemBoxKey.qwerty ? itemBoxKey.qwerty|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Dvorak</th>
                <td>{{ itemBoxKey.dvorak }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('access_point/item_box_key/_delete_form.html.twig') }}
{% endblock %}
