{% import 'app/data_grid.html.twig' as grid %}

<div class="d-print-none">
    {{ grid.form(form) }}

    {{ grid.info(form, count, saleReturnHeaders) }}

    {#<div class="text-center">
        <button type="button" class="btn btn-info btn-sm" id="export">Export</button>
    </div>#}

    <hr />
</div>

<div class="report">
    <div class="report-header">
        <div class="report-title">PT. Putracipta Karindomas</div>
        <div class="report-title">Laporan Retur Penjualan</div>
        {#<div>
            {% set startDate = grid.searchVals['saleReturnHeader']['transactionDate'][1]|default %}
            {% set endDate = grid.searchVals['saleReturnHeader']['transactionDate'][2]|default %}
            {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
        </div>#}
    </div>

    <br />

    <table class="report-data">
        <thead class="border-top-solid-bold border-bottom-solid-bold">
            <tr>
                <th class="text-start">Retur #</th>
                <th class="text-start">Tanggal</th>
                <th class="text-start">Pengiriman #</th>
                <th class="text-start">Customer</th>
                <th class="text-start">PO #</th>
                <th class="text-start">Gudang</th>
                <th class="text-start">Note</th>
            </tr>
            <tr>
                <td colspan="7">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-start">Kode</th>
                                <th class="text-start">Nama Item</th>
                                <th class="text-start">Qty Kirim</th>
                                <th class="text-start">Qty Retur</th>
                                <th class="text-start">Satuan</th>
                                <th class="text-start">Harga</th>
                                <th class="text-start">Total</th>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
        </thead>
        <tbody class="border-top-solid-bold border-bottom-solid-bold">
            {% for saleReturnHeader in saleReturnHeaders %}
                <tr>
                    <td class="text-start">{{ saleReturnHeader.codeNumber|default }}</td>
                    <td class="text-start">{{ saleReturnHeader.transactionDate|default ? saleReturnHeader.transactionDate|date('j M Y') }}</td>
                    <td class="text-start">{{ saleReturnHeader.deliveryHeader.codeNumber|default }}</td>
                    <td class="text-start">{{ saleReturnHeader.customer.company|default }}</td>
                    <td class="text-start">{{ saleReturnHeader.saleOrderReferenceNumbers|default }}</td>
                    <td class="text-start">{{ saleReturnHeader.warehouse.name|default }}</td>
                    <td class="text-start">{{ saleReturnHeader.note|default }}</td>
                </tr>
                <tr class="border-bottom-dotted-bold">
                    <td colspan="7">
                        <table>
                            <tbody>
                                {% for saleReturnDetail in saleReturnHeader.saleReturnDetails %}
                                    <tr>
                                        <td class="text-start">{{ saleReturnDetail.product.code|default }}</td>
                                        <td class="text-start">{{ saleReturnDetail.product.name|default }}</td>
                                        <td class="text-center">{{ saleReturnDetail.deliveryDetail.quantity|default|number_format(0) }}</td>
                                        <td class="text-center">{{ saleReturnDetail.quantity|default|number_format(0) }}</td>
                                        <td class="text-start">{{ saleReturnDetail.unit.name|default }}</td>
                                        <td class="text-end">{{ saleReturnDetail.unitPrice|default|number_format(2) }}</td>
                                        <td class="text-end">{{ saleReturnDetail.total|default|number_format(2) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot class="border-top-solid-normal">
                                <tr>
                                    <td class="text-end" colspan="6"><strong>Sub Total</strong></td>
                                    <td class="text-end"><strong>{{ saleReturnHeader.subTotal|default|number_format(2) }}</strong></td>
                                </tr>
                                <tr>
                                    <td class="text-end" colspan="6"><strong>PPn {{ saleReturnHeader.taxPercentage|default }}%</strong></td>
                                    <td class="text-end"><strong>{{ saleReturnHeader.taxNominal|default|number_format(2) }}</strong></td>
                                </tr>
                                <tr>
                                    <td class="text-end" colspan="6"><strong>Grand Total</strong></td>
                                    <td class="text-end"><strong>{{ saleReturnHeader.grandTotal|default|number_format(2) }}</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-print-none">
    <br />
    {{ grid.navigation(form, count, saleReturnHeaders) }}
</div>
