<div>
    <h6>New Transactions</h6>
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Draft Request Material</th>
                <th>Draft Request Kertas</th>
                <th>Approved Request Material</th>
                <th>Approved Request Kertas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center font-weight-bold"><a href="{{ path('app_purchase_purchase_request_header_head') }}">{{ purchaseRequestHeaderCount }}</a></td>
                <td class="text-center font-weight-bold"><a href="{{ path('app_purchase_purchase_request_paper_header_head') }}">{{ purchaseRequestPaperHeaderCount }}</a></td>
                <td class="text-center font-weight-bold"><a href="{{ path('app_purchase_purchase_request_header_approval') }}">{{ purchaseRequestHeaderCountApproval }}</a></td>
                <td class="text-center font-weight-bold"><a href="{{ path('app_purchase_purchase_request_paper_header_approval') }}">{{ purchaseRequestPaperHeaderCountApproval }}</a></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>PO Material</th>
                <th>PO Kertas</th>
                <th>Invoice Pembelian</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center font-weight-bold"><a href="{{ path('app_purchase_purchase_order_header_head') }}">{{ purchaseOrderHeaderCount }}</a></td>
                <td class="text-center font-weight-bold"><a href="{{ path('app_purchase_purchase_order_paper_header_head') }}">{{ purchaseOrderPaperHeaderCount }}</a></td>
                <td class="text-center font-weight-bold"><a href="{{ path('app_purchase_purchase_invoice_header_head') }}">{{ purchaseInvoiceHeaderCount }}</a></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Order Penjualan</th>
                <th>Invoice Penjualan</th>
                <th>Permintaan Produksi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center font-weight-bold"><a href="{{ path('app_sale_sale_order_header_head') }}">{{ saleOrderHeaderCount }}</a></td>
                <td class="text-center font-weight-bold"><a href="{{ path('app_sale_sale_invoice_header_head') }}">{{ saleInvoiceHeaderCount }}</a></td>
                <td class="text-center font-weight-bold"><a href="{{ path('app_stock_inventory_request_header_head') }}">{{ inventoryRequestHeaderCount }}</a></td>
            </tr>
        </tbody>
    </table>
</div>
           
<hr />

{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(saleForm) }}

{{ grid.info(saleForm, saleCount, saleOrderHeaders) }}

<div class="table-responsive">
    <h6>Sales Transactions</h6>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary">
                <th style="min-width: 280px">
                    SO #
                </th>
                <th style="min-width: 280px">
                    Customer
                </th>
                <th style="min-width: 280px">
                    Product
                </th>
                <th style="min-width: 150px">
                    MO #
                </th>
                <th style="min-width: 350px">
                    Pengiriman #
                </th>
                <th style="min-width: 200px">
                    Invoice #
                </th>
                <th style="min-width: 200px">
                    Pelunasan #
                </th>
            </tr>
        </thead>
        <tbody>
            {% for saleOrderHeader in saleOrderHeaders %}
                {% set currentSaleOrderHeader = saleOrderHeaderData[saleOrderHeader.id]|default(saleOrderHeader) %}
                {% set saleOrderDetails = currentSaleOrderHeader.saleOrderDetails %}
                {% set masterOrderProductDetails = saleOrderDetails|map(saleOrderDetail => saleOrderDetail.masterOrderProductDetails)|reduce((a, b) => a|merge(b), []) %}
                {% set deliveryDetails = masterOrderProductDetails|map(masterOrderProductDetail => masterOrderProductDetail.deliveryDetails)|reduce((a, b) => a|merge(b), []) %}
                {% set saleInvoiceDetails = deliveryDetails|map(deliveryDetail => deliveryDetail.saleInvoiceDetails)|reduce((a, b) => a|merge(b), []) %}
                {% set salePaymentDetails = saleInvoiceDetails|map(saleInvoiceDetail => saleInvoiceDetail.saleInvoiceHeader.salePaymentDetails)|reduce((a, b) => a|merge(b), []) %}
                <tr>
                    <td>
                        <a target="_blank" href="{{ path('app_sale_sale_order_header_show', {'id': currentSaleOrderHeader.id}) }}">{{ currentSaleOrderHeader.codeNumber|default }}</a>
                    </td>
                    <td>{{ currentSaleOrderHeader.customer.company }}</td>
                    <td>{{ saleOrderDetails|map(saleOrderDetail => saleOrderDetail.product.name)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                    <td>{{ masterOrderProductDetails|map(masterOrderProductDetail => masterOrderProductDetail.masterOrderHeader.codeNumber)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                    <td>{{ deliveryDetails|map(deliveryDetail => deliveryDetail.deliveryHeader.codeNumber)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                    <td>{{ saleInvoiceDetails|map(saleInvoiceDetail => saleInvoiceDetail.saleInvoiceHeader.codeNumber)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                    <td>{{ salePaymentDetails|map(salePaymentDetail => salePaymentDetail.salePaymentHeader.codeNumber)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(saleForm, saleCount, saleOrderHeaders) }}
         
<hr />

{{ grid.form(purchaseForm) }}

{{ grid.info(purchaseForm, purchaseCount, purchaseOrderHeaders) }}

<div class="table-responsive">
    <h6>Purchase Material Transactions</h6>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary">
                <th style="min-width: 280px">
                    PO #
                </th>
                <th style="min-width: 280px">
                    Supplier
                </th>
                <th style="min-width: 280px">
                    Material
                </th>
                <th style="min-width: 350px">
                    Penerimaan #
                </th>
                <th style="min-width: 200px">
                    Invoice #
                </th>
                <th style="min-width: 200px">
                    Pelunasan #
                </th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseOrderHeader in purchaseOrderHeaders %}
                {% set currentPurchaseOrderHeader = purchaseOrderHeaderData[purchaseOrderHeader.id]|default(purchaseOrderHeader) %}
                {% set purchaseOrderDetails = currentPurchaseOrderHeader.purchaseOrderDetails %}
                {% set receiveDetails = purchaseOrderDetails|map(purchaseOrderDetail => purchaseOrderDetail.receiveDetails)|reduce((a, b) => a|merge(b), []) %}
                {% set purchaseInvoiceDetails = receiveDetails|map(receiveDetail => receiveDetail.purchaseInvoiceDetails)|reduce((a, b) => a|merge(b), []) %}
                {% set purchasePaymentDetails = purchaseInvoiceDetails|map(purchaseInvoiceDetail => purchaseInvoiceDetail.purchaseInvoiceHeader.purchasePaymentDetails)|reduce((a, b) => a|merge(b), []) %}
                <tr>
                    <td>
                        <a target="_blank" href="{{ path('app_purchase_purchase_order_header_show', {'id': currentPurchaseOrderHeader.id}) }}">{{ currentPurchaseOrderHeader.codeNumber|default }}</a>
                    </td>
                    <td>{{ currentPurchaseOrderHeader.supplier.company }}</td>
                    <td>{{ purchaseOrderDetails|map(purchaseOrderDetail => purchaseOrderDetail.material.name)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                    <td>{{ receiveDetails|map(receiveDetail => receiveDetail.receiveHeader.codeNumber)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                    <td>{{ purchaseInvoiceDetails|map(purchaseInvoiceDetail => purchaseInvoiceDetail.purchaseInvoiceHeader.codeNumber)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                    <td>{{ purchasePaymentDetails|map(purchasePaymentDetail => purchasePaymentDetail.purchasePaymentHeader.codeNumber)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(purchaseForm, purchaseCount, purchaseOrderHeaders) }}  

<hr />

{{ grid.form(purchasePaperForm) }}

{{ grid.info(purchasePaperForm, purchasePaperCount, purchaseOrderPaperHeaders) }}

<div class="table-responsive">
    <h6>Purchase Paper Transactions</h6>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary">
                <th style="min-width: 280px">
                    PO Kertas #
                </th>
                <th style="min-width: 280px">
                    Supplier
                </th>
                <th style="min-width: 280px">
                    Kertas
                </th>
                <th style="min-width: 350px">
                    Penerimaan #
                </th>
                <th style="min-width: 200px">
                    Invoice #
                </th>
                <th style="min-width: 200px">
                    Pelunasan #
                </th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseOrderPaperHeader in purchaseOrderPaperHeaders %}
                {% set currentPurchaseOrderPaperHeader = purchaseOrderPaperHeaderData[purchaseOrderPaperHeader.id]|default(purchaseOrderPaperHeader) %}
                {% set purchaseOrderPaperDetails = currentPurchaseOrderPaperHeader.purchaseOrderPaperDetails %}
                {% set receiveDetails = purchaseOrderPaperDetails|map(purchaseOrderPaperDetail => purchaseOrderPaperDetail.receiveDetails)|reduce((a, b) => a|merge(b), []) %}
                {% set purchaseInvoiceDetails = receiveDetails|map(receiveDetail => receiveDetail.purchaseInvoiceDetails)|reduce((a, b) => a|merge(b), []) %}
                {% set purchasePaymentDetails = purchaseInvoiceDetails|map(purchaseInvoiceDetail => purchaseInvoiceDetail.purchaseInvoiceHeader.purchasePaymentDetails)|reduce((a, b) => a|merge(b), []) %}
                <tr>
                    <td>
                        <a target="_blank" href="{{ path('app_purchase_purchase_order_paper_header_show', {'id': currentPurchaseOrderPaperHeader.id}) }}">{{ currentPurchaseOrderPaperHeader.codeNumber|default }}</a>
                    </td>
                    <td>{{ currentPurchaseOrderPaperHeader.supplier.company }}</td>
                    <td>{{ purchaseOrderPaperDetails|map(purchaseOrderPaperDetail => purchaseOrderPaperDetail.paper.name)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                    <td>{{ receiveDetails|map(receiveDetail => receiveDetail.receiveHeader.codeNumber)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                    <td>{{ purchaseInvoiceDetails|map(purchaseInvoiceDetail => purchaseInvoiceDetail.purchaseInvoiceHeader.codeNumber)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                    <td>{{ purchasePaymentDetails|map(purchasePaymentDetail => purchasePaymentDetail.purchasePaymentHeader.codeNumber)|reduce((a, b) => b in a ? a : a|merge([b]), [])|join(', ') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(purchasePaperForm, purchasePaperCount, purchaseOrderPaperHeaders) }}