<div>
    <h6>New Transactions</h6>
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>PO Material</th>
                <th>PO Kertas</th>
                <th>Invoice Pembelian</th>
                <th>Order Penjualan</th>
                <th>Invoice Penjualan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center font-weight-bold">{{ purchaseOrderHeaderCount }}</td>
                <td class="text-center font-weight-bold">{{ purchaseOrderPaperHeaderCount }}</td>
                <td class="text-center font-weight-bold">{{ purchaseInvoiceHeaderCount }}</td>
                <td class="text-center font-weight-bold">{{ saleOrderHeaderCount }}</td>
                <td class="text-center font-weight-bold">{{ saleInvoiceHeaderCount }}</td>
            </tr>
        </tbody>
    </table>
</div>
