{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-grid" {{ stimulus_controller('submit') }}>
        <button class="btn btn-secondary" {{ stimulus_action('submit', 'confirm', null, {message: 'Save?'}) }}>Save</button>
    </div>
{{ form_end(form) }}
