{% import 'common/grid/datagrid.html.twig' as datagrid %}

{{ datagrid.form(form) }}

{{ datagrid.info(form, count, samples) }}

<table class="table table-bordered table-striped">
    <thead>
        <tr class="table-primary" data-controller="sort-link" data-sort-link-panel-target-value="#{{ form.sort.vars.id }}">
            <th data-action="click->sort-link#post"
                data-sort-order="{{ form.sort.name.vars.value|default }}"
                data-sort-link-field-name-param="name"
                data-sort-link-value-list-param="{{ ['ASC', 'DESC']|json_encode }}">Name</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr data-controller="filter-link" data-filter-link-panel-target-value="#{{ form.filter.vars.id }}">
            <th>
                <input type="text" value="{{ form.filter.name.1.vars.value|default }}"
                       data-action="change->filter-link#post"
                       data-filter-link-field-name-param="name"
                       data-filter-link-values-map-param="{{ ['App\\Common\\Data\\Operator\\FilterEqual', true]|json_encode }}"
                       data-filter-link-special-values-map-param="{{ {'': ['']}|json_encode }}" />
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for sample in samples %}
            <tr>
                <td>{{ sample.name|default }}</td>
                <td>{{ sample.price|default }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_sample_show', {'id': sample.id}) }}">Show</a>
                    <a class="btn btn-warning btn-sm" href="{{ path('app_sample_edit', {'id': sample.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ datagrid.navigation(form, count, samples) }}
