<div data-controller="event-emitter json-loader"
     data-action="data-table:select->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'data-table:select': 'id'}|json_encode }}"
     data-json-loader-url-value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}"
     data-json-loader-method-value="POST"
     data-json-loader-form-target-value="{{ "form[name=#{form.vars.name}]" }}">

    {{ form_start(form) }}
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Header</legend>
            <div class="row">
                <div class="col">
                    {{ form_row(form.productionDate, {'label': 'Tanggal MO', 'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input'}}) }}
                    {{ form_row(form.deliveryDate, {'label': 'Tanggal Kirim', 'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input'}}) }}
                    {{ form_row(form.printingMachine, {'label': 'Mesin Cetak'}) }}
                    {{ form_row(form.designCode, {'label': 'Kode Design'}) }}
                    <div class="mb-3">
                        <label class="form-label">Stock/Kekurangan (pcs)</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.quantityStock) }}
                                    {{ form_errors(form.quantityStock) }}
                                    <span class="input-group-text">/</span>
                                    {{ form_widget(form.quantityProduction) }}
                                    {{ form_errors(form.quantityProduction) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Warna / Pantone</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.color) }}
                                    {{ form_errors(form.color) }}
                                    <span class="input-group-text">/</span>
                                    {{ form_widget(form.pantone) }}
                                    {{ form_errors(form.pantone) }}
                                    <span class="input-group-text">+</span>
                                    {{ form_widget(form.colorPantoneAdditional) }}
                                    {{ form_errors(form.colorPantoneAdditional) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_row(form.finishing, {'label': 'Finishing'}) }}
                    <div class="mb-3">
                        <label class="form-label">Jumlah Up Cetak</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.quantityPrinting) }}
                                    {{ form_errors(form.quantityPrinting) }}
                                    <span class="input-group-text">&</span>
                                    {{ form_widget(form.quantityPrinting2) }}
                                    {{ form_errors(form.quantityPrinting2) }}
                                    <span class="input-group-text">Up/s</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ukuran Mountage / Kris (cm)</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.mountageSizeLength) }}
                                    {{ form_errors(form.mountageSizeLength) }}
                                    <span class="input-group-text">x</span>
                                    {{ form_widget(form.mountageSizeWidth) }}
                                    {{ form_errors(form.mountageSizeWidth) }}
                                </div>
                            </div>
                        </div>
                    </div>
                                
                    <label class="form-label">Status Cetakan</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.printingStatus, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.printingStatusData, {'label': false}) }}   
                        </div>
                    </div>
                    {{ form_row(form.dieLineFilmNumber, {'label': 'No. Film Dieline Diecut'}) }}                        
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="{{ form.saleOrderDetail.vars.id }}-text" class="form-label">PO Customer #</label>
                        {{ form_row(form.saleOrderDetail, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'sale-order-detail-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.saleOrderDetailId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.saleOrderDetail.vars.id }}-text" class="form-control readonly-form-input {% if not form.saleOrderDetail.vars.valid %}is-invalid{% endif %}" value="{{ masterOrder.saleOrderDetail.saleOrderHeader.referenceNumber|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#sale-order-detail-dialog"
                               data-controller="dom-element"
                               data-action="sale-order-detail-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.saleOrderHeaderReferenceNumber'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.saleOrderDetail) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tanggal PO</label>
                        <input type="text" class="form-control" value="{{ masterOrder.saleOrderDetail.saleOrderHeader.transactionDate|default ? masterOrder.saleOrderDetail.saleOrderHeader.transactionDate|date('d M Y') : '' }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="sale-order-detail-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.saleOrderHeaderDate'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Customer</label>
                        <input type="text" class="form-control" value="{{ masterOrder.saleOrderDetail.saleOrderHeader.customer.company|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="sale-order-detail-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.customerCompany'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Kode Produk</label>
                        <input type="text" class="form-control" value="{{ masterOrder.product.code|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="sale-order-detail-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.productCode'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nama Produk</label>
                        <input type="text" class="form-control" value="{{ masterOrder.product.name|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="sale-order-detail-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.productName'}},
                               ]|json_encode }}" />
                    </div>
                    {{ form_row(form.quantityOrder, {
                        'attr': {
                            'data-controller': 'dom-element',
                            'data-action': 'sale-order-detail-table:data-table:select@document->dom-element#bind',
                            'data-dom-element-bind-specifications-param': [
                                {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.saleOrderDetailQuantity'}},
                            ]|json_encode,
                        },
                        'label': 'Quantity Order (pcs)',
                    }) }}
                    <div class="mb-3">
                        <label class="form-label">Ukuran Jadi (mm)</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text">P</span>
                                    {{ form_widget(form.dimensionLength, {
                                        'attr': {
                                            'data-controller': 'dom-element',
                                            'data-action': 'sale-order-detail-table:data-table:select@document->dom-element#bind',
                                            'data-dom-element-bind-specifications-param': [
                                                {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.productLength'}},
                                            ]|json_encode,
                                        },
                                        'label': 'Quantity Order (pcs)',
                                    }) }}
                                    {{ form_errors(form.dimensionLength) }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text">L</span>
                                    {{ form_widget(form.dimensionWidth, {
                                        'attr': {
                                            'data-controller': 'dom-element',
                                            'data-action': 'sale-order-detail-table:data-table:select@document->dom-element#bind',
                                            'data-dom-element-bind-specifications-param': [
                                                {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.productWidth'}},
                                            ]|json_encode,
                                        },
                                        'label': 'Quantity Order (pcs)',
                                    }) }} 
                                    {{ form_errors(form.dimensionWidth) }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text">T</span>
                                    {{ form_widget(form.dimensionHeight, {
                                        'attr': {
                                            'data-controller': 'dom-element',
                                            'data-action': 'sale-order-detail-table:data-table:select@document->dom-element#bind',
                                            'data-dom-element-bind-specifications-param': [
                                                {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.productHeight'}},
                                            ]|json_encode,
                                        },
                                        'label': 'Quantity Order (pcs)',
                                    }) }}
                                    {{ form_errors(form.dimensionHeight) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.paper.vars.id }}-text" class="form-label">Material Kertas</label>
                        {{ form_row(form.paper, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'paper-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.paperId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.paper.vars.id }}-text" class="form-control readonly-form-input {% if not form.paper.vars.valid %}is-invalid{% endif %}" value="{{ masterOrder.paper.paperNameSizeCombination|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#paper-dialog"
                               data-controller="dom-element"
                               data-action="paper-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.paperName'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.paper) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Gram</label>
                        <input type="text" class="form-control" value="{{ masterOrder.paper.weight|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="paper-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.paperWeight'}},
                               ]|json_encode }}" />
                    </div>
                    <label class="form-label">Pisau Die Cut</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.dieCutBlade, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.dieCutBladeData, {'label': false}) }}
                        </div>
                    </div>
                    {{ form_row(form.dieCutBladeNumber, {'label': 'No. Pisau Diecut'}) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Kebutuhan Material Kertas</legend>
            <div class="row">
                <div class="col">
                    {{ form_row(form.insitPercentage, {'label': '% Insit'}) }}
                    {{ form_row(form.quantityPaper, {'label': 'Quantity Kertas (Rim)'}) }}
                    {{ form_row(form.paperMountage, {'label': 'Mountage Kertas (Up)'}) }}
                    <div class="mb-3">
                        <label class="form-label">Uk Plano Kertas (cm)</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.paperPlanoLength) }}
                                    {{ form_errors(form.paperPlanoLength) }}
                                    <span class="input-group-text">x</span>
                                    {{ form_widget(form.paperPlanoWidth) }}
                                    {{ form_errors(form.paperPlanoWidth) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Uk Potong 1 (cm)</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.cuttingLengthSize1) }}
                                    {{ form_errors(form.cuttingLengthSize1) }}
                                    <span class="input-group-text">x</span>
                                    {{ form_widget(form.cuttingWidthSize1) }}
                                    {{ form_errors(form.cuttingWidthSize1) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Uk Potong 2 (cm)</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.cuttingLengthSize2) }}
                                    {{ form_errors(form.cuttingLengthSize2) }}
                                    <span class="input-group-text">x</span>
                                    {{ form_widget(form.cuttingWidthSize2) }}
                                    {{ form_errors(form.cuttingWidthSize2) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    {{ form_row(form.paperRequirement, {'label': 'Kebutuhan (dreek)'}) }}
                    {{ form_row(form.printingInsit, {'label': 'Insit cetak (dreek)'}) }}
                    {{ form_row(form.paperTotal, {'label': 'Total Kertas (dreek)'}) }}
                    <div class="mb-3">
                        <label for="{{ form.purchaseOrderPaperHeader.vars.id }}-text" class="form-label">PO Kertas #</label>
                        {{ form_row(form.purchaseOrderPaperHeader, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'purchase-order-paper-header-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].purchaseOrderPaperHeaderId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.purchaseOrderPaperHeader.vars.id }}-text" class="form-control readonly-form-input {% if not form.purchaseOrderPaperHeader.vars.valid %}is-invalid{% endif %}" value="{{ masterOrder.purchaseOrderPaperHeader.codeNumber|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#purchase-order-paper-header-dialog"
                               data-controller="dom-element"
                               data-action="purchase-order-paper-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].purchaseOrderPaperHeaderCodeNumber'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.purchaseOrderPaperHeader) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tanggal PO</label>
                        <input type="text" class="form-control" value="{{ masterOrder.purchaseOrderPaperHeader.transactionDate|default ? masterOrder.purchaseOrderPaperHeader.transactionDate|date('d M Y') : '' }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="purchase-order-paper-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].purchaseOrderPaperHeaderTransactionDate'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Supplier</label>
                        <input type="text" class="form-control" value="{{ masterOrder.purchaseOrderPaperHeader.supplier.company|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="purchase-order-paper-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].supplierCompany'}},
                               ]|json_encode }}" />
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Estimasi Tinta / Chemical</legend>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Cyan</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.inkCyanPercentage) }}
                                    {{ form_errors(form.inkCyanPercentage) }}
                                    <span class="input-group-text">%</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.inkCyanWeight) }}
                                    {{ form_errors(form.inkCyanWeight) }}
                                    <span class="input-group-text">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Magenta</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.inkMagentaPercentage) }}
                                    {{ form_errors(form.inkMagentaPercentage) }}
                                    <span class="input-group-text">%</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.inkMagentaWeight) }}
                                    {{ form_errors(form.inkMagentaWeight) }}
                                    <span class="input-group-text">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Yellow</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.inkYellowPercentage) }}
                                    {{ form_errors(form.inkYellowPercentage) }}
                                    <span class="input-group-text">%</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.inkYellowWeight) }}
                                    {{ form_errors(form.inkYellowWeight) }}
                                    <span class="input-group-text">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Black</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.inkBlackPercentage) }}
                                    {{ form_errors(form.inkBlackPercentage) }}
                                    <span class="input-group-text">%</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.inkBlackWeight) }}
                                    {{ form_errors(form.inkBlackWeight) }}
                                    <span class="input-group-text">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">OPV / WB / UV</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.inkOpvPercentage) }}
                                    {{ form_errors(form.inkOpvPercentage) }}
                                    <span class="input-group-text">%</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.inkOpvWeight) }}
                                    {{ form_errors(form.inkOpvWeight) }}
                                    <span class="input-group-text">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Khusus-1</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.inkK1Color) }}
                                    {{ form_errors(form.inkK1Color) }}
                                    <span class="input-group-text">:</span>
                                    {{ form_widget(form.inkK1Percentage) }}
                                    {{ form_errors(form.inkK1Percentage) }}
                                    <span class="input-group-text">%</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.inkK1Weight) }}
                                    {{ form_errors(form.inkK1Weight) }}
                                    <span class="input-group-text">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Khusus-2</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.inkK2Color) }}
                                    {{ form_errors(form.inkK2Color) }}
                                    <span class="input-group-text">:</span>
                                    {{ form_widget(form.inkK2Percentage) }}
                                    {{ form_errors(form.inkK2Percentage) }}
                                    <span class="input-group-text">%</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.inkK2Weight) }}
                                    {{ form_errors(form.inkK2Weight) }}
                                    <span class="input-group-text">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Khusus-3</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.inkK3Color) }}
                                    {{ form_errors(form.inkK3Color) }}
                                    <span class="input-group-text">:</span>
                                    {{ form_widget(form.inkK3Percentage) }}
                                    {{ form_errors(form.inkK3Percentage) }}
                                    <span class="input-group-text">%</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.inkK3Weight) }}
                                    {{ form_errors(form.inkK3Weight) }}
                                    <span class="input-group-text">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Khusus-4</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.inkK4Color) }}
                                    {{ form_errors(form.inkK4Color) }}
                                    <span class="input-group-text">:</span>
                                    {{ form_widget(form.inkK4Percentage) }}
                                    {{ form_errors(form.inkK4Percentage) }}
                                    <span class="input-group-text">%</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.inkK4Weight) }}
                                    {{ form_errors(form.inkK4Weight) }}
                                    <span class="input-group-text">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Laminating</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.inkLaminatingSize) }}
                                    {{ form_errors(form.inkLaminatingSize) }}
                                    <span class="input-group-text">cm</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.inkLaminatingQuantity) }}
                                    {{ form_errors(form.inkLaminatingQuantity) }}
                                    <span class="input-group-text">roll</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Estimasi Packaging</legend>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Lem</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.packagingGlueQuantity) }}
                                    {{ form_errors(form.packagingGlueQuantity) }}
                                    <span class="input-group-text">cm/pcs</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.packagingGlueWeight) }}
                                    {{ form_errors(form.packagingGlueWeight) }}
                                    <span class="input-group-text">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Karet</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.packagingRubberQuantity) }}
                                    {{ form_errors(form.packagingRubberQuantity) }}
                                    <span class="input-group-text">pcs/ikat</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.packagingRubberWeight) }}
                                    {{ form_errors(form.packagingRubberWeight) }}
                                    <span class="input-group-text">pcs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Kertas Packing</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.packagingPaperQuantity) }}
                                    {{ form_errors(form.packagingPaperQuantity) }}
                                    <span class="input-group-text">pcs/pack</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.packagingPaperWeight) }}
                                    {{ form_errors(form.packagingPaperWeight) }}
                                    <span class="input-group-text">lbr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Dus</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.packagingBoxQuantity) }}
                                    {{ form_errors(form.packagingBoxQuantity) }}
                                    <span class="input-group-text">pcs/dus</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.packagingBoxWeight) }}
                                    {{ form_errors(form.packagingBoxWeight) }}
                                    <span class="input-group-text">pcs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Lakban >besar</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.packagingTapeLargeQuantity) }}
                                    {{ form_errors(form.packagingTapeLargeQuantity) }}
                                    <span class="input-group-text">cm/pack(dus)</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.packagingTapeLargeSize) }}
                                    {{ form_errors(form.packagingTapeLargeSize) }}
                                    <span class="input-group-text">roll</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Lakban >kecil</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.packagingTapeSmallQuantity) }}
                                    {{ form_errors(form.packagingTapeSmallQuantity) }}
                                    <span class="input-group-text">cm/pack(dus)</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.packagingTapeSmallSize) }}
                                    {{ form_errors(form.packagingTapeSmallSize) }}
                                    <span class="input-group-text">roll</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Plastik</label>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(form.packagingPlasticQuantity) }}
                                    {{ form_errors(form.packagingPlasticQuantity) }}
                                    <span class="input-group-text">cm2/pack</span>
                                    <span class="input-group-text">=</span>
                                    {{ form_widget(form.packagingPlasticSize) }}
                                    {{ form_errors(form.packagingPlasticSize) }}
                                    <span class="input-group-text">m2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <div class="row">
                <div class="col">
                    {{ form_row(form.workOrderDistribution, {'label': 'Distribusi WO'}) }}
                </div>
                <div class="col">
                    <div class="row">
                        <label class="form-label">Urutan Proses</label>
                        <div class="col border border-secondary rounded">
                            <table class="table table-sm table-bordered table-striped" id="process-table" data-controller="data-table">
                                <tbody>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'Potong Bahan'}|json_encode }}">
                                        <td>Potong Bahan</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'Cetak'}|json_encode }}">
                                        <td>Cetak</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'OPV / MATT'}|json_encode }}">
                                        <td>OPV / MATT</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'WB / Free WB'}|json_encode }}">
                                        <td>WB / Free WB</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'UV / Spot UV'}|json_encode }}">
                                        <td>UV / Spot UV</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'Laminating'}|json_encode }}">
                                        <td>Laminating</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'Calendering'}|json_encode }}">
                                        <td>Calendering</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'Laminasi Flute'}|json_encode }}">
                                        <td>Laminasi Flute</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'Hot Stamp'}|json_encode }}">
                                        <td>Hot Stamp</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'Stitching'}|json_encode }}">
                                        <td>Stitching</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'Potong Jadi'}|json_encode }}">
                                        <td>Potong Jadi</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'Embos'}|json_encode }}">
                                        <td>Embos</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'PON'}|json_encode }}">
                                        <td>PON</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'Kopek'}|json_encode }}">
                                        <td>Kopek</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'Sortir'}|json_encode }}">
                                        <td>Sortir</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': 'Lem / Gerinda'}|json_encode }}">
                                        <td>Lem / Gerinda</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div data-controller="form-collection" class="col border border-secondary rounded"
                             data-form-collection-start-index-value="{{ form.processList|length > 0 ? form.processList|last.vars.name + 1 : 0 }}"
                             data-form-collection-prototype-value="{{ _self.process_collection_item(form.processList.vars.prototype)|e('html_attr') }}">
                            <div data-form-collection-target="items" data-action="process-table:data-table:select@document->form-collection#addCollectionItem">
                                {% macro process_collection_item(processForm) %}
                                    <div data-form-collection-target="item" data-item-identifier-name="processName" data-item-identifier-value="{{ processForm.vars.value|default }}">
                                        <div class="d-inline-block w-75">
                                            {{ form_widget(processForm, {'attr': {'data-item-field-name': 'processName', 'readonly': true, 'class': 'form-control-sm'}}) }}
                                        </div>
                                        <div class="d-inline-block">
                                            <button type="button" class="btn btn-outline-dark btn-sm" data-action="form-collection#removeCollectionItem"><i class="bi-x-lg"></i></button>
                                        </div>
                                    </div>
                                {% endmacro %}
                                {% for processForm in form.processList %}
                                    {{ _self.process_collection_item(processForm) }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <div class="row">
                <div class="col">
                    {{ form_row(form.transactionFile, {
                        'label': transactionFileExists ? 'A File has been uploaded' : 'Upload File', 
                        'label_attr': {
                            'class': transactionFileExists ? 'text-danger fw-bold' : ''
                        }
                    }) }}
                    {{ form_row(form.note, {'label': 'Keterangan'}) }}
                </div>
            </div>
        </fieldset>

        <div class="d-grid">
            <button class="btn btn-success"
                    data-controller="dom-element"
                    data-action="dom-element#confirm"
                    data-dom-element-confirm-message-param="Are you sure you want to save this transaction?">
                Save
            </button>
        </div>
    {{ form_end(form) }}

    {% import 'app/bootstrap_dialog.html.twig' as dialog %}

    {{ dialog.start('sale-order-detail-dialog', 'Customer Order List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_sale_order_detail__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}

    {{ dialog.start('paper-dialog', 'Paper List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_paper__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}

    {{ dialog.start('purchase-order-paper-header-dialog', 'PO Paper List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_purchase_order_paper_header__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}
</div>
