<div data-controller="event-emitter json-loader"
     data-action="data-table:select->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'data-table:select': 'id'}|json_encode }}"
     data-json-loader-url-value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}"
     data-json-loader-method-value="POST"
     data-json-loader-form-target-value="{{ "form[name=#{form.vars.name}]" }}">

    {{ form_start(form) }}
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Header</legend>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col border border-secondary rounded">
                            <table class="table table-sm table-bordered table-striped" id="process-table" data-controller="data-table">
                                <tbody>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': '123'}|json_encode }}">
                                        <td>123</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': '456'}|json_encode }}">
                                        <td>456</td>
                                    </tr>
                                    <tr role="button" data-action="click->data-table#select" data-data-table-values-param="{{ {'processName': '789'}|json_encode }}">
                                        <td>789</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div data-controller="form-collection" class="col border border-secondary rounded"
                             data-form-collection-start-index-value="{{ form.processList|length > 0 ? form.processList|last.vars.name + 1 : 0 }}"
                             data-form-collection-prototype-value="{{ _self.process_collection_item(form.processList.vars.prototype)|e('html_attr') }}">
                            <div data-form-collection-target="items" data-action="process-table:data-table:select@document->form-collection#addCollectionItem">
                                {% macro process_collection_item(processForm) %}
                                    <div data-form-collection-target="item" data-item-identifier-name="processName" data-item-identifier-value="{{ processForm.vars.value|default }}">
                                        <div class="d-inline-block w-75">
                                            {{ form_widget(processForm, {'attr': {'data-item-field-name': 'processName', 'readonly': true, 'class': 'form-control-sm'}}) }}
                                        </div>
                                        <div class="d-inline-block">
                                            <button type="button" class="btn btn-outline-dark btn-sm" data-action="form-collection#removeCollectionItem"><i class="bi-x-lg"></i></button>
                                        </div>
                                    </div>
                                {% endmacro %}
                                {% for processForm in form.processList %}
                                    {{ _self.process_collection_item(processForm) }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {{ form_row(form.productionDate, {'label': 'Tanggal MO', 'attr': {'data-controller': 'flatpickr-element'}}) }}
                    {{ form_row(form.deliveryDate, {'label': 'Tanggal Kirim', 'attr': {'data-controller': 'flatpickr-element'}}) }}
                    {{ form_row(form.printingMachine, {'label': 'Mesin Cetak'}) }}
                    {{ form_row(form.designCode, {'label': 'Kode Design'}) }}
                    {{ form_row(form.quantityOrder, {'label': 'Quantity Order'}) }}
                    {{ form_row(form.quantityStock, {'label': 'Stock / Kekurangan (pcs)'}) }}
                    {{ form_row(form.color, {'label': 'Warna / Pantone'}) }}
                    {{ form_row(form.finishing, {'label': 'Finishing'}) }}
                    {{ form_row(form.quantityPrinting, {'label': 'Jumlah Up Cetak'}) }}
                    <label class="form-label">Ukuran Mountage / Kris (cm)</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.mountageSizeLength, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.mountageSizeWidth, {'label': false}) }}
                        </div>
                    </div>
                    {{ form_row(form.isUsingHotStamping, {'label': 'Hot Stamping'}) }}
                    <label class="form-label">Status Cetakan</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.printingStatus, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.printingStatusData, {'label': false}) }}   
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="{{ form.saleOrderDetail.vars.id }}-text" class="form-label">PO Customer #</label>
                        {{ form_row(form.saleOrderDetail, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'sale-order-detail-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.saleOrderDetailId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.saleOrderDetail.vars.id }}-text" class="form-control {% if not form.saleOrderDetail.vars.valid %}is-invalid{% endif %}" value="{{ masterOrder.saleOrderDetail.saleOrderHeader.codeNumber|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#sale-order-detail-dialog"
                               data-controller="dom-element"
                               data-action="sale-order-detail-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.saleOrderHeaderCodeNumber'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.saleOrderDetail) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tanggal PO</label>
                        <input type="text" class="form-control" value="{{ masterOrder.saleOrderDetail.saleOrderHeader.transactionDate|default ? masterOrder.saleOrderDetail.saleOrderHeader.transactionDate|date('d M Y') : '' }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="sale-order-detail-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.saleOrderHeaderDate'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Customer</label>
                        <input type="text" class="form-control" value="{{ masterOrder.saleOrderDetail.saleOrderHeader.customer.company|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="sale-order-detail-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.customerCompany'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Kode Produk</label>
                        <input type="text" class="form-control" value="{{ masterOrder.product.code|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="sale-order-detail-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.productCode'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nama Produk</label>
                        <input type="text" class="form-control" value="{{ masterOrder.product.name|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="sale-order-detail-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.productName'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.paper.vars.id }}-text" class="form-label">Material Kertas</label>
                        {{ form_row(form.paper, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'paper-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.paperId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.paper.vars.id }}-text" class="form-control {% if not form.paper.vars.valid %}is-invalid{% endif %}" value="{{ masterOrder.paper.name|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#paper-dialog"
                               data-controller="dom-element"
                               data-action="paper-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.paperName'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.paper) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Kode Kertas</label>
                        <input type="text" class="form-control" value="{{ masterOrder.paper.code|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="paper-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.paperCode'}},
                               ]|json_encode }}" />
                    </div>
                    <label class="form-label">Ukuran Jadi (mm)</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.dimensionLength, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.dimensionWidth, {'label': false}) }} 
                        </div>
                        <div class="col">
                            {{ form_row(form.dimensionHeight, {'label': false}) }}
                        </div>
                    </div>
                    <label class="form-label">Pisau Die Cut</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.dieCutBlade, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.dieCutBladeData, {'label': false}) }}
                        </div>
                    </div>
                    {{ form_row(form.dieCutBladeNumber, {'label': 'No. Pisau Diecut'}) }}
                    {{ form_row(form.dieLineFilmNumber, {'label': 'No. Film Dieline Diecut'}) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Kebutuhan Material Kertas</legend>
            <div class="row">
                <div class="col">
                    {{ form_row(form.insitPercentage, {'label': '% Insit'}) }}
                    {{ form_row(form.quantityPaper, {'label': 'Quantity Kertas (Rim)'}) }}
                    {{ form_row(form.paperMountage, {'label': 'Mountage Kertas (Up)'}) }}
                    <label class="form-label">Uk Plano Kertas</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.paperPlanoLength, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.paperPlanoWidth, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Uk Potong 1</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.cuttingLengthSize1, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.cuttingWidthSize1, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Uk Potong 2</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.cuttingLengthSize2, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.cuttingWidthSize2, {'label': false}) }}
                        </div>
                    </div>
                </div>
                <div class="col">
                    {{ form_row(form.paperRequirement, {'label': 'Kebutuhan (dreek)'}) }}
                    {{ form_row(form.printingInsit, {'label': 'Insit cetak (dreek)'}) }}
                    {{ form_row(form.paperTotal, {'label': 'Total Kertas (dreek)'}) }}
                    <div class="mb-3">
                        <label for="{{ form.purchaseOrderPaperHeader.vars.id }}-text" class="form-label">PO Kertas #</label>
                        {{ form_row(form.purchaseOrderPaperHeader, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'purchase-order-paper-header-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].purchaseOrderPaperHeaderId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.purchaseOrderPaperHeader.vars.id }}-text" class="form-control {% if not form.purchaseOrderPaperHeader.vars.valid %}is-invalid{% endif %}" value="{{ masterOrder.purchaseOrderPaperHeader.codeNumber|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#purchase-order-paper-header-dialog"
                               data-controller="dom-element"
                               data-action="purchase-order-paper-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].purchaseOrderPaperHeaderCodeNumber'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.purchaseOrderPaperHeader) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tanggal PO</label>
                        <input type="text" class="form-control" value="{{ masterOrder.purchaseOrderPaperHeader.transactionDate|default ? masterOrder.purchaseOrderPaperHeader.transactionDate|date('d M Y') : '' }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="purchase-order-paper-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].purchaseOrderPaperHeaderTransactionDate'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Supplier</label>
                        <input type="text" class="form-control" value="{{ masterOrder.purchaseOrderPaperHeader.supplier.company|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="purchase-order-paper-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].supplierCompany'}},
                               ]|json_encode }}" />
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Estimasi Tinta / Chemical</legend>
            <div class="row">
                <div class="col">
                        
                    <label class="form-label">Cyan</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.inkCyanPercentage, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.inkCyanWeight, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Magenta</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.inkMagentaPercentage, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.inkMagentaWeight, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Yellow</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.inkYellowPercentage, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.inkYellowWeight, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Black</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.inkBlackPercentage, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.inkBlackWeight, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">OPV / WB / UV</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.inkOpvPercentage, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.inkOpvWeight, {'label': false}) }}
                        </div>
                    </div>
                </div>
                        
                <div class="col">
                        
                    <label class="form-label">K-1</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.inkK1Percentage, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.inkK1Weight, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">K-2</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.inkK2Percentage, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.inkK2Weight, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">K-3</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.inkK3Percentage, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.inkK3Weight, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">K-4</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.inkK4Percentage, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.inkK4Weight, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Laminating</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.inkLaminatingSize, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.inkLaminatingQuantity, {'label': false}) }}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Estimasi Packaging</legend>
            <div class="row">
                <div class="col">
                        
                    <label class="form-label">Lem</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.packagingGlueQuantity, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.packagingGlueWeight, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Karet</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.packagingRubberQuantity, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.packagingRubberWeight, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Kertas Packing</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.packagingPaperQuantity, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.packagingPaperWeight, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Dus</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.packagingBoxQuantity, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.packagingBoxWeight, {'label': false}) }}
                        </div>
                    </div>
                </div>
                        
                <div class="col">
                    <label class="form-label">Lakban >besar</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.packagingTapeLargeQuantity, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.packagingTapeLargeSize, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Lakban >kecil</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.packagingTapeSmallQuantity, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.packagingTapeSmallSize, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Plastik</label>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.packagingPlasticQuantity, {'label': false}) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.packagingPlasticSize, {'label': false}) }}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <div class="row">
                <div class="col">
                    {{ form_row(form.workOrderDistribution, {'label': 'Distribusi WO'}) }}
                </div>
                
                <div class="col">
                </div>
            </div>
                
            <div class="row">
                <div class="col">
                    {{ form_row(form.note, {'label': 'Catatan'}) }}
                </div>
            </div>
        </fieldset>

        <div class="d-grid">
            <button class="btn btn-success"
                    data-controller="dom-element"
                    data-action="dom-element#confirm"
                    data-dom-element-confirm-message-param="Are you sure you want to save this transaction?">
                Save
            </button>
        </div>
    {{ form_end(form) }}

    {% import 'app/bootstrap_dialog.html.twig' as dialog %}

    {{ dialog.start('sale-order-detail-dialog', 'Customer Order List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_sale_order_detail__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}

    {{ dialog.start('paper-dialog', 'Paper List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_paper__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}

    {{ dialog.start('purchase-order-paper-header-dialog', 'PO Paper List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_purchase_order_paper_header__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}
</div>
