{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, masterOrders) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="min-width: 280px" role="button">
                    Master Order #
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'productionDate') }}>
                    Tanggal {{ grid.sort_char(form.sort.productionDate.vars.value) }}
                </th>
                <th style="min-width: 150px"  role="button" {{ grid.sort_link_item(form, 'printingMachine') }}>
                    Mesin {{ grid.sort_char(form.sort.printingMachine.vars.value) }}
                </th>
                <th style="min-width: 150px"  role="button" {{ grid.sort_link_item(form, 'designCode') }}>
                    Design Code {{ grid.sort_char(form.sort.designCode.vars.value) }}
                </th>
                <th style="min-width: 150px"  role="button" {{ grid.sort_link_item(form, 'productCode') }}>
                    Product Code {{ grid.sort_char(form.sort.productCode.vars.value) }}
                </th>
                <th style="min-width: 150px"  role="button" {{ grid.sort_link_item(form, 'quantityOrder') }}>
                    Quantity Order {{ grid.sort_char(form.sort.quantityOrder.vars.value) }}
                </th>
                <th style="min-width: 150px"  role="button" {{ grid.sort_link_item(form, 'quantityPrinting') }}>
                    Quantity Cetak {{ grid.sort_char(form.sort.quantityPrinting.vars.value) }}
                </th>
                <th style="min-width: 150px"  role="button" {{ grid.sort_link_item(form, 'deliveryDate') }}>
                    Tanggal Kirim {{ grid.sort_char(form.sort.deliveryDate.vars.value) }}
                </th>
                <th style="min-width: 90px" ></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberOrdinal') }} value="{{ form.filter.codeNumberOrdinal.1.vars.value }}" />
                    <span><small>/{{ constant('App\\Entity\\Production\\MasterOrder::CODE_NUMBER_CONSTANT') }}/</small></span>
                    <select {{ grid.filter_link_item(form, 'codeNumberMonth') }}>
                        {% for value, label in constant('App\\Entity\\ProductionHeader::MONTH_ROMAN_NUMERALS') %}
                            {% set val = value == 0 ? '' : value %}
                            <option value="{{ val }}" {% if form.filter.codeNumberMonth.1.vars.value == val %}selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    <span><small>/</small></span>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberYear') }} value="{{ form.filter.codeNumberYear.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control readonly-form-input" type="text" data-controller="flatpickr-element" {{ grid.filter_link_item(form, 'productionDate') }} value="{{ form.filter.productionDate.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'printingMachine') }} value="{{ form.filter.printingMachine.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'designCode') }} value="{{ form.filter.designCode.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'productCode') }} value="{{ form.filter.productCode.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'quantityOrder') }} value="{{ form.filter.quantityOrder.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'quantityPrinting') }} value="{{ form.filter.quantityPrinting.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" data-controller="flatpickr-element" {{ grid.filter_link_item(form, 'deliveryDate') }} value="{{ form.filter.deliveryDate.1.vars.value }}" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for masterOrder in masterOrders %}
                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {
                    'masterOrderId': masterOrder.id, 
                    'masterOrderCodeNumber': masterOrder.codeNumber, 
                    'masterOrderDate': masterOrder.productionDate ? masterOrder.productionDate|date('d M Y') : '', 
                    'masterOrderPrintingMachine': masterOrder.printingMachine, 
                    'customerCompany': masterOrder.customer.company,
                    'saleOrderCodeNumber': masterOrder.saleOrderDetail.saleOrderHeader.codeNumber,
                    'productCode': masterOrder.product.code,
                    'productName': masterOrder.product.name,
                    'masterOrderDesignCode': masterOrder.designCode,
                    'masterOrderQuantity': masterOrder.quantityOrder}|json_encode }}">
                    <td>{{ masterOrder.codeNumber }}</td>
                    <td>{{ masterOrder.productionDate ? masterOrder.productionDate|date('d M Y') : '' }}</td>
                    <td>{{ masterOrder.printingMachine }}</td>
                    <td>{{ masterOrder.designCode }}</td>
                    <td>{{ masterOrder.product.code }}</td>
                    <td>{{ masterOrder.quantityOrder }}</td>
                    <td>{{ masterOrder.quantityPrinting }}</td>
                    <td>{{ masterOrder.deliveryDate ? masterOrder.deliveryDate|date('d M Y') : '' }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_production_master_order_show', {'id': masterOrder.id}) }}"><i class="bi-search"></i></a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_production_master_order_edit', {'id': masterOrder.id}) }}"><i class="bi-pencil"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, masterOrders) }}
