{% extends 'base.html.twig' %}

{% block title 'Memo' %}

{% block body %}
    <div class="memo">
        <div class="note" style="font-size: 10px">
            <div class="table full">
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <div class="cell label"><img id="logo" alt="logo" max-height="300px" src="{{ asset('images/Logo.jpg') }}"></div>
                        </div>
                    </div>
                </div>
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <div class="cell label" style="font-size: 14px; text-align: center">FORMULIR</div>
                        </div>
                        <div class="row">
                            <div class="cell label" style="font-size: 18px; text-align: center">WORK ORDER COLOR MIXING</div>
                        </div>
                    </div>
                </div>
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                                <div class="cell label">No Dokumen</div>
                                <div class="cell label">:</div>
                                <div class="cell label">F/PCK/PPIC/8.1-3</div>
                        </div>
                        <div class="row">
                                <div class="cell label">Revisi</div>
                                <div class="cell label">:</div>
                                <div class="cell label">0</div>
                        </div>
                        <div class="row">
                                <div class="cell label">Tanggal</div>
                                <div class="cell label">:</div>
                                <div class="cell label"></div>
                        </div>
                        <div class="row">
                                <div class="cell label">Halaman</div>
                                <div class="cell label">:</div>
                                <div class="cell label">1 dari 1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <hr />
        
        <div class="note">
            <div class="table full">
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <div class="cell label">Mesin Cetak:</div>
                            <div class="cell value">{{ masterOrder.printingMachine|default }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Nama Customer</div>
                            <div class="cell value">{{ masterOrder.customer.company|default }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Kode Design</div>
                            <div class="cell value">{{ masterOrder.designCode|default }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Nama Produk</div>
                            <div class="cell value">{{ masterOrder.product.name|default }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Kode Produk</div>
                            <div class="cell value">{{ masterOrder.product.code|default }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Quantity Order</div>
                            <div class="cell value">{{ masterOrder.quantityOrder|default }} pcs</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Stock/Kekurangan</div>
                            <div class="cell value">{{ masterOrder.quantityStock }} / {{ masterOrder.quantityProduction }} pcs</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Ukuran Jadi</div>
                            <div class="cell value">{{ masterOrder.dimensionLength }} x {{ masterOrder.dimensionWidth }} x {{ masterOrder.dimensionHeight }} mm</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Warna / Pantone</div>
                            <div class="cell value">{{ masterOrder.color }} / {{ masterOrder.pantone }} + {{ masterOrder.colorPantoneAdditional }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Finishing</div>
                            <div class="cell value">{{ masterOrder.finishing|default }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Material Kertas</div>
                            <div class="cell value">{{ masterOrder.paper.paperNameSizeCombination|default }} Gram</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Jumlah Up Cetak</div>
                            <div class="cell value">{{ masterOrder.quantityPrinting }} & {{ masterOrder.quantityPrinting2 }} Up/s</div>
                        </div>
                    </div>
                </div>
                        
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <div class="cell label">No MO</div>
                            <div class="cell value">{{ masterOrder.getCodeNumber|default }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">No PO</div>
                            <div class="cell value">{{ masterOrder.saleOrderDetail.saleOrderHeader.referenceNumber|default }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Tanggal MO</div>
                            <div class="cell value">{{ masterOrder.productionDate ? masterOrder.productionDate|date('d M Y') : '' }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Tanggal PO</div>
                            <div class="cell value">{{ masterOrder.saleOrderDetail.saleOrderHeader.transactionDate|default ? masterOrder.saleOrderDetail.saleOrderHeader.transactionDate|date('d M Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Tanggal Kirim</div>
                            <div class="cell value">{{ masterOrder.deliveryDate|default ? masterOrder.deliveryDate|date('d M Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Status Cetakan</div>
                            <div class="cell value">{{ masterOrder.printingStatus }} : {{ masterOrder.printingStatusData }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Ukuran Mountage/Kris</div>
                            <div class="cell value">{{ masterOrder.mountageSizeLength }} x {{ masterOrder.mountageSizeWidth }} cm</div>
                        </div>
                    </div>
                </div>
            </div>
                     
            <div class="table full">
                <div class="cell col">
                    <h4><u>Kebutuhan Material Kertas</u></h4>
                    <div class="table full">
                        <div class="row">
                            <div class="cell label">Uk Plano Kertas</div>
                            <div class="cell value">{{ masterOrder.paperPlanoLength }} x {{ masterOrder.paperPlanoWidth }} cm</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Uk Potong 1</div>
                            <div class="cell value">{{ masterOrder.cuttingLengthSize1 }} x {{ masterOrder.cuttingWidthSize1 }} cm</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Uk Potong 2</div>
                            <div class="cell value">{{ masterOrder.cuttingLengthSize2 }} x {{ masterOrder.cuttingWidthSize2 }} cm</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Kebutuhan</div>
                            <div class="cell value">{{ masterOrder.paperRequirement|default }} dreek</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Insit Cetak</div>
                            <div class="cell value">{{ masterOrder.printingInsit|default }} dreek</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Total Kertas</div>
                            <div class="cell value">{{ masterOrder.paperTotal|default }} dreek</div>
                        </div>
                    </div>
                </div>
                        
                <div class="cell col">
                    <h4><u>Realisasi Pemakaian Inseet Kertas</u></h4>
                    <div class="table full">
                        <div class="row">
                            <div class="cell label">Kertas Bekas</div>
                            <div class="cell value">_______________________ dreek</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Kertas Baru</div>
                            <div class="cell value">_______________________ dreek</div>
                        </div>
                    </div>
                </div>
            </div>
         
            <h4><u>Estimasi Tinta / Chemical</u></h4>
            <div class="table full">
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <div class="cell label">Cyan</div>
                            <div class="cell value">{{ masterOrder.inkCyanPercentage }}% = {{ masterOrder.inkCyanWeight }} kg _______________</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Magenta</div>
                            <div class="cell value">{{ masterOrder.inkMagentaPercentage }}% = {{ masterOrder.inkMagentaWeight }} kg _______________</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Yellow</div>
                            <div class="cell value">{{ masterOrder.inkYellowPercentage }}% = {{ masterOrder.inkYellowWeight }} kg _______________</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Black</div>
                            <div class="cell value">{{ masterOrder.inkBlackPercentage }}% = {{ masterOrder.inkBlackWeight }} kg _______________</div>
                        </div>
                        <div class="row">
                            <div class="cell label">OPV/WB/UV</div>
                            <div class="cell value">{{ masterOrder.inkOpvPercentage }}% = {{ masterOrder.inkOpvWeight }} kg _______________</div>
                        </div>
                    </div>
                </div>
                        
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <div class="cell label">K-1</div>
                            <div class="cell value">{{ masterOrder.inkK1Color }} : {{ masterOrder.inkK1Percentage }}% = {{ masterOrder.inkK1Weight }} kg _______________</div>
                        </div>
                        <div class="row">
                            <div class="cell label">K-2</div>
                            <div class="cell value">{{ masterOrder.inkK2Color }} : {{ masterOrder.inkK2Percentage }}% = {{ masterOrder.inkK2Weight }} kg _______________</div>
                        </div>
                        <div class="row">
                            <div class="cell label">K-3</div>
                            <div class="cell value">{{ masterOrder.inkK3Color }} : {{ masterOrder.inkK3Percentage }}% = {{ masterOrder.inkK3Weight }} kg _______________</div>
                        </div>
                        <div class="row">
                            <div class="cell label">K-4</div>
                            <div class="cell value">{{ masterOrder.inkK4Color }} : {{ masterOrder.inkK4Percentage }}% = {{ masterOrder.inkK4Weight }} kg _______________</div>
                        </div>
                        <div class="row">
                            <div class="cell label">Laminating</div>
                            <div class="cell value">{{ masterOrder.inkLaminatingSize }} cm = {{ masterOrder.inkLaminatingQuantity }} roll _______________</div>
                        </div>
                    </div>
                </div>
            </div>
         
            <br />

            <fieldset class="border border-secondary rounded mb-3 p-3">
                <div class="note">
                    <div class="table full">
                        <div class="cell col">
                            <div class="table full">
                                <div class="row">
                                    <table class="detail">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Warna Khusus - 1</th>
                                                <th class="text-center">Mix Warna</th>
                                                <th class="text-center">Jumlah (gr)</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <td rowspan="4"></td>
                                                <td>1.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>2.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>3.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>4.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center" colspan="2">Total</td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <br />
                                <div class="row">
                                    <table class="detail">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Warna Khusus - 2</th>
                                                <th class="text-center">Mix Warna</th>
                                                <th class="text-center">Jumlah (gr)</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <td rowspan="4"></td>
                                                <td>1.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>2.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>3.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>4.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center" colspan="2">Total</td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="cell col">
                            <div class="table full">
                                <div class="row">
                                    <table class="detail">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Warna Khusus - 3</th>
                                                <th class="text-center">Mix Warna</th>
                                                <th class="text-center">Jumlah (gr)</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <td rowspan="4"></td>
                                                <td>1.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>2.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>3.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>4.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center" colspan="2">Total</td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <br />
                                <div class="row">
                                    <table class="detail">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Warna Khusus - 4</th>
                                                <th class="text-center">Mix Warna</th>
                                                <th class="text-center">Jumlah (gr)</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <td rowspan="4"></td>
                                                <td>1.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>2.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>3.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>4.</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center" colspan="2">Total</td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
             
        <div class="table full">
            <div class="cell sig ">
                <div>Dikerjakan oleh,</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">Color Matching</div>
            </div>
            <div class="cell sig">
                <div>Dibuat oleh,</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">&nbsp;</div>
                <div class="blank">&nbsp;</div>
                <div>PPIC</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('memo') }}
    <style>
        .col:nth-child(1) { width: 50% }
        .col:nth-child(2) { width: 50% }
        
        .col:nth-child(1) .label { width: 35% }
        .col:nth-child(1) .value { width: 65% }
        .col:nth-child(2) .label { width: 35% }
        .col:nth-child(2) .value { width: 65% }
        
        .sig:nth-child(1) { width: 50% }
        .sig:nth-child(2) { width: 50% }
    </style>
{% endblock %}