{% extends 'layout_page.html.twig' %}

{% block title 'Show Master Order' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_production_master_order_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_production_master_order_edit', {'id': masterOrder.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan='4' class='text-center'>HEADER</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Master Order #</th>
                <td>{{ masterOrder.getCodeNumber }}</td>
                <th>PO Customer #</th>
                <td>{{ masterOrder.saleOrderDetail.saleOrderHeader.referenceNumber|default }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ masterOrder.productionDate ? masterOrder.productionDate|date('d M Y') : '' }}</td>
                <th>Tanggal PO</th>
                <td>{{ masterOrder.saleOrderDetail.saleOrderHeader.transactionDate ? masterOrder.saleOrderDetail.saleOrderHeader.transactionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Tanggal Kirim</th>
                <td>{{ masterOrder.deliveryDate ? masterOrder.deliveryDate|date('d M Y') : '' }}</td>
                <th>Customer</th>
                <td>{{ masterOrder.customer.company|default }}</td>
            </tr>
            <tr>
                <th>Mesin Cetak</th>
                <td>{{ masterOrder.printingMachine }}</td>
                <th>Kode Produk</th>
                <td>{{ masterOrder.product.code|default }}</td>
            </tr>
            <tr>
                <th>Kode Design</th>
                <td>{{ masterOrder.designCode }}</td>
                <th>Kode Produk</th>
                <td>{{ masterOrder.product.name|default }}</td>
            </tr>
            <tr>
                <th>Quantity Order (pcs)</th>
                <td>{{ masterOrder.quantityOrder }}</td>
                <th>Material Kertas</th>
                <td>{{ masterOrder.paper.paperNameSizeCombination|default }}</td>
            </tr>
            <tr>
                <th>Stock/Kekurangan (pcs)</th>
                <td>{{ masterOrder.quantityStock }} / {{ masterOrder.quantityProduction }}</td>
                <th>Ukuran Jadi (mm)</th>
                <td>{{ masterOrder.dimensionLength }} x {{ masterOrder.dimensionWidth }} x {{ masterOrder.dimensionHeight }}</td>
            </tr>
            <tr>
                <th>Warna/Pantone</th>
                <td>{{ masterOrder.color }} / {{ masterOrder.pantone }} + {{ masterOrder.colorPantoneAdditional }}</td>
                <th>Pisau Die Cut</th>
                <td>{{ masterOrder.dieCutBlade }} : {{ masterOrder.dieCutBladeData }}</td>
            </tr>
            <tr>
                <th>Finishing</th>
                <td>{{ masterOrder.finishing }}</td>
                <th>No. Pisau Die Cut</th>
                <td>{{ masterOrder.dieCutBladeNumber }}</td>
            </tr>
            <tr>
                <th>Jumlah Up Cetak</th>
                <td>{{ masterOrder.quantityPrinting }} & {{ masterOrder.quantityPrinting2 }}</td>
                <th>No. Film Dieline</th>
                <td>{{ masterOrder.dieLineFilmNumber }}</td>
            </tr>
            <tr>
                <th>Ukuran Mountage / Kris (cm)</th>
                <td>{{ masterOrder.mountageSizeLength }} x {{ masterOrder.mountageSizeWidth }}</td>
                <th>Status Cetakan</th>
                <td>{{ masterOrder.printingStatus ? masterOrder.printingStatus|join(', ') : '' }} : {{ masterOrder.printingStatusData }}</td>
            </tr>
        </tbody>
    </table>
         
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan='4' class='text-center'>KEBUTUHAN MATERIAL KERTAS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>% Insit</th>
                <td>{{ masterOrder.insitPercentage }}</td>
                <th>Kebutuhan (dreek)</th>
                <td>{{ masterOrder.paperRequirement }}</td>
            </tr>
            <tr>
                <th>Quantity Kertas (rim)</th>
                <td>{{ masterOrder.quantityPaper }}</td>
                <th>Insit Cetak (dreek)</th>
                <td>{{ masterOrder.printingInsit }}</td>
            </tr>
            <tr>
                <th>Mountage Kertas (up)</th>
                <td>{{ masterOrder.paperMountage }}</td>
                <th>Total Kertas (dreek)</th>
                <td>{{ masterOrder.paperTotal }}</td>
            </tr>
            <tr>
                <th>Uk Plano Kertas (cm)</th>
                <td>{{ masterOrder.paperPlanoLength }} x {{ masterOrder.paperPlanoWidth }}</td>
                <th>PO Kertas #</th>
                <td>{{ masterOrder.purchaseOrderPaperHeader.getCodeNumber|default }}</td>
            </tr>
            <tr>
                <th>Uk Potong 1 (cm)</th>
                <td>{{ masterOrder.cuttingLengthSize1 }} x {{ masterOrder.cuttingWidthSize1 }}</td>
                <th>Tanggal</th>
                <td>{{ masterOrder.purchaseOrderPaperHeader.transactionDate ? masterOrder.purchaseOrderPaperHeader.transactionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Uk Potong 2 (cm)</th>
                <td>{{ masterOrder.cuttingLengthSize2 }} x {{ masterOrder.cuttingWidthSize2 }}</td>
                <th>Supplier</th>
                <td>{{ masterOrder.purchaseOrderPaperHeader.supplier.company|default }}</td>
            </tr>
        </tbody>
    </table>
         
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan='4' class='text-center'>ESTIMASI TINTA / CHEMICAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Cyan</th>
                <td>{{ masterOrder.inkCyanPercentage }}% = {{ masterOrder.inkCyanWeight }} kg</td>
                <th>K-1</th>
                <td>{{ masterOrder.inkK1Color }} : {{ masterOrder.inkK1Percentage }}% = {{ masterOrder.inkK1Weight }} kg</td>
            </tr>
            <tr>
                <th>Magenta</th>
                <td>{{ masterOrder.inkMagentaPercentage }}% = {{ masterOrder.inkMagentaWeight }} kg</td>
                <th>K-2</th>
                <td>{{ masterOrder.inkK2Color }} : {{ masterOrder.inkK2Percentage }}% = {{ masterOrder.inkK2Weight }} kg</td>
            </tr>
            <tr>
                <th>Yellow</th>
                <td>{{ masterOrder.inkYellowPercentage }}% = {{ masterOrder.inkYellowWeight }} kg</td>
                <th>K-3</th>
                <td>{{ masterOrder.inkK3Color }} : {{ masterOrder.inkK3Percentage }}% = {{ masterOrder.inkK3Weight }} kg</td>
            </tr>
            <tr>
                <th>Black</th>
                <td>{{ masterOrder.inkBlackPercentage }}% = {{ masterOrder.inkBlackWeight }} kg</td>
                <th>K-4</th>
                <td>{{ masterOrder.inkK4Color }} : {{ masterOrder.inkK4Percentage }}% = {{ masterOrder.inkK4Weight }} kg</td>
            </tr>
            <tr>
                <th>OPV/WB/UV</th>
                <td>{{ masterOrder.inkOpvPercentage }}% = {{ masterOrder.inkOpvWeight }} KG</td>
                <th>Laminating</th>
                <td>{{ masterOrder.inkLaminatingSize }} cm = {{ masterOrder.inkLaminatingQuantity }} roll</td>
            </tr>
        </tbody>
    </table>
         
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan='4' class='text-center'>ESTIMASI PACKAGING</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Lem</th>
                <td>{{ masterOrder.packagingGlueQuantity }} cm/pcs = {{ masterOrder.packagingGlueWeight }} kg</td>
                <th>Lakban >besar</th>
                <td>{{ masterOrder.packagingTapeLargeQuantity }} cm/pak (dus) = {{ masterOrder.packagingTapeLargeSize }} roll</td>
            </tr>
            <tr>
                <th>Karet</th>
                <td>{{ masterOrder.packagingRubberQuantity }} pcs/ikat = {{ masterOrder.packagingRubberWeight }} pcs</td>
                <th>Lakban >kecil</th>
                <td>{{ masterOrder.packagingTapeSmallQuantity }} cm/pak (dus) = {{ masterOrder.packagingTapeSmallSize }} roll</td>
            </tr>
            <tr>
                <th>Kertas Packing</th>
                <td>{{ masterOrder.packagingPaperQuantity }} pcs/pak = {{ masterOrder.packagingPaperWeight }} lbr</td>
                <th>Plastik</th>
                <td>{{ masterOrder.packagingPlasticQuantity }} cm2/pack = {{ masterOrder.packagingPlasticSize }} m2</td>
            </tr>
            <tr>
                <th>Dus</th>
                <td>{{ masterOrder.packagingBoxQuantity }} pcs/dus = {{ masterOrder.packagingBoxWeight }} pcs</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
         
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Distribusi WO</th>
                <td>{{ masterOrder.workOrderDistribution ? masterOrder.workOrderDistribution|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Urutan Proses</th>
                <td>{{ masterOrder.processList ? masterOrder.processList|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ masterOrder.note }}</td>
            </tr>
            <tr>
                <th>Is Canceled</th>
                <td>{{ masterOrder.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {#{{ include('production/master_order/_delete_form.html.twig') }}#}
    <br />
    <div class="d-inline-block">
        <a target="_blank" class="btn btn-info btn-sm" href="{{ path('app_production_master_order_memo_master_order', {'id': masterOrder.id}) }}">Print Master Order</a>
        <a target="_blank" class="btn btn-info btn-sm" href="{{ path('app_production_master_order_memo_work_order', {'id': masterOrder.id}) }}">Print SPK</a>
        <a target="_blank" class="btn btn-info btn-sm" href="{{ path('app_production_master_order_memo_work_order_color_mixing', {'id': masterOrder.id}) }}">Print WO Color Mixing</a>
    </div>
    
    <div class="text-center">
        {% if masterOrder.layoutModelFileExtension == 'pdf' %}
            <a target="_blank" href="{{ asset('uploads/master-order/' ~ masterOrder.id ~ '.' ~ masterOrder.layoutModelFileExtension) }}">Layout PDF File</a>
        {% elseif masterOrder.layoutModelFileExtension == 'jpg' or masterOrder.layoutModelFileExtension == 'jpeg' or masterOrder.layoutModelFileExtension == 'png' %}
            <img width="256px" src="{{ asset('uploads/master-order/' ~ masterOrder.id ~ '.' ~ masterOrder.layoutModelFileExtension) }}" alt="Layout Model Image" />
        {% endif %}
    </div>

{% endblock %}
