{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, customers) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th role="button" {{ grid.sort_link_item(form, 'code') }}>
                    Code {{ grid.sort_char(form.sort.code.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'company') }}>
                    Company {{ grid.sort_char(form.sort.company.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'address') }}>
                    Address {{ grid.sort_char(form.sort.address.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'phone') }}>
                    Phone {{ grid.sort_char(form.sort.phone.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'email') }}>
                    Email {{ grid.sort_char(form.sort.email.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'taxNumber') }}>
                    Tax Number {{ grid.sort_char(form.sort.taxNumber.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'note') }}>
                    Note {{ grid.sort_char(form.sort.note.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'isInactive') }}>
                    Is Inactive {{ grid.sort_char(form.sort.isInactive.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'name') }}>
                    Name {{ grid.sort_char(form.sort.name.vars.value) }}
                </th>
                <th></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'code') }} value="{{ form.filter.code.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'company') }} value="{{ form.filter.company.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'address') }} value="{{ form.filter.address.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'phone') }} value="{{ form.filter.phone.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'email') }} value="{{ form.filter.email.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'taxNumber') }} value="{{ form.filter.taxNumber.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'note') }} value="{{ form.filter.note.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'isInactive') }} value="{{ form.filter.isInactive.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'name') }} value="{{ form.filter.name.1.vars.value }}" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.code }}</td>
                    <td>{{ customer.company }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.taxNumber }}</td>
                    <td>{{ customer.note }}</td>
                    <td>{{ customer.isInactive ? 'Yes' : 'No' }}</td>
                    <td>{{ customer.name }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_master_customer_show', {'id': customer.id}) }}">Show</a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_master_customer_edit', {'id': customer.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, customers) }}
