<form method="post" action="{{ path('app_purchase_purchase_request_header_delete', {'id': purchaseRequestHeader.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purchaseRequestHeader.id) }}">
    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#cancel-dialog">
        Cancel Transaction
    </button>

    <input type="hidden" name="{{ idempotent_token_name() }}" value="{{ idempotent_token_value() }}" />
    
    {% import 'app/bootstrap_dialog.html.twig' as dialog %}

    {{ dialog.start('cancel-dialog', 'Cancel Note', 'lg') }}
        <div class="text-center">
            <textarea name="cancel_note" class="w-100" style="height: 200px"></textarea>
            <br />
            <button class="btn btn-danger btn-sm"
                    data-controller="dom-element"
                    data-action="dom-element#confirm"
                    data-dom-element-confirm-message-param="Are you sure you want to cancel this transaction?">
                Cancel Transaction
            </button>
        </div>
    {{ dialog.end() }}
</form>
