<div data-controller="event-emitter json-loader"
     data-action="data-table:select->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'data-table:select': 'id'}|json_encode }}"
     data-json-loader-url-value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}"
     data-json-loader-method-value="POST"
     data-json-loader-form-target-value="{{ "form[name=#{form.vars.name}]" }}">

    {{ form_start(form) }}
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Header</legend>
            <div class="row">
                <div class="col sm-6">
                    {{ form_row(form.transactionDate, {'label': 'Tanggal', 'attr': {'data-controller': 'flatpickr-element'}}) }}
                    {{ form_row(form.warehouse, {'label': 'Gudang'}) }}
                    <div class="mb-3">
                        <strong>Tanggal PO: </strong>
                        <span data-controller="dom-element"
                         data-action="purchase-order-header-table:data-table:select@document->dom-element#bind"
                         data-dom-element-bind-specifications-param="{{ [
                             {'action': 'putHtmlContent', 'descriptor': {'mode': 'replace', 'content': '$event.detail[0].purchaseOrderHeaderTransactionDate'}},
                         ]|json_encode }}">{{ receiveHeader.purchaseOrderHeader.transactionDate|default ? receiveHeader.purchaseOrderHeader.transactionDate|date('d M Y') : '' }}</span>
                    </div>
                    <div class="mb-3">
                        <strong>Tanggal Kirim: </strong>
                        <span data-controller="dom-element"
                         data-action="purchase-order-header-table:data-table:select@document->dom-element#bind"
                         data-dom-element-bind-specifications-param="{{ [
                             {'action': 'putHtmlContent', 'descriptor': {'mode': 'replace', 'content': '$event.detail[0].purchaseOrderHeaderDeliveryDate'}},
                         ]|json_encode }}">{{ receiveHeader.purchaseOrderHeader.deliveryDate |default? receiveHeader.purchaseOrderHeader.deliveryDate|date('d M Y') : '' }}</span>
                    </div>
                </div>
                <div class="col sm-6">
                    <div class="mb-3">
                        <label for="{{ form.purchaseOrderHeader.vars.id }}-text" class="form-label">PO #</label>
                        {{ form_row(form.purchaseOrderHeader, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'purchase-order-header-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].purchaseOrderHeaderId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.purchaseOrderHeader.vars.id }}-text" class="form-control" value="{{ receiveHeader.purchaseOrderHeader.codeNumber|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#purchase-order-header-dialog"
                               data-controller="dom-element"
                               data-action="purchase-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].purchaseOrderHeaderCodeNumber'}},
                               ]|json_encode }}" />
                    </div>
                    {{ form_row(form.supplierDeliveryCodeNumber, {'label': 'Supplier SJ #'}) }}
                    <div class="mb-3">
                        <strong>Supplier: </strong>
                        <span data-controller="dom-element"
                         data-action="purchase-order-header-table:data-table:select@document->dom-element#bind"
                         data-dom-element-bind-specifications-param="{{ [
                             {'action': 'putHtmlContent', 'descriptor': {'mode': 'replace', 'content': '$event.detail[0].supplierCompany'}},
                         ]|json_encode }}">{{ receiveHeader.purchaseOrderHeader.supplier.company|default }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col sm-12">
                    {{ form_row(form.note) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Details</legend>
            {{ include('transaction/receive_header/_details_form.html.twig') }}
        </fieldset>

        <div class="d-grid">
            <button class="btn btn-secondary">Save</button>
        </div>
    {{ form_end(form) }}

    {% import 'app/bootstrap_dialog.html.twig' as dialog %}

    {{ dialog.start('purchase-order-header-dialog', 'Purchase Order List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_purchase_order_header__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}
</div>
