{% extends 'layout_page.html.twig' %}

{% block title 'Show Receive' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_transaction_receive_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_transaction_receive_header_edit', {'id': receiveHeader.id}) }}">Edit</a>
    <a class="btn btn-success btn-sm" href="{{ path('app_transaction_receive_header_new') }}">Add</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Penerimaan #</th>
                <td>{{ receiveHeader.getCodeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ receiveHeader.transactionDate ? receiveHeader.transactionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>PO #</th>
                <td>{{ receiveHeader.purchaseOrderHeader.getCodeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal PO</th>
                <td>{{ receiveHeader.purchaseOrderHeader.transactionDate ? receiveHeader.purchaseOrderHeader.transactionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>{{ receiveHeader.supplier.company}}</td>
            </tr>
            <tr>
                <th>Supplier SJ #</th>
                <td>{{ receiveHeader.supplierDeliveryCodeNumber }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ receiveHeader.note }}</td>
            </tr>
            <tr>
                <th>Transaction Canceled?</th>
                <td>{{ receiveHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Kode</th>
                <th>Nama Material</th>
                <th>Quantity Order</th>
                <th>Quantity Sisa</th>
                <th>Quantity Terima</th>
                <th>Satuan</th>
                <th>Tanggal Pakai</th>
                <th>Keterangan</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for receiveDetail in receiveHeader.receiveDetails %}
                <tr>
                    <td>{{ receiveDetail.material.code|default }}</td>
                    <td>{{ receiveDetail.material.name|default }}</td>
                    <td style="text-align: right">{{ receiveDetail.purchaseOrderDetail.quantity|default }}</td>
                    <td style="text-align: right">{{ receiveDetail.purchaseOrderDetail.remainingReceive|default }}</td>
                    <td style="text-align: right">{{ receiveDetail.receivedQuantity|default }}</td>
                    <td>{{ receiveDetail.unit.name|default }}</td>
                    <td>{{ receiveHeader.usageDate ? receiveHeader.usageDate|date('d M Y') : '' }}</td>
                    <td>{{ receiveDetail.memo|default }}</td>
                    <td>{{ receiveDetail.isCanceled ? 'Canceled' : '' }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align: right"><strong>Total</strong></td>
                <td style="text-align: right"><strong>{{ receiveHeader.totalQuantity|default }}</strong></td>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>
    
    {{ include('transaction/receive_header/_delete_form.html.twig') }}
{% endblock %}
