{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, accountingLedgers) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th role="button" {{ grid.sort_link_item(form, 'transactionType') }}>
                    Transaction Type {{ grid.sort_char(form.sort.transactionType.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'transactionSubject') }}>
                    Transaction Subject {{ grid.sort_char(form.sort.transactionSubject.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'debitAmount') }}>
                    Debit Amount {{ grid.sort_char(form.sort.debitAmount.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'creditAmount') }}>
                    Credit Amount {{ grid.sort_char(form.sort.creditAmount.vars.value) }}
                </th>
                <th></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionType') }} value="{{ form.filter.transactionType.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionSubject') }} value="{{ form.filter.transactionSubject.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'debitAmount') }} value="{{ form.filter.debitAmount.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'creditAmount') }} value="{{ form.filter.creditAmount.1.vars.value }}" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for accountingLedger in accountingLedgers %}
                <tr>
                    <td>{{ accountingLedger.transactionType }}</td>
                    <td>{{ accountingLedger.transactionSubject }}</td>
                    <td>{{ accountingLedger.debitAmount }}</td>
                    <td>{{ accountingLedger.creditAmount }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_accounting_accounting_ledger_show', {'id': accountingLedger.id}) }}">Show</a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_accounting_accounting_ledger_edit', {'id': accountingLedger.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, accountingLedgers) }}
