{{ form_start(form) }}
    {{ form_row(form.customer, {'attr': {'readonly': designCode.id is not null}}) }}
    
    {% if (designCode.id is not null) %}
        <hr />

        <legend class="float-none w-auto text-dark px-1">Design Code List</legend>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Warna</th>
                    <th>Pantone</th>
                </tr>
            </thead>
            <tbody>
                {% for lastDesignCode in lastDesignCodes %}
                    <tr>
                        <td>{{ lastDesignCode.codeNumber }}</td>
                        <td>{{ lastDesignCode.name }}</td>
                        <td>{{ lastDesignCode.color }}</td>
                        <td>{{ lastDesignCode.pantone }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr />
    {% endif %}
    
    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>
    </div>
        
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label">Kode Produk</label>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text">P</span>
                            {{ form_widget(form.code) }}
                            {{ form_errors(form.code) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label">Varian</label>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text">V</span>
                            {{ form_widget(form.variant) }}
                            {{ form_errors(form.variant) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label">Versi</label>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text">R</span>
                            {{ form_widget(form.version) }}
                            {{ form_errors(form.version) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col">
            {{ form_row(form.color) }}
        </div>
        <div class="col">
            {{ form_row(form.pantone) }}
        </div>
        <div class="col">
            {{ form_row(form.colorSpecial1) }}
        </div>
        <div class="col">
            {{ form_row(form.colorSpecial2) }}
        </div>
        <div class="col">
            {{ form_row(form.colorSpecial3) }}
        </div>
        <div class="col">
            {{ form_row(form.colorSpecial4) }}
        </div>
    </div>
        
    <div class="row">
        <div class="col">
            {{ form_row(form.coating) }}
        </div>
        <div class="col">
            {{ form_row(form.printingUpQuantity) }}
        </div>
        <div class="col">
            {{ form_row(form.printingKrisSize) }}
        </div>
        <div class="col">
            {{ form_row(form.paperCuttingSize) }}
        </div>
        <div class="col">
            {{ form_row(form.paperMountage) }}
        </div>
    </div>
        
    <div class="row">
        <div class="col">
            {{ form_row(form.diecutKnife) }}
        </div>
        <div class="col">
            {{ form_row(form.dielineMillar) }}
        </div>
        <div class="col">
            {{ form_row(form.status) }}
        </div>
    </div>
    <div class="row">
            {{ form_row(form.note) }}
            {{ form_row(form.isInactive) }}
    </div>
        
        
    <div class="d-grid">
        <button class="btn btn-secondary"
                data-controller="dom-element"
                data-action="dom-element#confirm"
                data-dom-element-confirm-message-param="Are you sure you want to save this item?">
            Save
        </button>
    </div>
{{ form_end(form) }}
