<div data-controller="event-emitter"
     data-action="change->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'change': 'id'}|json_encode }}">
    {{ form_start(form) }}
    {{ form_row(form.customer, {'attr': {'readonly': designCode.id is not null}}) }}
    
    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>
    </div>
        
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label">Kode Produk</label>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text">P</span>
                            {{ form_widget(form.code) }}
                            {{ form_errors(form.code) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label">Varian</label>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text">V</span>
                            {{ form_widget(form.variant) }}
                            {{ form_errors(form.variant) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label">Versi</label>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text">R</span>
                            {{ form_widget(form.version) }}
                            {{ form_errors(form.version) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col">
            {{ form_row(form.color) }}
        </div>
        <div class="col">
            {{ form_row(form.pantone) }}
        </div>
        <div class="col">
            {{ form_row(form.colorSpecial1) }}
        </div>
        <div class="col">
            {{ form_row(form.colorSpecial2) }}
        </div>
        <div class="col">
            {{ form_row(form.colorSpecial3) }}
        </div>
        <div class="col">
            {{ form_row(form.colorSpecial4) }}
        </div>
    </div>
        
    <div class="row">
        <div class="col">
            {{ form_row(form.coating) }}
        </div>
        <div class="col">
            {{ form_row(form.printingUpQuantity) }}
        </div>
        <div class="col">
            {{ form_row(form.printingKrisSize) }}
        </div>
    </div>
         
    <div class="row">
        <div class="col">
            {{ form_row(form.diecutKnife) }}
        </div>
        <div class="col">
            {{ form_row(form.dielineMillar) }}
        </div>
        <div class="col">
            {{ form_row(form.status) }}
        </div>
    </div>
         
    <fieldset class="border border-secondary rounded mb-3 p-3">
        <legend class="float-none w-auto text-dark px-1">Kebutuhan Material Kertas</legend>
        <div class="row">
            <div class="col">
                {{ form_row(form.insitPrintingPercentage) }}
            </div>
            <div class="col">
                {{ form_row(form.insitSortingPercentage) }}
            </div>
        </div>
            
        <div class="row">
            <div class="col">
                {{ form_row(form.paperMountage) }}
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Uk Potong Kertas</label>
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                {{ form_widget(form.paperCuttingLength) }}
                                {{ form_errors(form.paperCuttingLength) }}
                                <span class="input-group-text">x</span>
                                {{ form_widget(form.paperCuttingWidth) }}
                                {{ form_errors(form.paperCuttingWidth) }}
                                <span class="input-group-text">cm</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
            
    <fieldset class="border border-secondary rounded mb-3 p-3">
        <legend class="float-none w-auto text-dark px-1">Estimasi Tinta / Chemical</legend>
        <div class="row">
            <div class="col">
                {{ form_row(form.inkCyanPercentage) }}
            </div>
            <div class="col">
                {{ form_row(form.inkMagentaPercentage) }}
            </div>
            <div class="col">
                {{ form_row(form.inkYellowPercentage) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.inkBlackPercentage) }}
            </div>
            <div class="col">
                {{ form_row(form.inkK1Percentage) }}
            </div>
            <div class="col">
                {{ form_row(form.inkK2Percentage) }}
            </div>
        </div>
            
        <div class="row">
            <div class="col">
                {{ form_row(form.inkK3Percentage) }}
            </div>
            <div class="col">
                {{ form_row(form.inkK4Percentage) }}
            </div>
            <div class="col">
                {{ form_row(form.inkOpvPercentage) }}
            </div>
        </div>
    </fieldset>
        
    <fieldset class="border border-secondary rounded mb-3 p-3">
        <legend class="float-none w-auto text-dark px-1">Estimasi Packaging</legend>
        <div class="row">
            <div class="col">
                {{ form_row(form.packagingGlueQuantity) }}
            </div>
            <div class="col">
                {{ form_row(form.packagingRubberQuantity) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.packagingPaperQuantity) }}
            </div>
            <div class="col">
                {{ form_row(form.packagingBoxQuantity) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.packagingTapeLargeQuantity) }}
            </div>
            <div class="col">
                {{ form_row(form.packagingTapeSmallQuantity) }}
            </div>
            <div class="col">
                {{ form_row(form.packagingPlasticQuantity) }}
            </div>
        </div>
    </fieldset>
        
    <div class="row">
            {{ form_row(form.note) }}
            {{ form_row(form.isInactive) }}
    </div>

    <hr />

    <legend class="float-none w-auto text-dark px-1">Design Code List</legend>
    <div data-controller="html-loader"
         data-html-loader-url-value="{{ path('app_master_design_code__design_code_list') }}"
         data-html-loader-auto-load-value="true"
         data-action="{{ form.customer.vars.id }}:change@document->html-loader#load">
    </div>

    <hr />
        
    <div class="d-grid">
        <button class="btn btn-secondary"
                data-controller="dom-element"
                data-action="dom-element#confirm"
                data-dom-element-confirm-message-param="Are you sure you want to save this item?">
            Save
        </button>
    </div>
{{ form_end(form) }}
</div>
