{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, designCodes) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="min-width: 350px">
                    Customer
                </th>
                <th style="min-width: 150px">
                    Code
                </th>
                <th style="min-width: 350px" role="button" {{ grid.sort_link_item(form, 'name') }}>
                    Name {{ grid.sort_char(form.sort.name.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'color') }}>
                    Warna {{ grid.sort_char(form.sort.color.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'pantone') }}>
                    Pantone {{ grid.sort_char(form.sort.pantone.vars.value) }}
                </th>
                <th style="min-width: 50px" role="button" {{ grid.sort_link_item(form, 'isInactive') }}>
                    Inactive {{ grid.sort_char(form.sort.isInactive.vars.value) }}
                </th>
                <th style="min-width: 90px"></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th></th>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'name') }} value="{{ form.filter.name.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'color') }} value="{{ form.filter.color.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'pantone') }} value="{{ form.filter.pantone.1.vars.value }}" />
                </th>
                <th>
                    <input type="text"  size="4" {{ grid.filter_link_item(form, 'isInactive') }} value="{{ form.filter.isInactive.1.vars.value }}" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for designCode in designCodes %}
                <tr>
                    <td>{{ diecutKnife.customer.company }}</td>
                    <td>{{ designCode.codeNumber }}</td>
                    <td>{{ designCode.name }}</td>
                    <td>{{ designCode.color }}</td>
                    <td>{{ designCode.pantone }}</td>
                    <td>{{ designCode.isInactive ? 'Yes' : 'No' }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_master_design_code_show', {'id': designCode.id}) }}"><i class="bi-search"></i></a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_master_design_code_edit', {'id': designCode.id}) }}"><i class="bi-pencil"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, designCodes) }}
