{% extends 'layout_page.html.twig' %}

{% block title 'Show Design Code' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_design_code_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_master_design_code_edit', {'id': designCode.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Customer</th>
                <td>{{ designCode.customer.name }}</td>
            </tr>
            <tr>
                <th>Kode Produk</th>
                <td>{{ designCode.codeNumber }}</td>
            </tr>
            <tr>
                <th>Nama</th>
                <td>{{ designCode.name }}</td>
            </tr>
            <tr>
                <th>Varian</th>
                <td>{{ designCode.variant }}</td>
            </tr>
            <tr>
                <th>Versi</th>
                <td>{{ designCode.version }}</td>
            </tr>
            <tr>
                <th>Jlh Warna</th>
                <td>{{ designCode.color }}</td>
            </tr>
            <tr>
                <th>Separasi Warna</th>
                <td>{{ designCode.pantone }}</td>
            </tr>
            <tr>
                <th>Warna Khusus 1</th>
                <td>{{ designCode.colorSpecial1 }}</td>
            </tr>
            <tr>
                <th>Warna Khusus 2</th>
                <td>{{ designCode.colorSpecial2 }}</td>
            </tr>
            <tr>
                <th>Warna Khusus 3</th>
                <td>{{ designCode.colorSpecial3 }}</td>
            </tr>
            <tr>
                <th>Warna Khusus 4</th>
                <td>{{ designCode.colorSpecial4 }}</td>
            </tr>
            <tr>
                <th>Coating</th>
                <td>{{ designCode.coating }}</td>
            </tr>
            <tr>
                <th>Jumlah Mata (Up/s)</th>
                <td>{{ designCode.printingUpQuantity }}</td>
            </tr>
            <tr>
                <th>Uk. Kris Cetak (cm)</th>
                <td>{{ designCode.printingKrisSize }}</td>
            </tr>
            <tr>
                <th>Uk. Ptg Kertas (cm)</th>
                <td>{{ designCode.paperCuttingSize }}</td>
            </tr>
            <tr>
                <th>Mountage Kertas (lbr/plano)</th>
                <td>{{ designCode.paperMountage }}</td>
            </tr>
            <tr>
                <th>Pisau Diecut</th>
                <td>{{ designCode.diecutKnife.codeNumber|default }}</td>
            </tr>
            <tr>
                <th>Millar</th>
                <td>{{ designCode.dielineMillar.codeNumber|default }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ designCode.status }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ designCode.note }}</td>
            </tr>
            <tr>
                <th>Is Inactive</th>
                <td>{{ designCode.isInactive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <hr />
    
    <legend class="float-none w-auto text-dark px-1">Product List</legend>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>MO #</th>
            </tr>
        </thead>
        <tbody>
            {% for masterOrderHeader in designCode.masterOrderHeaders %}
                {% for masterOrderDetail in masterOrderHeader.masterOrderDetails %}
                    <tr>
                        <td>{{ masterOrderDetail.product.code|default }}</td>
                        <td>{{ masterOrderDetail.product.name|default }}</td>
                        <td>{{ masterOrderHeader.codeNumber|default }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    {#{{ include('master/design_code/_delete_form.html.twig') }}#}
{% endblock %}
