{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, deliveryDetails) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped" id="delivery-detail-table" data-controller="data-table">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="min-width: 150px">
                    Pengiriman #
                </th>
                <th style="min-width: 150px">
                    Tanggal
                </th>
                <th style="min-width: 150px">
                    PO #
                </th>
                <th style="min-width: 150px">Customer</th>
                <th style="min-width: 150px">
                    Code 
                </th>
                <th style="min-width: 150px">
                    Name 
                </th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for deliveryDetail in deliveryDetails %}
                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {
                    'deliveryDetailId': deliveryDetail.id, 
                    'productName': deliveryDetail.product.name, 
                    'productCode': deliveryDetail.product.code, 
                    'quantity': deliveryDetail.deliveredQuantity|default|number_format(0), 
                    'unitPrice': deliveryDetail.saleOrderDetail.unitPriceBeforeTax|default|number_format(2),
                    'total': deliveryDetail.total|default|number_format(2),
                    'unitName': deliveryDetail.unit.name}|json_encode }}">
                    <td>{{ deliveryDetail.deliveryHeader.codeNumber }}</td>
                    <td>{{ deliveryDetail.deliveryHeader.transactionDate ? deliveryDetail.deliveryHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ deliveryDetail.saleOrderDetail.saleOrderHeader.referenceNumber|default }}</td>
                    <td>{{ deliveryDetail.deliveryHeader.customer.company|default }}</td>
                    <td>{{ deliveryDetail.product.code|default }}</td>
                    <td>{{ deliveryDetail.product.name|default }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, deliveryDetails) }}
