{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, deliveryDetails) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped" id="delivery-detail-table" data-controller="data-table">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th role="button">
                    Pengiriman #
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Tanggal {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th>
                    PO #
                </th>
                <th>Customer</th>
                <th>
                    Code 
                </th>
                <th>
                    Name 
                </th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for deliveryDetail in deliveryDetails %}
                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {
                    'deliveryDetailId': deliveryDetail.id, 
                    'productName': deliveryDetail.product.name, 
                    'productCode': deliveryDetail.product.code, 
                    'quantity': deliveryDetail.deliveredQuantity|default|number_format(0), 
                    'unitPrice': deliveryDetail.saleOrderDetail.unitPriceBeforeTax|default|number_format(2),
                    'total': deliveryDetail.total|default|number_format(2),
                    'unitName': deliveryDetail.unit.name}|json_encode }}">
                    <td>{{ deliveryDetail.deliveryHeader.codeNumber }}</td>
                    <td>{{ deliveryDetail.deliveryHeader.transactionDate ? deliveryDetail.deliveryHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ deliveryDetail.saleOrderDetail.saleOrderHeader.referenceNumber }}</td>
                    <td>{{ deliveryDetail.deliveryHeader.customer.company }}</td>
                    <td>{{ deliveryDetail.product.code }}</td>
                    <td>{{ deliveryDetail.product.name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, deliveryDetails) }}
