<div data-controller="event-emitter json-loader"
     data-action="data-table:select->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'data-table:select': 'id'}|json_encode }}"
     data-json-loader-url-value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}"
     data-json-loader-method-value="POST"
     data-json-loader-form-target-value="{{ "form[name=#{form.vars.name}]" }}">

    {{ form_start(form) }}
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Header</legend>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="{{ form.masterOrder.vars.id }}-text" class="form-label">Master Order #</label>
                        {{ form_row(form.masterOrder, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'master-order-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.masterOrder.vars.id }}-text" class="form-control {% if not form.masterOrder.vars.valid %}is-invalid{% endif %}" value="{{ workOrderHeader.masterOrder.codeNumber|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#master-order-dialog"
                               data-controller="dom-element"
                               data-action="master-order-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderCodeNumber'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.masterOrder) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tanggal MO</label>
                        <input type="text" class="form-control" value="{{ workOrderHeader.masterOrder.productionDate|default ? workOrderHeader.masterOrder.productionDate|date('d M Y') : '' }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="master-order-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderDate'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mesin</label>
                        <input type="text" class="form-control" value="{{ workOrderHeader.masterOrder.printingMachine|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="master-order-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderPrintingMachine'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Customer</label>
                        <input type="text" class="form-control" value="{{ workOrderHeader.masterOrder.customer.company|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="master-order-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.customerCompany'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">PO Customer #</label>
                        <input type="text" class="form-control" value="{{ workOrderHeader.masterOrder.saleOrderHeader.codeNumber|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="master-order-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.saleOrderCodeNumber'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Kode Produk</label>
                        <input type="text" class="form-control" value="{{ workOrderHeader.masterOrder.product.code|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="master-order-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.productCode'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nama Produk</label>
                        <input type="text" class="form-control" value="{{ workOrderHeader.masterOrder.product.name|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="master-order-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.productName'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Kode Design</label>
                        <input type="text" class="form-control" value="{{ workOrderHeader.masterOrder.designCode|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="master-order-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderDesignCode'}},
                               ]|json_encode }}" />
                    </div>
                </div>
                <div class="col">
                    {{ form_row(form.productionDate, {'label': 'Tanggal WO', 'attr': {'data-controller': 'flatpickr-element'}}) }}
                    {{ form_row(form.orderStatus, {'label': 'Status'}) }}
                    {{ form_row(form.color, {'label': 'Warna'}) }}
                    {{ form_row(form.orderUp, {'label': 'Up/S'}) }}
                    {{ form_row(form.insit, {'label': 'Insit'}) }}
                    {{ form_row(form.packingMaterialBox, {'label': 'Bahan Packing Dus'}) }}
                    {{ form_row(form.packingMaterialPaper, {'label': 'Bahan Packing Kertas'}) }}
                    <div class="mb-3">
                        <label class="form-label">Quantity Order</label>
                        <input type="text" class="form-control" value="{{ workOrderHeader.masterOrder.quantityOrder|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="master-order-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderQuantity'}},
                               ]|json_encode }}" />
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="{{ form.material.vars.id }}-text" class="form-label">Bahan</label>
                        {{ form_row(form.material, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'material-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.materialId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.material.vars.id }}-text" class="form-control {% if not form.material.vars.valid %}is-invalid{% endif %}" value="{{ workOrderHeader.material.name|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#material-dialog"
                               data-controller="dom-element"
                               data-action="material-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.materialName'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.material) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Kode Bahan</label>
                        <input type="text" class="form-control" value="{{ workOrderHeader.material.code|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="material-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.materialCode'}},
                               ]|json_encode }}" />
                    </div>
                        
                    <label class="form-label">Kris Cetak</label>
                    <div class="row">
                        <div class="col">
                    {{ form_row(form.printingKrisLength, {'label': false}) }}
                        </div>
                        <div class="col">
                    {{ form_row(form.printingKrisWidth, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Ukuran Plano</label>
                    <div class="row">
                        <div class="col">
                    {{ form_row(form.planoSizeLength, {'label': false}) }}
                        </div>
                        <div class="col">
                    {{ form_row(form.planoSizeWidth, {'label': false}) }}
                        </div>
                    </div>
                    {{ form_row(form.planoQuantity, {'label': 'Jumlah'}) }}
                </div>
                <div class="col">
                        
                    <label class="form-label">Ukuran Potong 1</label>
                    <div class="row">
                        <div class="col">
                    {{ form_row(form.cuttingLength1, {'label': false}) }}
                        </div>
                        <div class="col">
                    {{ form_row(form.cuttingWidth1, {'label': false}) }}
                        </div>
                    </div>
                        
                    <label class="form-label">Ukuran Potong 2</label>
                    <div class="row">
                        <div class="col">
                    {{ form_row(form.cuttingLength2, {'label': false}) }}
                        </div>
                        <div class="col">
                    {{ form_row(form.cuttingWidth2, {'label': false}) }}
                        </div>
                    </div>
                    {{ form_row(form.cuttingQuantity, {'label': 'Jumlah'}) }}
                    {{ form_row(form.cuttingInsit, {'label': 'Insheet'}) }}
                    {{ form_row(form.planoConversion, {'label': '1 Plano jadi'}) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <div class="row">
                <div class="col">
                    {{ form_row(form.note, {'label': 'Catatan'}) }}
                </div>
            </div>
        </fieldset>

        <div class="d-grid">
            <button class="btn btn-success"
                    data-controller="dom-element"
                    data-action="dom-element#confirm"
                    data-dom-element-confirm-message-param="Are you sure you want to save this transaction?">
                Save
            </button>
        </div>
    {{ form_end(form) }}

    {% import 'app/bootstrap_dialog.html.twig' as dialog %}

    {{ dialog.start('master-order-dialog', 'Master Order List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_master_order__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}

    {{ dialog.start('material-dialog', 'Material List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_material__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}
</div>
