{% extends 'layout_page.html.twig' %}

{% block title 'Show Work Order' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_production_work_order_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_production_work_order_header_edit', {'id': workOrderHeader.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Work Order #</th>
                <td>{{ workOrderHeader.getCodeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ workOrderHeader.productionDate ? workOrderHeader.productionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Order Status</th>
                <td>{{ workOrderHeader.orderStatus }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ workOrderHeader.color }}</td>
            </tr>
            <tr>
                <th>Order Up</th>
                <td>{{ workOrderHeader.orderUp }}</td>
            </tr>
            <tr>
                <th>Insit</th>
                <td>{{ workOrderHeader.insit }}</td>
            </tr>
            <tr>
                <th>Printing Kris Length</th>
                <td>{{ workOrderHeader.printingKrisLength }}</td>
            </tr>
            <tr>
                <th>Printing Kris Width</th>
                <td>{{ workOrderHeader.printingKrisWidth }}</td>
            </tr>
            <tr>
                <th>Plano Size Length</th>
                <td>{{ workOrderHeader.planoSizeLength }}</td>
            </tr>
            <tr>
                <th>Plano Size Width</th>
                <td>{{ workOrderHeader.planoSizeWidth }}</td>
            </tr>
            <tr>
                <th>Plano Quantity</th>
                <td>{{ workOrderHeader.planoQuantity }}</td>
            </tr>
            <tr>
                <th>Cutting Length1</th>
                <td>{{ workOrderHeader.cuttingLength1 }}</td>
            </tr>
            <tr>
                <th>Cutting Width1</th>
                <td>{{ workOrderHeader.cuttingWidth1 }}</td>
            </tr>
            <tr>
                <th>Cutting Length2</th>
                <td>{{ workOrderHeader.cuttingLength2 }}</td>
            </tr>
            <tr>
                <th>Cutting Width2</th>
                <td>{{ workOrderHeader.cuttingWidth2 }}</td>
            </tr>
            <tr>
                <th>Cutting Quantity</th>
                <td>{{ workOrderHeader.cuttingQuantity }}</td>
            </tr>
            <tr>
                <th>Cutting Insit</th>
                <td>{{ workOrderHeader.cuttingInsit }}</td>
            </tr>
            <tr>
                <th>Packing Material Box</th>
                <td>{{ workOrderHeader.packingMaterialBox }}</td>
            </tr>
            <tr>
                <th>Packing Material Paper</th>
                <td>{{ workOrderHeader.packingMaterialPaper }}</td>
            </tr>
            <tr>
                <th>Plano Conversion</th>
                <td>{{ workOrderHeader.planoConversion }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('production/work_order_header/_delete_form.html.twig') }}
{% endblock %}
