<div class="table-responsive">
    <table class="table table-bordered"
       data-controller="form-collection"
       data-form-collection-start-index-value="{{ form.inventoryRequestPaperDetails|length > 0 ? form.inventoryRequestPaperDetails|last.vars.name + 1 : 0 }}"
       data-form-collection-prototype-value="{{ _self.collection_item(form.inventoryRequestPaperDetails.vars.prototype, form)|e('html_attr') }}"
       data-action="form-collection:collection-item-removed->json-loader#load:self">
        <thead class="table-secondary">
            <tr>
                <th class="d-none">Paper Id</th>
                <th style="min-width: 250px">Kode</th>
                <th style="min-width: 250px">Nama Kertas</th>
                <th style="min-width: 100px">Qty</th>
                <th style="min-width: 100px">Satuan</th>
                <th style="min-width: 100px">Keterangan</th>
                <th style="min-width: 0"></th>
            </tr>
        </thead>
        <tbody data-form-collection-target="items" data-action="{{ form.requestMode.vars.id }}:change@document->form-collection#clearCollectionItems paper-table:data-table:select@document->form-collection#addCollectionItem">
            {% macro collection_item(detailForm, form) %}
                <tr data-form-collection-target="item" {% if (detailForm.vars.value.isCanceled) %}class="bg-secondary"{% endif %}>
                    <td class="d-none">{{ form_widget(detailForm.paper, {'attr': {'data-item-field-name': 'paperId'}}) }}</td>
                    <td data-item-field-name="paperCode">{{ detailForm.vars.value.paper.code|default }}</td>
                    <td data-item-field-name="paperName">{{ detailForm.vars.value.paper.name|default }}</td>
                    <td>
                        {{ form_row(detailForm.quantity, {'label': false, 'attr': {
                            'size': 3,
                            'data-controller': 'dom-element',
                            'data-action': 'change->dom-element#bind change->json-loader#load',
                            'data-dom-element-bind-specifications-param': [
                                {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$helper.localizer.number($element.value, 0)'}}
                            ]|json_encode,
                        }}) }}
                    </td>
                    <td data-item-field-name="unitName">{{ detailForm.vars.value.paper.unit.name|default }}</td>
                    <td>{{ form_row(detailForm.memo, {'label': false, 'attr': {'size': 3}}) }}</td>
                    <td>
                        <div {% if (detailForm.vars.value.id == null) %}class="d-none"{% endif %}>
                            {{ form_row(detailForm.isCanceled, {
                                'label': 'X',
                                'attr': {
                                    'data-controller': 'dom-element',
                                    'data-action': 'dom-element#bind change->json-loader#load',
                                    'data-dom-element-bind-specifications-param': [
                                        {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.paper.id|default}\"]", 'action': 'removeClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '!$element.checked'},
                                        {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.paper.id|default}\"]", 'action': 'addClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '$element.checked'},
                                    ]|json_encode,
                                },
                            }) }}
                        </div>
                    </td>
                </tr>
            {% endmacro %}
            {% for detailForm in form.inventoryRequestPaperDetails %}
                {{ _self.collection_item(detailForm, form) }}
            {% endfor %}
        </tbody>
    </table>
</div>
