{% extends 'layout_page.html.twig' %}

{% block title 'Show Inventory Request Header' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_inventory_request_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_stock_inventory_request_header_edit', {'id': inventoryRequestHeader.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Code Number</th>
                <td>{{ inventoryRequestHeader.codeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ inventoryRequestHeader.transactionDate ? inventoryRequestHeader.transactionDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Department Name</th>
                <td>{{ inventoryRequestHeader.departmentName }}</td>
            </tr>
            <tr>
                <th>Work Order Number</th>
                <td>{{ inventoryRequestHeader.workOrderNumber }}</td>
            </tr>
            <tr>
                <th>Part Number</th>
                <td>{{ inventoryRequestHeader.partNumber }}</td>
            </tr>
            <tr>
                <th>Pickup Date</th>
                <td>{{ inventoryRequestHeader.pickupDate ? inventoryRequestHeader.pickupDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ inventoryRequestHeader.note }}</td>
            </tr>
            <tr>
                <th>Is Canceled</th>
                <td>{{ inventoryRequestHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Kode</th>
                {% if (inventoryRequestHeader.requestMode == 'paper') %}
                    <th>Nama Kertas</th>
                {% elseif (inventoryRequestHeader.requestMode == 'material') %} 
                    <th>Nama Material</th>
                {% endif %} 
                <th>Qty</th>
                <th>Satuan</th>
                <th>Keterangan</th>
            </tr>
        </thead>
        <tbody>
            {% if (inventoryRequestHeader.requestMode == 'paper') %}
                {% for inventoryRequestPaperDetail in inventoryRequestHeader.inventoryRequestPaperDetails %}
                    <tr>
                        <td>{{ inventoryRequestPaperDetail.paper.code|default }}</td>
                        <td>{{ inventoryRequestPaperDetail.paper.name|default }}</td>
                        <td>{{ inventoryRequestPaperDetail.quantity|default|number_format(2) }}</td>
                        <td>{{ inventoryRequestPaperDetail.unit.name|default }}</td>
                        <td>{{ inventoryRequestPaperDetail.memo|default }}</td>
                    </tr>
                {% endfor %}
            {% elseif (inventoryRequestHeader.requestMode == 'material') %} 
                {% for inventoryRequestMaterialDetail in inventoryRequestHeader.inventoryRequestMaterialDetails %}
                    <tr>
                        <td>{{ inventoryRequestMaterialDetail.material.code|default }}</td>
                        <td>{{ inventoryRequestMaterialDetail.material.name|default }}</td>
                        <td>{{ inventoryRequestMaterialDetail.quantity|default|number_format(2) }}</td>
                        <td>{{ inventoryRequestMaterialDetail.unit.name|default }}</td>
                        <td>{{ inventoryRequestMaterialDetail.memo|default }}</td>
                    </tr>
                {% endfor %}
            {% endif %} 
        </tbody>
    </table>

    {#{{ include('stock/inventory_request_header/_delete_form.html.twig') }}#}
{% endblock %}
