{% extends 'layout_page.html.twig' %}

{% block title 'Show Inventory Release Header' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_inventory_release_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_stock_inventory_release_header_edit', {'id': inventoryReleaseHeader.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Code Number</th>
                <td>{{ inventoryReleaseHeader.codeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ inventoryReleaseHeader.transactionDate ? inventoryReleaseHeader.transactionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Divisi</th>
                <td>{{ inventoryReleaseHeader.division.name }}</td>
            </tr>
            <tr>
                <th>WO #</th>
                <td>{{ inventoryReleaseHeader.masterOrderHeader.codeNumber }}</td>
            </tr>
            <tr>
                <th>Part #</th>
                <td>{{ inventoryReleaseHeader.partNumber }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ inventoryReleaseHeader.note }}</td>
            </tr>
            <tr>
                <th>Is Canceled</th>
                <td>{{ inventoryReleaseHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Kode</th>
                {% if (inventoryReleaseHeader.releaseMode == 'paper') %}
                    <th>Nama Kertas</th>
                {% elseif (inventoryReleaseHeader.releaseMode == 'material') %} 
                    <th>Nama Material</th>
                {% endif %} 
                <th>Qty</th>
                <th>Satuan</th>
                <th>Keterangan</th>
            </tr>
        </thead>
        <tbody>
            {% if (inventoryReleaseHeader.releaseMode == 'paper') %}
                {% for inventoryReleasePaperDetail in inventoryReleaseHeader.inventoryReleasePaperDetails %}
                    <tr>
                        <td>{{ inventoryReleasePaperDetail.paper.codeNumber|default }}</td>
                        <td>{{ inventoryReleasePaperDetail.paper.name|default }}</td>
                        <td>{{ inventoryReleasePaperDetail.quantity|default|number_format(0) }}</td>
                        <td>{{ inventoryReleasePaperDetail.unit.name|default }}</td>
                        <td>{{ inventoryReleasePaperDetail.memo|default }}</td>
                    </tr>
                {% endfor %}
            {% elseif (inventoryReleaseHeader.releaseMode == 'material') %} 
                {% for inventoryReleaseMaterialDetail in inventoryReleaseHeader.inventoryReleaseMaterialDetails %}
                    <tr>
                        <td>{{ inventoryReleaseMaterialDetail.material.code|default }}</td>
                        <td>{{ inventoryReleaseMaterialDetail.material.name|default }}</td>
                        <td>{{ inventoryReleaseMaterialDetail.quantity|default|number_format(0) }}</td>
                        <td>{{ inventoryReleaseMaterialDetail.unit.name|default }}</td>
                        <td>{{ inventoryReleaseMaterialDetail.memo|default }}</td>
                    </tr>
                {% endfor %}
            {% endif %} 
        </tbody>
    </table>

    {# {{ include('stock/inventory_release_header/_delete_form.html.twig') }} #}
{% endblock %}
