{% extends 'layout_page.html.twig' %}

{% block title 'Show Purchase Payment' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_transaction_purchase_payment_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_transaction_purchase_payment_header_edit', {'id': purchasePaymentHeader.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Payment #</th>
                <td>{{ purchasePaymentHeader.getCodeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ purchasePaymentHeader.transactionDate ? purchasePaymentHeader.transactionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>{{ purchasePaymentHeader.supplier.company }}</td>
            </tr>
            <tr>
                <th>Cek / Giro #</th>
                <td>{{ purchasePaymentHeader.referenceNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal Cek / Giro</th>
                <td>{{ purchasePaymentHeader.referenceDate ? purchasePaymentHeader.referenceDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ purchasePaymentHeader.supplier.currency.name }}</td>
            </tr>
            <tr>
                <th>Kurs Mata Uang</th>
                <td>{{ purchasePaymentHeader.currencyRate }}</td>
            </tr>
            <tr>
                <th>Jenis Pembayaran</th>
                <td>{{ purchasePaymentHeader.paymentType.name }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ purchasePaymentHeader.note }}</td>
            </tr>
            <tr>
                <th>Is Canceled</th>
                <td>{{ purchasePaymentHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Invoice #</th>
                <th>Jatuh Tempo</th>
                <th>Memo</th>
                <th>Akun</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for purchasePaymentDetail in purchasePaymentHeader.purchasePaymentDetails %}
                <tr>
                    <td>{{ purchasePaymentDetail.purchaseInvoiceHeader.supplierInvoiceCodeNumber|default }}</td>
                    <td>{{ purchasePaymentDetail.purchaseInvoiceHeader.dueDate ? purchasePaymentDetail.purchaseInvoiceHeader.dueDate|date('Y-m-d') : '' }}</td>
                    <td>{{ purchasePaymentDetail.memo|default }}</td>
                    <td>{{ purchasePaymentDetail.account.name|default }}</td>
                    <td style="text-align: right">{{ purchasePaymentDetail.amount|default|number_format(2) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align: right"><strong>Total</strong></td>
                <td style="text-align: right"><strong>{{ purchasePaymentHeader.totalAmount|default|number_format(2) }}</strong></td>
            </tr>
        </tfoot>
    </table>
    
    {{ include('transaction/purchase_payment_header/_delete_form.html.twig') }}
{% endblock %}
