{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, journalVoucherDetails) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th role="button" {{ grid.sort_link_item(form, 'debitAmount') }}>
                    Debit Amount {{ grid.sort_char(form.sort.debitAmount.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'creditAmount') }}>
                    Credit Amount {{ grid.sort_char(form.sort.creditAmount.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'isCanceled') }}>
                    Is Canceled {{ grid.sort_char(form.sort.isCanceled.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'memo') }}>
                    Memo {{ grid.sort_char(form.sort.memo.vars.value) }}
                </th>
                <th></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'debitAmount') }} value="{{ form.filter.debitAmount.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'creditAmount') }} value="{{ form.filter.creditAmount.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'isCanceled') }} value="{{ form.filter.isCanceled.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'memo') }} value="{{ form.filter.memo.1.vars.value }}" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for journalVoucherDetail in journalVoucherDetails %}
                <tr>
                    <td>{{ journalVoucherDetail.debitAmount }}</td>
                    <td>{{ journalVoucherDetail.creditAmount }}</td>
                    <td>{{ journalVoucherDetail.isCanceled ? 'Yes' : 'No' }}</td>
                    <td>{{ journalVoucherDetail.memo }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_accounting_journal_voucher_detail_show', {'id': journalVoucherDetail.id}) }}">Show</a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_accounting_journal_voucher_detail_edit', {'id': journalVoucherDetail.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, journalVoucherDetails) }}
