{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, purchaseInvoiceHeaders) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped" id="purchase-invoice-header-table" data-controller="data-table">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="width: 0">
                    <input type="checkbox" data-controller="dom-element" data-action="dom-element#bind" data-dom-element-bind-specifications-param="{{ [
                        {'destinationsTarget': '#purchase-invoice-header-table .data-table-check', 'action': 'setPropertyValue', 'descriptor': {'property': 'checked', 'value': '$element.checked'}},
                    ]|json_encode }}" />
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'invoiceTaxCodeNumber') }}>
                    Invoice Tax Code Number {{ grid.sort_char(form.sort.invoiceTaxCodeNumber.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'supplierInvoiceCodeNumber') }}>
                    Supplier Invoice Code Number {{ grid.sort_char(form.sort.supplierInvoiceCodeNumber.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'discountValueType') }}>
                    Discount Value Type {{ grid.sort_char(form.sort.discountValueType.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'discountValue') }}>
                    Discount Value {{ grid.sort_char(form.sort.discountValue.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'taxMode') }}>
                    Tax Mode {{ grid.sort_char(form.sort.taxMode.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'taxPercentage') }}>
                    Tax Percentage {{ grid.sort_char(form.sort.taxPercentage.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'taxNominal') }}>
                    Tax Nominal {{ grid.sort_char(form.sort.taxNominal.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'shippingFee') }}>
                    Shipping Fee {{ grid.sort_char(form.sort.shippingFee.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'subTotal') }}>
                    Sub Total {{ grid.sort_char(form.sort.subTotal.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'subTotalAfterTaxInclusion') }}>
                    Sub Total After Tax Inclusion {{ grid.sort_char(form.sort.subTotalAfterTaxInclusion.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'grandTotal') }}>
                    Grand Total {{ grid.sort_char(form.sort.grandTotal.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'totalPayment') }}>
                    Total Payment {{ grid.sort_char(form.sort.totalPayment.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'totalReturn') }}>
                    Total Return {{ grid.sort_char(form.sort.totalReturn.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'remainingPayment') }}>
                    Remaining Payment {{ grid.sort_char(form.sort.remainingPayment.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'isCanceled') }}>
                    Is Canceled {{ grid.sort_char(form.sort.isCanceled.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'codeNumberOrdinal') }}>
                    Code Number Ordinal {{ grid.sort_char(form.sort.codeNumberOrdinal.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'codeNumberMonth') }}>
                    Code Number Month {{ grid.sort_char(form.sort.codeNumberMonth.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'codeNumberYear') }}>
                    Code Number Year {{ grid.sort_char(form.sort.codeNumberYear.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'createdTransactionDateTime') }}>
                    Created Transaction Date Time {{ grid.sort_char(form.sort.createdTransactionDateTime.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'modifiedTransactionDateTime') }}>
                    Modified Transaction Date Time {{ grid.sort_char(form.sort.modifiedTransactionDateTime.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'approvedTransactionDateTime') }}>
                    Approved Transaction Date Time {{ grid.sort_char(form.sort.approvedTransactionDateTime.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Transaction Date {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'note') }}>
                    Note {{ grid.sort_char(form.sort.note.vars.value) }}
                </th>
                <th></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'invoiceTaxCodeNumber') }} value="{{ form.filter.invoiceTaxCodeNumber.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'supplierInvoiceCodeNumber') }} value="{{ form.filter.supplierInvoiceCodeNumber.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'discountValueType') }} value="{{ form.filter.discountValueType.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'discountValue') }} value="{{ form.filter.discountValue.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'taxMode') }} value="{{ form.filter.taxMode.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'taxPercentage') }} value="{{ form.filter.taxPercentage.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'taxNominal') }} value="{{ form.filter.taxNominal.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'shippingFee') }} value="{{ form.filter.shippingFee.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'subTotal') }} value="{{ form.filter.subTotal.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'subTotalAfterTaxInclusion') }} value="{{ form.filter.subTotalAfterTaxInclusion.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'grandTotal') }} value="{{ form.filter.grandTotal.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'totalPayment') }} value="{{ form.filter.totalPayment.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'totalReturn') }} value="{{ form.filter.totalReturn.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'remainingPayment') }} value="{{ form.filter.remainingPayment.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'isCanceled') }} value="{{ form.filter.isCanceled.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'codeNumberOrdinal') }} value="{{ form.filter.codeNumberOrdinal.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'codeNumberMonth') }} value="{{ form.filter.codeNumberMonth.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'codeNumberYear') }} value="{{ form.filter.codeNumberYear.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'createdTransactionDateTime') }} value="{{ form.filter.createdTransactionDateTime.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'modifiedTransactionDateTime') }} value="{{ form.filter.modifiedTransactionDateTime.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'approvedTransactionDateTime') }} value="{{ form.filter.approvedTransactionDateTime.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'note') }} value="{{ form.filter.note.1.vars.value }}" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseInvoiceHeader in purchaseInvoiceHeaders %}
                <tr class="data-table-check-row" data-action="click->data-table#select" data-data-table-values-param="{{ {'purchaseInvoiceHeaderId': purchaseInvoiceHeader.id, 'purchaseInvoiceHeaderCodeNumber': purchaseInvoiceHeader.codeNumber}|json_encode }}">
                    <td><input type="checkbox" class="data-table-check" data-controller="dom-element" data-action="click->dom-element#doNothing:stop" /></td>
                    <td>{{ purchaseInvoiceHeader.invoiceTaxCodeNumber }}</td>
                    <td>{{ purchaseInvoiceHeader.supplierInvoiceCodeNumber }}</td>
                    <td>{{ purchaseInvoiceHeader.discountValueType }}</td>
                    <td>{{ purchaseInvoiceHeader.discountValue }}</td>
                    <td>{{ purchaseInvoiceHeader.taxMode }}</td>
                    <td>{{ purchaseInvoiceHeader.taxPercentage }}</td>
                    <td>{{ purchaseInvoiceHeader.taxNominal }}</td>
                    <td>{{ purchaseInvoiceHeader.shippingFee }}</td>
                    <td>{{ purchaseInvoiceHeader.subTotal }}</td>
                    <td>{{ purchaseInvoiceHeader.subTotalAfterTaxInclusion }}</td>
                    <td>{{ purchaseInvoiceHeader.grandTotal }}</td>
                    <td>{{ purchaseInvoiceHeader.totalPayment }}</td>
                    <td>{{ purchaseInvoiceHeader.totalReturn }}</td>
                    <td>{{ purchaseInvoiceHeader.remainingPayment }}</td>
                    <td>{{ purchaseInvoiceHeader.isCanceled ? 'Yes' : 'No' }}</td>
                    <td>{{ purchaseInvoiceHeader.codeNumberOrdinal }}</td>
                    <td>{{ purchaseInvoiceHeader.codeNumberMonth }}</td>
                    <td>{{ purchaseInvoiceHeader.codeNumberYear }}</td>
                    <td>{{ purchaseInvoiceHeader.createdTransactionDateTime ? purchaseInvoiceHeader.createdTransactionDateTime|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ purchaseInvoiceHeader.modifiedTransactionDateTime ? purchaseInvoiceHeader.modifiedTransactionDateTime|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ purchaseInvoiceHeader.approvedTransactionDateTime ? purchaseInvoiceHeader.approvedTransactionDateTime|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ purchaseInvoiceHeader.transactionDate ? purchaseInvoiceHeader.transactionDate|date('Y-m-d') : '' }}</td>
                    <td>{{ purchaseInvoiceHeader.note }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_transaction_purchase_invoice_header_show', {'id': purchaseInvoiceHeader.id}) }}">Show</a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_transaction_purchase_invoice_header_edit', {'id': purchaseInvoiceHeader.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="25">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-primary btn-sm"
        data-action="event-emitter#trigger"
        data-event-emitter-trigger-elements-target-param="#purchase-invoice-header-table .data-table-check-row"
        data-event-emitter-trigger-event-type-param="click"
        data-event-emitter-trigger-condition-param="$element.querySelector('.data-table-check').checked">
    Select
</button>

{{ grid.navigation(form, count, purchaseInvoiceHeaders) }}
