{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, purchaseInvoiceHeaders) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped" id="purchase-invoice-header-table" data-controller="data-table">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="width: 0">
                    <input type="checkbox" data-controller="dom-element" data-action="dom-element#bind" data-dom-element-bind-specifications-param="{{ [
                        {'destinationsTarget': '#purchase-invoice-header-table .data-table-check', 'action': 'setPropertyValue', 'descriptor': {'property': 'checked', 'value': '$element.checked'}},
                    ]|json_encode }}" />
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'codeNumberOrdinal') }}>
                    Code Number Ordinal {{ grid.sort_char(form.sort.codeNumberOrdinal.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'codeNumberMonth') }}>
                    Code Number Month {{ grid.sort_char(form.sort.codeNumberMonth.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'codeNumberYear') }}>
                    Code Number Year {{ grid.sort_char(form.sort.codeNumberYear.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Transaction Date {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'invoiceTaxCodeNumber') }}>
                    Invoice Tax Code Number {{ grid.sort_char(form.sort.invoiceTaxCodeNumber.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'supplierInvoiceCodeNumber') }}>
                    Supplier Invoice Code Number {{ grid.sort_char(form.sort.supplierInvoiceCodeNumber.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'grandTotal') }}>
                    Grand Total {{ grid.sort_char(form.sort.grandTotal.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'totalPayment') }}>
                    Total Payment {{ grid.sort_char(form.sort.totalPayment.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'totalReturn') }}>
                    Total Return {{ grid.sort_char(form.sort.totalReturn.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'remainingPayment') }}>
                    Remaining Payment {{ grid.sort_char(form.sort.remainingPayment.vars.value) }}
                </th>
                {#<th></th>#}S
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'codeNumberOrdinal') }} value="{{ form.filter.codeNumberOrdinal.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'codeNumberMonth') }} value="{{ form.filter.codeNumberMonth.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'codeNumberYear') }} value="{{ form.filter.codeNumberYear.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'invoiceTaxCodeNumber') }} value="{{ form.filter.invoiceTaxCodeNumber.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'supplierInvoiceCodeNumber') }} value="{{ form.filter.supplierInvoiceCodeNumber.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'grandTotal') }} value="{{ form.filter.grandTotal.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'totalPayment') }} value="{{ form.filter.totalPayment.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'totalReturn') }} value="{{ form.filter.totalReturn.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'remainingPayment') }} value="{{ form.filter.remainingPayment.1.vars.value }}" />
                </th>
                {#<th></th>#}
            </tr>
        </thead>
        <tbody>
            {% for purchaseInvoiceHeader in purchaseInvoiceHeaders %}
                <tr class="data-table-check-row" data-action="click->data-table#select" data-data-table-values-param="{{ {'purchaseInvoiceHeaderId': purchaseInvoiceHeader.id, 'purchaseInvoiceHeaderCodeNumber': purchaseInvoiceHeader.codeNumber}|json_encode }}">
                    <td><input type="checkbox" class="data-table-check" data-controller="dom-element" data-action="click->dom-element#doNothing:stop" /></td>
                    <td>{{ purchaseInvoiceHeader.codeNumberOrdinal }}</td>
                    <td>{{ purchaseInvoiceHeader.codeNumberMonth }}</td>
                    <td>{{ purchaseInvoiceHeader.codeNumberYear }}</td>
                    <td>{{ purchaseInvoiceHeader.transactionDate ? purchaseInvoiceHeader.transactionDate|date('Y-m-d') : '' }}</td>
                    <td>{{ purchaseInvoiceHeader.invoiceTaxCodeNumber }}</td>
                    <td>{{ purchaseInvoiceHeader.supplierInvoiceCodeNumber }}</td>
                    <td>{{ purchaseInvoiceHeader.grandTotal }}</td>
                    <td>{{ purchaseInvoiceHeader.totalPayment }}</td>
                    <td>{{ purchaseInvoiceHeader.totalReturn }}</td>
                    <td>{{ purchaseInvoiceHeader.remainingPayment }}</td>
                    {#<td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_transaction_purchase_invoice_header_show', {'id': purchaseInvoiceHeader.id}) }}">Show</a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_transaction_purchase_invoice_header_edit', {'id': purchaseInvoiceHeader.id}) }}">Edit</a>
                    </td>#}
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-primary btn-sm"
        data-action="event-emitter#trigger"
        data-event-emitter-trigger-elements-target-param="#purchase-invoice-header-table .data-table-check-row"
        data-event-emitter-trigger-event-type-param="click"
        data-event-emitter-trigger-condition-param="$element.querySelector('.data-table-check').checked">
    Select
</button>

{{ grid.navigation(form, count, purchaseInvoiceHeaders) }}
