<div class="table-responsive">
    <table class="table table-bordered"
       data-controller="form-collection"
       data-form-collection-start-index-value="{{ form.depositDetails|length > 0 ? form.depositDetails|last.vars.name + 1 : 0 }}"
       data-form-collection-prototype-value="{{ _self.collection_item(form.depositDetails.vars.prototype, form)|e('html_attr') }}"
       data-action="form-collection:collection-item-removed->json-loader#load:self">
        <thead class="table-secondary">
            <tr>
                <th class="d-none">Account Id</th>
                <th style="min-width: 250px">Kode</th>
                <th style="min-width: 250px">Nama</th>
                <th style="min-width: 150px">Category</th>
                <th style="min-width: 150px">Deskripsi</th>
                <th style="min-width: 150px">Keterangan</th>
                <th style="min-width: 150px">Jumlah</th>
                <th style="min-width: 0"></th>
            </tr>
        </thead>
        <tbody data-form-collection-target="items" data-action="account-table:data-table:select@document->form-collection#addCollectionItem">
            {% macro collection_item(detailForm) %}
                <tr data-form-collection-target="item" data-item-identifier-name="accountId" data-item-identifier-value="{{ detailForm.vars.value.account.id|default }}"  {% if (detailForm.vars.value.isCanceled) %}class="bg-secondary"{% endif %}>
                    <td class="d-none">{{ form_widget(detailForm.account, {'attr': {'data-item-field-name': 'accountId'}}) }}</td>
                    <td data-item-field-name="accountCode">{{ detailForm.vars.value.account.code|default }}</td>
                    <td data-item-field-name="accountName">{{ detailForm.vars.value.account.name|default }}</td>
                    <td data-item-field-name="accountCategoryName">{{ detailForm.vars.value.account.accountCategory.name|default }}</td>
                    <td>{{ form_row(detailForm.description, {'label': false}) }}</td>
                    <td>{{ form_row(detailForm.memo, {'label': false}) }}</td>
                    <td>
                        {{ form_row(detailForm.amount, {'label': false, 'attr': {
                            'data-controller': 'dom-element',
                            'data-action': 'change->dom-element#bind change->json-loader#load',
                            'data-dom-element-bind-specifications-param': [
                                {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$helper.localizer.number($element.value, 2)'}}
                            ]|json_encode,
                        }}) }}
                    </td>
                    <td>
                        {% if (detailForm.vars.value.id == null) %}
                            <button type="button" class="btn btn-outline-dark" data-action="form-collection#removeCollectionItem"><i class="bi-x-lg"></i></button>
                        {% endif %}
                        <div {% if (detailForm.vars.value.id == null) %}class="d-none"{% endif %}>
                            {{ form_row(detailForm.isCanceled, {
                                'label': 'X',
                                'attr': {
                                    'data-controller': 'dom-element',
                                    'data-action': 'dom-element#bind change->json-loader#load',
                                    'data-dom-element-bind-specifications-param': [
                                        {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.account.id|default}\"]", 'action': 'removeClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '!$element.checked'},
                                        {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.account.id|default}\"]", 'action': 'addClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '$element.checked'},
                                    ]|json_encode,
                                },
                            }) }}
                        </div>
                    </td>
                </tr>
            {% endmacro %}
            {% for detailForm in form.depositDetails %}
                {{ _self.collection_item(detailForm, form) }}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-end" colspan="5">Total</td>
                <td class="text-end" data-json-loader-target="placeholder"
                    data-property-path="totalAmount">
                    {{ depositHeader.totalAmount|default|number_format(0) }}
                </td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
</div>
