{% extends 'layout_page.html.twig' %}

{% block title 'Show Deposit Header' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_accounting_deposit_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_accounting_deposit_header_edit', {'id': depositHeader.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Is Canceled</th>
                <td>{{ depositHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Code Number Ordinal</th>
                <td>{{ depositHeader.codeNumberOrdinal }}</td>
            </tr>
            <tr>
                <th>Code Number Month</th>
                <td>{{ depositHeader.codeNumberMonth }}</td>
            </tr>
            <tr>
                <th>Code Number Year</th>
                <td>{{ depositHeader.codeNumberYear }}</td>
            </tr>
            <tr>
                <th>Created Transaction Date Time</th>
                <td>{{ depositHeader.createdTransactionDateTime ? depositHeader.createdTransactionDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified Transaction Date Time</th>
                <td>{{ depositHeader.modifiedTransactionDateTime ? depositHeader.modifiedTransactionDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Approved Transaction Date Time</th>
                <td>{{ depositHeader.approvedTransactionDateTime ? depositHeader.approvedTransactionDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Transaction Date</th>
                <td>{{ depositHeader.transactionDate ? depositHeader.transactionDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ depositHeader.note }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('accounting/deposit_header/_delete_form.html.twig') }}
{% endblock %}
