{% extends 'base.html.twig' %}

{% block body %}
    {#{% set menu = {
        'ADMINISTRATION': {
            'User Management': ['app_admin_user_index', ['ROLE_USER']],
            'Transaction Settings': ['app_admin_literal_config_index', ['ROLE_USER']],
        },
        'MASTER': {
            'Employee': ['app_master_employee_index', ['ROLE_USER']],
            'Supplier': ['app_master_supplier_index', ['ROLE_USER']],
            'Customer': ['app_master_customer_index', ['ROLE_USER']],
            'Product': ['app_master_product_index', ['ROLE_USER']],
            'Paper': ['app_master_paper_index', ['ROLE_USER']],
            'Material': ['app_master_material_index', ['ROLE_USER']],
            'Design Code': ['app_master_design_code_index', ['ROLE_USER']],
            'Pisau Diecut': ['app_master_diecut_knife_index', ['ROLE_USER']],
            'Millar': ['app_master_dieline_millar_index', ['ROLE_USER']],
            'WO Process': ['app_master_work_order_process_index', ['ROLE_USER']],
            'WO Distribusi': ['app_master_work_order_distribution_index', ['ROLE_USER']],
            'WO Check Sheet': ['app_master_work_order_check_sheet_index', ['ROLE_USER']],
            'Mesin Cetak': ['app_master_machine_printing_index', ['ROLE_USER']],
            'Material Category': ['app_master_material_category_index', ['ROLE_USER']],
            'Material Sub Category': ['app_master_material_sub_category_index', ['ROLE_USER']],
            'Warehouse': ['app_master_warehouse_index', ['ROLE_USER']],
            'Transportation': ['app_master_transportation_index', ['ROLE_USER']],
            'Satuan': ['app_master_unit_index', ['ROLE_USER']],
            'Payment Type': ['app_master_payment_type_index', ['ROLE_USER']],
            'COA': ['app_master_account_index', ['ROLE_USER']],
        },
        'PEMBELIAN': {
            'Permintaan Pembelian Material': ['app_purchase_purchase_request_header_index', ['ROLE_USER']],
            'Permintaan Pembelian Kertas': ['app_purchase_purchase_request_paper_header_index', ['ROLE_USER']],
            'PO Material': ['app_purchase_purchase_order_header_index', ['ROLE_USER']],
            'PO Kertas': ['app_purchase_purchase_order_paper_header_index', ['ROLE_USER']],
            'Faktur Pembelian': ['app_purchase_purchase_invoice_header_index', ['ROLE_USER']],
            'Pembayaran Pembelian': ['app_purchase_purchase_payment_header_index', ['ROLE_USER']],
        },
        'PENJUALAN': {
            'Customer Order': ['app_sale_sale_order_header_index', ['ROLE_USER']],
            'Faktur Penjualan': ['app_sale_sale_invoice_header_index', ['ROLE_USER']],
            'Pelunasan Penjualan': ['app_sale_sale_payment_header_index', ['ROLE_USER']],
        },
        'GUDANG MATERIAL': {
            'Penerimaan': ['app_purchase_receive_header_index', ['ROLE_USER']],
            'Retur Pembelian': ['app_purchase_purchase_return_header_index', ['ROLE_USER']],
            'Penyesuaian Stok': ['app_stock_adjustment_stock_header_index', ['ROLE_USER']],
            'Permintaan Material': ['app_stock_inventory_request_header_index', ['ROLE_USER']],
            'Pengeluaran Material': ['app_stock_inventory_release_header_index', ['ROLE_USER']],
            'Transfer Antar Gudang': ['app_stock_stock_transfer_header_index', ['ROLE_USER']],
        },
        'GUDANG FG': {
            'Pengiriman Barang': ['app_sale_delivery_header_index', ['ROLE_USER']],
            'Retur Penjualan': ['app_sale_sale_return_header_index', ['ROLE_USER']],
            'Penerimaan FG': ['app_stock_inventory_product_receive_header_index', ['ROLE_USER']],
        },
        'PRODUKSI': {
            'Formulir Produk Baru': ['app_production_product_prototype_index', ['ROLE_USER']],
            'Development Produk': ['app_production_product_development_index', ['ROLE_USER']],
            'Master Order': ['app_production_master_order_header_index', ['ROLE_USER']],
        },
        'KEUANGAN': {
            'Penerimaan kas / bank': ['app_accounting_deposit_header_index', ['ROLE_USER']],
            'Pengeluaran kas / bank': ['app_accounting_expense_header_index', ['ROLE_USER']],
        },
    } %}

    {% set actionNames = {'index': '*', 'new': '*', 'edit': '*', 'show': '*', 'head': '*', 'add': '*', 'approval': '*', 'new_repeat': '*'} %}#}

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="{{ path('app_home_page') }}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">
                            <strong>PT Putracipta Karindomas</strong>
                        </span>
                    </a>

                    {% import 'app/navigation_menu.html.twig' as menu %}

                    {{ menu.start() }}
                        {{ menu.render_1('MENU_DASHBOARD') }}
                        {{ menu.render_2('MENU_ADMINISTRATION', {
                            'MENU_USER_MANAGEMENT': 'User Management', 
                            'MENU_TRANSACTION_SETTING': 'Transaction Setting'
                        }) }}
                        {{ menu.render_2('MENU_MASTER', {
                            'MENU_EMPLOYEE': 'Employee', 
                            'MENU_SUPPLIER': 'Supplier', 
                            'MENU_CUSTOMER': 'Customer',
                            'MENU_PRODUCT': 'Product', 
                            'MENU_PAPER': 'Kertas', 
                            'MENU_MATERIAL': 'Material',
                            'MENU_DESIGN_CODE': 'Design Code', 
                            'MENU_DIECUT_KNIFE': 'Pisau Diecut', 
                            'MENU_DIELINE_MILLAR': 'Millar',
                            'MENU_WORK_ORDER_PROCESS': 'WO Process', 
                            'MENU_WORK_ORDER_DISTRIBUTION': 'WO Distribusi', 
                            'MENU_WORK_ORDER_CHECK_SHEET': 'WO Check Sheet',
                            'MENU_MACHINE_PRINTING': 'Mesin Cetak', 
                            'MENU_MATERIAL_CATEGORY': 'Kategori Material', 
                            'MENU_MATERIAL_SUB_CATEGORY': 'Sub Kategori Material',
                            'MENU_WAREHOUSE': 'Gudang', 
                            'MENU_TRANSPORTATION': 'Kendaraan',
                            'MENU_UNIT': 'Satuan Barang', 
                            'MENU_PAYMENT_TYPE': 'Jenis Pembayaran', 
                            'MENU_CHART_OF_ACCOUNT': 'Chart of Account'
                        }) }}
                        {{ menu.render_2('MENU_PURCHASE', {
                            'MENU_PURCHASE': 'PEMBELIAN', 
                            'MENU_PURCHASE_REQUEST_MATERIAL': 'Permintaan Pembelian Material', 
                            'MENU_PURCHASE_REQUEST_PAPER': 'Permintaan Pembelian Kertas',
                            'MENU_PURCHASE_ORDER_MATERIAL': 'Order Pembelian Material', 
                            'MENU_PURCHASE_ORDER_PAPER': 'Order Pembelian Kertas',
                            'MENU_PURCHASE_INVOICE': 'Invoice Pembelian', 
                            'MENU_PURCHASE_PAYMENT': 'Pembayaran Pembelian'
                        }) }}
                        {{ menu.render_2('MENU_SALE', {
                            'MENU_SALE': 'PENJUALAN', 
                            'MENU_SALE_ORDER': 'Customer Order', 
                            'MENU_SALE_INVOICE': 'Faktur Penjualan', 
                            'MENU_SALE_PAYMENT': 'Pelunasan Penjualan'
                        }) }}
                        {{ menu.render_2('MENU_WAREHOUSE_MATERIAL', {
                            'MENU_WAREHOUSE_MATERIAL': 'GUDANG MATERIAL', 
                            'MENU_PURCHASE_RECEIVE': 'Penerimaan Material', 
                            'MENU_PURCHASE_RETURN': 'Retur Pembelian', 
                            'MENU_ADJUSTMENT_STOCK': 'Penyesuaian Stok', 
                            'MENU_MATERIAL_REQUEST': 'Permintaan Material', 
                            'MENU_MATERIAL_RELEASE': 'Pengeluaran Material', 
                            'MENU_STOCK_TRANSFER': 'Transfer Stok'
                        }) }}
                        {{ menu.render_2('MENU_WAREHOUSE_FINISHED_GOODS', {
                            'MENU_WAREHOUSE_FINISHED_GOODS': 'GUDANG FG', 
                            'MENU_SALE_DELIVERY': 'Pengiriman Barang', 
                            'MENU_SALE_RETURN': 'Retur Penjualan', 
                            'MENU_PRODUCTION_RECEIVE': 'Penerimaan Produksi FG'
                        }) }}
                        {{ menu.render_2('MENU_PRODUCTION', {
                            'MENU_PRODUCTION': 'PRODUKSI', 
                            'MENU_PRODUCT_PROTOTYPE': 'Formulir Produk Baru', 
                            'MENU_DEVELOPMENT_PRODUCT': 'Development Produk', 
                            'MENU_MASTER_ORDER': 'Master Order'
                        }) }}
                        {{ menu.render_2('MENU_FINANCE', {
                            'MENU_FINANCE': 'KEUANGAN', 
                            'MENU_DEPOSIT': 'Penerimaan kas / bank', 
                            'MENU_EXPENSE': 'Pengeluaran kas / bank'
                        }) }}
                        {{ menu.render_1('MENU_REPORT', null, 'app_menu_report') }}
                    {{ menu.end() }}

                    {#{% set activeClass = 'bg-light border border-3 border-primary rounded' %}
                    <div class="mb-sm-auto mb-0 overflow-auto" style="max-height: 512px">
                        <ul class="nav nav-pills flex-column align-items-center align-items-sm-start" id="menu" data-controller="scroll-element" data-scroll-element-active-class="{{ activeClass }}">
                            <li class="w-100 {% if app.request.attributes.get("_route") == 'app_home_page' %}{{ activeClass }}{% endif %}">
                                <a href="{{ path('app_home_page') }}" class="nav-link px-0 align-middle">
                                    <span class="ps-1 d-none d-sm-inline {% if app.request.attributes.get("_route") == 'app_home_page' %}text-dark{% else %}text-white{% endif %}">DASHBOARD</span>
                                </a>
                            </li>
                            {% set mainRoute = '' %}
                            {% set views = menu|map(v1 => app.request.attributes.get("_route")|replace(actionNames) in v1|map(v2 => v2[0]|replace(actionNames))) %}
                            {% for title, content in menu %}
                                <li>
                                    <a href="#submenu-{{ loop.index }}" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                        <span class="ps-1 d-none d-sm-inline text-white">{{ title }}</span>
                                    </a>
                                    <ul class="collapse nav flex-column ms-1 {% if views[title] %}show{% endif %}" id="submenu-{{ loop.index }}" data-bs-parent="#menu">
                                        {% for label, item in content %}
                                            {% if item[1]|map(a => is_granted(a))|reduce((a, b) => a or b, false) %}
                                                {% set active = app.request.attributes.get("_route")|replace(actionNames) == item[0]|replace(actionNames) %}
                                                <li class="w-100 ps-3 {% if active %}{{ activeClass }}{% endif %}" data-scroll-element-target="item">
                                                    <a href="{{ path(item[0]) }}" class="nav-link px-0">
                                                        <span class="d-none d-sm-inline {% if active %}text-dark{% else %}text-white{% endif %}">{{ label }}</span>
                                                    </a>
                                                </li>
                                                {% if active %}
                                                    {% set mainRoute = item[0] %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                            <li class="w-100 {% if app.request.attributes.get("_route") == 'app_menu_report' %}{{ activeClass }}{% endif %}">
                                <a href="{{ path('app_menu_report') }}" class="nav-link px-0 align-middle">
                                    <span class="ps-1 d-none d-sm-inline {% if app.request.attributes.get("_route") == 'app_menu_report' %}text-dark{% else %}text-white{% endif %}">REPORT</span>
                                </a>
                            </li>
                        </ul>
                    </div>#}

                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-person-circle" style="font-size: 2rem"></i>
                            &nbsp;
                            <span class="d-none d-sm-inline mx-1">{{ app.user.username|default }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="{{ path('app_admin_referral_show_profile', {'id': app.user.id}) }}">Show Profile</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_admin_referral_change_profile', {'id': app.user.id}) }}">Change Profile</a></li>
                            {#<li><a class="dropdown-item" href="{{ path('app_admin_referral_change_password', {'id': app.user.id}) }}">Change Password</a></li>#}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ logout_path('main') }}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-auto col-md-9 col-xl-10 py-3">
                <div class="container-fluid">
                    <div class="row d-print-none">
                        <div class="col d-flex justify-content-start">
                            {% block tooltip %}
                                <h4>{{ block('title') }}</h4>
                            {% endblock %}
                        </div>
                        <div class="col d-flex justify-content-end">
                            <div class="d-gap">
                                {% block toolbar %}{% endblock %}
                            </div>
                        </div>
                    </div>
                    <hr />
                    {% set frontRoute = 'app_home_page' %}
                    {% set mainRoute = user_menu.menuAttributes|map((attr, name) => user_menu.accessed(name) ? attr.route : '')|join('') %}
                    {% set currentRoute = app.request.attributes.get('_route') %}
                    {% if currentRoute != frontRoute and mainRoute != '' %}
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                {% set controllerNames = app.request.attributes.get("_controller")|split('\\')|last|split('::') %}
                                {% set controllerClass = controllerNames[0]|replace({'Controller': ''})|humanize %}
                                {% set controllerAction = controllerNames[1]|humanize %}
                                <li class="breadcrumb-item"><a href="{{ path(frontRoute) }}">Home</a></li>
                                <li class="breadcrumb-item text-capitalize {{ mainRoute == currentRoute ? 'active' : '' }}">
                                    {% if mainRoute == currentRoute %}
                                        {{ controllerClass }}
                                    {% else %}
                                        <a href="{{ path(mainRoute) }}">{{ controllerClass }}</a>
                                    {% endif %}
                                </li>
                                {% if mainRoute != currentRoute %}
                                    <li class="breadcrumb-item text-capitalize active">{{ controllerAction }}</li>
                                {% endif %}
                            </ol>
                        </nav>
                        <br />
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}