{% extends 'layout_page.html.twig' %}

{% block title 'Show Sales Order' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_transaction_sale_order_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_transaction_sale_order_header_edit', {'id': saleOrderHeader.id}) }}">Edit</a>
    <a class="btn btn-success btn-sm" href="{{ path('app_transaction_sale_order_header_new') }}">Add</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>SO #</th>
                <td>{{ saleOrderHeader.getCodeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal SO</th>
                <td>{{ saleOrderHeader.transactionDate ? saleOrderHeader.transactionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Marketing</th>
                <td>{{ saleOrderHeader.employee.name|default }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ saleOrderHeader.customer.company }}</td>
            </tr>
            <tr>
                <th>Customer PO #</th>
                <td>{{ saleOrderHeader.referenceNumber }}</td>
            </tr>
            <tr>
                <th>TOP (days)</th>
                <td>{{ saleOrderHeader.customer.paymentTerm }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ saleOrderHeader.transactionStatus }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ saleOrderHeader.note }}</td>
            </tr>
            <tr>
                <th>Transaction Canceled?</th>
                <td>{{ saleOrderHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Item Code</th>
                <th>Description</th>
                <th>Tgl Kirim</th>
                <th>Quantity</th>
                <th>Satuan</th>
                <th>Harga</th>
                <th>DPP</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for saleOrderDetail in saleOrderHeader.saleOrderDetails %}
                <tr>
                    <td>{{ saleOrderDetail.product.code|default }}</td>
                    <td>{{ saleOrderDetail.product.name|default }}</td>
                    <td>{{ saleOrderDetail.deliveryDate ? saleOrderDetail.deliveryDate|date('d M Y') : '' }}</td>
                    <td style="text-align: right">{{ saleOrderDetail.quantity|default }}</td>
                    <td>{{ saleOrderDetail.unit.name|default }}</td>
                    <td style="text-align: right">{{ saleOrderDetail.unitPrice|default|number_format(2) }}</td>
                    <td style="text-align: right">{{ saleOrderDetail.unitPriceBeforeTax|default|number_format(2) }}</td>
                    <td style="text-align: right">{{ saleOrderDetail.total|default|number_format(2) }}</td>
                    <td>{{ saleOrderDetail.isCanceled ? 'Canceled' : '' }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" style="text-align: right"><strong>Sub Total</strong></td>
                <td style="text-align: right"><strong>{{ saleOrderHeader.subTotal|default|number_format(2) }}</strong></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="7" style="text-align: right"><strong>Disc {{ saleOrderHeader.discountValue|default }}%</strong></td>
                <td style="text-align: right"><strong>{{ saleOrderHeader.discountNominal|default|number_format(2) }}</strong></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="7" style="text-align: right">
                    <strong>
                        {% if saleOrderHeader.taxMode == constant('TAX_MODE_NON_TAX', saleOrderHeader) %}
                            Non Tax 0%
                        {% elseif saleOrderHeader.taxMode == constant('TAX_MODE_TAX_EXCLUSION', saleOrderHeader) %}
                            Exclude Tax {{ saleOrderHeader.taxPercentage }}%
                        {% elseif saleOrderHeader.taxMode == constant('TAX_MODE_TAX_INCLUSION', saleOrderHeader) %}
                            Include Tax {{ saleOrderHeader.taxPercentage }}%
                        {% endif %}
                    </strong>
                </td>
                <td style="text-align: right"><strong>{{ saleOrderHeader.taxNominal|default|number_format(2) }}</strong></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="7" style="text-align: right"><strong>Grand Total</strong></td>
                <td style="text-align: right"><strong>{{ saleOrderHeader.grandTotal|default|number_format(2) }}</strong></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <legend class="float-none w-auto text-dark px-1">Data Pengiriman</legend>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-warning">
                <th>Pengiriman #</th>
                <th>Tanggal</th>
                <th>Gudang</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Satuan</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for saleOrderDetail in saleOrderHeader.saleOrderDetails %}
                {% for deliveryDetail in saleOrderDetail.deliveryDetails %}
                    <tr>
                        <td>{{ deliveryDetail.deliveryHeader.codeNumber|default }}</td>
                        <td>{{ deliveryDetail.deliveryHeader.transactionDate ? deliveryDetail.deliveryHeader.transactionDate|date('d M Y') : '' }}</td>
                        <td>{{ deliveryDetail.deliveryHeader.warehouse.name|default }}</td>
                        <td>{{ deliveryDetail.product.name|default }}</td>
                        <td style="text-align: center">{{ deliveryDetail.deliveredQuantity|default }}</td>
                        <td>{{ deliveryDetail.unit.name|default }}</td>
                        <td>{{ deliveryDetail.isCanceled ? 'Canceled' : '' }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
                
    {#<div class="d-inline-block">{{ include('transaction/sale_order_header/_delete_form.html.twig') }}</div>#}
{% endblock %}
