{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, materialRequestHeaders) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="min-width: 280px" role="button"{{ grid.sort_link_item(form, 'id') }}>
                    Material Request # {{ grid.sort_char(form.sort.id.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Tanggal {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'departmentName') }}>
                    Departmen {{ grid.sort_char(form.sort.departmentName.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'workOrderNumber') }}>
                    WO # {{ grid.sort_char(form.sort.workOrderNumber.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'partNumber') }}>
                    Part # {{ grid.sort_char(form.sort.partNumber.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'note') }}>
                    Note {{ grid.sort_char(form.sort.note.vars.value) }}
                </th>
                <th style="min-width: 90px"></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberOrdinal') }} value="{{ form.filter.codeNumberOrdinal.1.vars.value }}" />
                    <span><small>/{{ constant('App\\Entity\\Stock\\MaterialRequestHeader::CODE_NUMBER_CONSTANT') }}/</small></span>
                    <select {{ grid.filter_link_item(form, 'codeNumberMonth') }}>
                        {% for value, label in constant('App\\Entity\\StockHeader::MONTH_ROMAN_NUMERALS') %}
                            {% set val = value == 0 ? '' : value %}
                            <option value="{{ val }}" {% if form.filter.codeNumberMonth.1.vars.value == val %}selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    <span><small>/</small></span>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberYear') }} value="{{ form.filter.codeNumberYear.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" data-controller="flatpickr-element" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'departmentName') }} value="{{ form.filter.departmentName.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'workOrderNumber') }} value="{{ form.filter.workOrderNumber.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'partNumber') }} value="{{ form.filter.partNumber.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'note') }} value="{{ form.filter.note.1.vars.value }}" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for materialRequestHeader in materialRequestHeaders %}
                <tr>
                    <td>{{ materialRequestHeader.codeNumber }}</td>
                    <td>{{ materialRequestHeader.transactionDate ? materialRequestHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ materialRequestHeader.departmentName }}</td>
                    <td>{{ materialRequestHeader.workOrderNumber }}</td>
                    <td>{{ materialRequestHeader.partNumber }}</td>
                    <td>{{ materialRequestHeader.note }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_stock_material_request_header_show', {'id': materialRequestHeader.id}) }}"><i class="bi-search"></i></a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_stock_material_request_header_edit', {'id': materialRequestHeader.id}) }}"><i class="bi-pencil"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, materialRequestHeaders) }}
