{% extends 'layout_page.html.twig' %}

{% block title 'Show Material Request' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_material_request_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_stock_material_request_header_edit', {'id': materialRequestHeader.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Permintaan Material #</th>
                <td>{{ materialRequestHeader.getCodeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal Permintaan</th>
                <td>{{ materialRequestHeader.transactionDate ? materialRequestHeader.transactionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Tanggal Ambil</th>
                <td>{{ materialRequestHeader.pickupDate ? materialRequestHeader.pickupDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ materialRequestHeader.departmentName }}</td>
            </tr>
            <tr>
                <th>Work Order #</th>
                <td>{{ materialRequestHeader.workOrderNumber }}</td>
            </tr>
            <tr>
                <th>Part #</th>
                <td>{{ materialRequestHeader.partNumber }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ materialRequestHeader.note }}</td>
            </tr>
            <tr>
                <th>Is Canceled</th>
                <td>{{ materialRequestHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Kode</th>
                <th>Nama Material</th>
                <th>Quantity</th>
                <th>Satuan</th>
                <th>Keterangan</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for materialRequestDetail in materialRequestHeader.materialRequestDetails %}
                <tr>
                    <td>{{ materialRequestDetail.material.code|default }}</td>
                    <td>{{ materialRequestDetail.material.name|default }}</td>
                    <td style="text-align: center">{{ materialRequestDetail.quantity|default }}</td>
                    <td>{{ materialRequestDetail.unit.name|default }}</td>
                    <td>{{ materialRequestDetail.memo|default }}</td>
                    <td>{{ materialRequestDetail.isCanceled ? 'Canceled' : '' }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align: right"><strong>Total</strong></td>
                <td style="text-align: center"><strong>{{ materialRequestHeader.totalQuantity|default }}</strong></td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
    
    {#{{ include('stock/material_request_header/_delete_form.html.twig') }}#}
{% endblock %}
