{% extends 'layout_page.html.twig' %}

{% block title 'Show Pengeluaran Material' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_material_release_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_stock_material_release_header_edit', {'id': materialReleaseHeader.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Pengeluaran Material #</th>
                <td>{{ materialReleaseHeader.getCodeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ materialReleaseHeader.transactionDate ? materialReleaseHeader.transactionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Department Name</th>
                <td>{{ materialReleaseHeader.departmentName }}</td>
            </tr>
            <tr>
                <th>Work Order Number</th>
                <td>{{ materialReleaseHeader.workOrderNumber }}</td>
            </tr>
            <tr>
                <th>Part Number</th>
                <td>{{ materialReleaseHeader.partNumber }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ materialReleaseHeader.note }}</td>
            </tr>
            <tr>
                <th>Is Canceled</th>
                <td>{{ materialReleaseHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Kode</th>
                <th>Nama Material</th>
                <th>Quantity</th>
                <th>Satuan</th>
                <th>Keterangan</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for materialReleaseDetail in materialReleaseHeader.materialReleaseDetails %}
                <tr>
                    <td>{{ materialReleaseDetail.material.code|default }}</td>
                    <td>{{ materialReleaseDetail.material.name|default }}</td>
                    <td style="text-align: center">{{ materialReleaseDetail.quantity|default }}</td>
                    <td>{{ materialReleaseDetail.unit.name|default }}</td>
                    <td>{{ materialReleaseDetail.memo|default }}</td>
                    <td>{{ materialReleaseDetail.isCanceled ? 'Canceled' : '' }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align: right"><strong>Total</strong></td>
                <td style="text-align: center"><strong>{{ materialReleaseHeader.totalQuantity|default }}</strong></td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
    
    {#{{ include('stock/material_release_header/_delete_form.html.twig') }}#}
{% endblock %}
