{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, products) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped" id="product-table" data-controller="data-table">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="min-width: 0">
                    <input type="checkbox" data-controller="dom-element" data-action="dom-element#bind" data-dom-element-bind-specifications-param="{{ [
                        {'destinationsTarget': '#product-table .data-table-check', 'action': 'setPropertyValue', 'descriptor': {'property': 'checked', 'value': '$element.checked'}},
                    ]|json_encode }}" />
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'code') }}>
                    Code {{ grid.sort_char(form.sort.code.vars.value) }}
                </th>
                <th style="min-width: 350px" role="button" {{ grid.sort_link_item(form, 'name') }}>
                    Name {{ grid.sort_char(form.sort.name.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'unit:name') }}>
                    Satuan {{ grid.sort_char(form.sort['unit:name'].vars.value) }}
                </th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th></th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'code') }} value="{{ form.filter.code.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'name') }} value="{{ form.filter.name.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'unit:name') }} value="{{ form.filter['unit:name'].1.vars.value }}" />
                </th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr class="data-table-check-row" data-action="click->data-table#select" data-data-table-values-param="{{ {
                    'productId': product.id, 
                    'productName': product.name, 
                    'productCode': product.code,
                    'productMeasurement': product.productLengthWidthHeightCombination,
                    'unitName': product.unit.name,
                    'unitId': product.unit.id}|json_encode }}">
                    <td><input type="checkbox" class="data-table-check" data-controller="dom-element" data-action="click->dom-element#doNothing:stop" /></td>
                    <td>{{ product.code }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.unit.name|default }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-primary btn-sm"
        data-action="event-emitter#trigger"
        data-event-emitter-trigger-elements-target-param="#product-table .data-table-check-row"
        data-event-emitter-trigger-event-type-param="click"
        data-event-emitter-trigger-condition-param="$element.querySelector('.data-table-check').checked">
    Select
</button>

{{ grid.navigation(form, count, products) }}
