<div data-controller="event-emitter json-loader"
     data-action="data-table:select->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'data-table:select': 'id'}|json_encode }}"
     data-json-loader-url-value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}"
     data-json-loader-method-value="POST"
     data-json-loader-form-target-value="{{ "form[name=#{form.vars.name}]" }}">

    {{ form_start(form) }}
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Header</legend>
            <div class="row">
                <div class="col">
                    {{ form_row(form.productionDate, {'label': 'Tanggal Potong', 'attr': {'data-controller': 'flatpickr-element'}}) }}
                    <div class="mb-3">
                        <label for="{{ form.workOrderHeader.vars.id }}-text" class="form-label">Work Order #</label>
                        {{ form_row(form.workOrderHeader, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'work-order-header-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.workOrderHeaderId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.workOrderHeader.vars.id }}-text" class="form-control {% if not form.workOrderHeader.vars.valid %}is-invalid{% endif %}" value="{{ workOrderCuttingHeader.workOrderHeader.codeNumber|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#work-order-header-dialog"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.workOrderHeaderCodeNumber'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.workOrderHeader) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tanggal WO</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.productionDate|default ? workOrderCuttingHeader.workOrderHeader.productionDate|date('d M Y') : '' }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.workOrderHeaderDate'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tanggal Kirim</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.deliveryDate|default ? workOrderCuttingHeader.workOrderHeader.masterOrder.deliveryDate|date('d M Y') : '' }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderDeliveryDate'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Master Order #</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.codeNumber|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderCodeNumber'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mesin</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.printingMachine|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderPrintingMachine'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Customer</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.customer.company|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.customerCompany'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Kode Produk</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.product.code|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.productCode'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nama Produk</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.product.name|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.productName'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Kode Design</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.designCode|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderDesignCode'}},
                               ]|json_encode }}" />
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Status Cetakan</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.printingStatus|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderPrintingStatus'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Quantity Order</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.quantityOrder|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderQuantityOrder'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Stock / Kekurangan</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.quantityStock|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderQuantityStock'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Warna / Pantone</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.color|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderColor'}},
                               ]|json_encode }}" />
                    </div>
                    <label class="form-label">Ukuran Jadi (mm)</label>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.dimensionLength|default }}" readonly="readonly"
                                   data-controller="dom-element"
                                   data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                                   data-dom-element-bind-specifications-param="{{ [
                                       {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderDimensionLength'}},
                                   ]|json_encode }}" />
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.dimensionWidth|default }}" readonly="readonly"
                                   data-controller="dom-element"
                                   data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                                   data-dom-element-bind-specifications-param="{{ [
                                       {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderDimensionWidth'}},
                                   ]|json_encode }}" />
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.dimensionHeight|default }}" readonly="readonly"
                                   data-controller="dom-element"
                                   data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                                   data-dom-element-bind-specifications-param="{{ [
                                       {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderDimensionHeight'}},
                                   ]|json_encode }}" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ukuran Mountage</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.paperMountage|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderPaperMountage'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Jumlah Dreek</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.paperTotal|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderPaperTotal'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Finishing</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.masterOrder.finishing|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.masterOrderFinishing'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Up/s (Mata)</label>
                        <input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.orderUp|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.workOrderHeaderOrderUp'}},
                               ]|json_encode }}" />
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Kebutuhan Material Kertas</legend>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Uk. Plano Kertas</label>
                        {#<input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.orderUp|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.workOrderHeaderOrderUp'}},
                               ]|json_encode }}" />#}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Uk. Potong 1</label>
                        {#<input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.orderUp|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.workOrderHeaderOrderUp'}},
                               ]|json_encode }}" />#}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Uk. Potong 2</label>
                        {#<input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.orderUp|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.workOrderHeaderOrderUp'}},
                               ]|json_encode }}" />#}
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Kebutuhan</label>
                        {#<input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.orderUp|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.workOrderHeaderOrderUp'}},
                               ]|json_encode }}" />#}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Insit Cetak</label>
                        {#<input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.orderUp|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.workOrderHeaderOrderUp'}},
                               ]|json_encode }}" />#}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Total Kertas</label>
                        {#<input type="text" class="form-control" value="{{ workOrderCuttingHeader.workOrderHeader.orderUp|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="work-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.workOrderHeaderOrderUp'}},
                               ]|json_encode }}" />#}
                    </div>
                </div>
            </div>
            <legend class="float-none w-auto text-dark px-1">Realisasi Pemakaian Inseet Kertas</legend>
            <div class="row">
                <div class="col">
                    {{ form_row(form.paperInseetUsedUsage, {'label': 'Kertas Bekas (Dreek)'}) }}
                </div>
                <div class="col">
                    {{ form_row(form.paperInseetNewUsage, {'label': 'Kertas Baru (Dreek)'}) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Estimasi Tinta / Chemical</legend>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Cyan</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Magenta</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Yellow</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Black</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">K-1</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">K-2</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">K-3</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">K-4</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">OPV / WB / UV</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Laminating</label>
                    </div>
                </div>
                <div class="col">
                    {{ form_row(form.cyanInkUsage, {'label': false}) }}
                    {{ form_row(form.magentaInkUsage, {'label': false}) }}
                    {{ form_row(form.yellowInkUsage, {'label': false}) }}
                    {{ form_row(form.blackInkUsage, {'label': false}) }}
                    {{ form_row(form.k1InkUsage, {'label': false}) }}
                    {{ form_row(form.k2InkUsage, {'label': false}) }}
                    {{ form_row(form.k3InkUsage, {'label': false}) }}
                    {{ form_row(form.k4InkUsage, {'label': false}) }}
                    {{ form_row(form.opvInkUsage, {'label': false}) }}
                    {{ form_row(form.laminatingInkUsage, {'label': false}) }}
                </div>
            </div>
        </fieldset>
                
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Aduk Warna Tinta Khusus</legend>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered">
                        <thead class="table-secondary">
                            <tr>
                                <th>&nbsp;</th>
                                <th>Mix Warna Khusus - 1</th>
                                <th>Jumlah (gram)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>{{ form_row(form.specialColorMixFirstOneName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixFirstOneWeight, {'label': false}) }}</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>{{ form_row(form.specialColorMixFirstTwoName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixFirstTwoWeight, {'label': false}) }}</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>{{ form_row(form.specialColorMixFirstThreeName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixFirstThreeWeight, {'label': false}) }}</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>{{ form_row(form.specialColorMixFirstFourName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixFirstFourWeight, {'label': false}) }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="text-center font-weight-bold">Total</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                    
                <div class="col">
                    <table class="table table-bordered">
                        <thead class="table-secondary">
                            <tr>
                                <th>&nbsp;</th>
                                <th>Mix Warna Khusus - 2</th>
                                <th>Jumlah (gram)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>{{ form_row(form.specialColorMixSecondOneName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixSecondOneWeight, {'label': false}) }}</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>{{ form_row(form.specialColorMixSecondTwoName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixSecondTwoWeight, {'label': false}) }}</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>{{ form_row(form.specialColorMixSecondThreeName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixSecondThreeWeight, {'label': false}) }}</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>{{ form_row(form.specialColorMixSecondFourName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixSecondFourWeight, {'label': false}) }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="text-center font-weight-bold">Total</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
                    
            <div class="row">
                <div class="col">
                    <table class="table table-bordered">
                        <thead class="table-secondary">
                            <tr>
                                <th>&nbsp;</th>
                                <th>Mix Warna Khusus - 3</th>
                                <th>Jumlah (gram)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>{{ form_row(form.specialColorMixThirdOneName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixThirdOneWeight, {'label': false}) }}</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>{{ form_row(form.specialColorMixThirdTwoName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixThirdTwoWeight, {'label': false}) }}</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>{{ form_row(form.specialColorMixThirdThreeName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixThirdThreeWeight, {'label': false}) }}</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>{{ form_row(form.specialColorMixThirdFourName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixThirdFourWeight, {'label': false}) }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="text-center font-weight-bold">Total</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                    
                <div class="col">
                    <table class="table table-bordered">
                        <thead class="table-secondary">
                            <tr>
                                <th>&nbsp;</th>
                                <th>Mix Warna Khusus - 4</th>
                                <th>Jumlah (gram)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>{{ form_row(form.specialColorMixFourthOneName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixFourthOneWeight, {'label': false}) }}</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>{{ form_row(form.specialColorMixFourthTwoName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixFourthTwoWeight, {'label': false}) }}</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>{{ form_row(form.specialColorMixFourthThreeName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixFourthThreeWeight, {'label': false}) }}</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>{{ form_row(form.specialColorMixFourthFourName, {'label': false}) }}</td>
                                <td>{{ form_row(form.specialColorMixFourthFourWeight, {'label': false}) }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="text-center font-weight-bold">Total</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <div class="row">
                <div class="col">
                    {{ form_row(form.note, {'label': 'Catatan'}) }}
                </div>
            </div>
        </fieldset>

        <div class="d-grid">
            <button class="btn btn-success"
                    data-controller="dom-element"
                    data-action="dom-element#confirm"
                    data-dom-element-confirm-message-param="Are you sure you want to save this transaction?">
                Save
            </button>
        </div>
    {{ form_end(form) }}

    {% import 'app/bootstrap_dialog.html.twig' as dialog %}

    {{ dialog.start('work-order-header-dialog', 'Work Order List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_work_order_header__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}
</div>
