<table class="table table-bordered"
       data-controller="form-collection"
       data-form-collection-start-index-value="{{ form.deliveryDetails|length > 0 ? form.deliveryDetails|last.vars.name + 1 : 0 }}"
       data-form-collection-prototype-value="{{ _self.collection_item(form.deliveryDetails.vars.prototype)|e('html_attr') }}"
       data-action="form-collection:collection-item-removed->json-loader#load:self">
    <thead class="table-secondary">
        <tr>
            <th class="d-none">Sale Order Detail Id</th>
            <th>Kode</th>
            <th>Nama Barang</th>
            <th>FSC Code</th>
            <th>WO #</th>
            <th>Lot #</th>
            <th>Qty Order</th>
            <th>Qty Sisa</th>
            <th>Qty Kirim</th>
            <th>Satuan</th>
            <th>Kemasan</th>
            <th style="width: 0"></th>
        </tr>
    </thead>
    <tbody data-form-collection-target="items" data-action="sale-order-header-table:data-table:select@document->form-collection#clearCollectionItems sale-order-header-table:data-table:select@document->form-collection#addCollectionItems">
        {% macro collection_item(detailForm) %}
            <tr data-form-collection-target="item" data-item-identifier-name="saleOrderDetailId" data-item-identifier-value="{{ detailForm.vars.value.saleOrderDetail.id|default }}" {% if (detailForm.vars.value.isCanceled) %}class="bg-secondary"{% endif %}>
                <td class="d-none">{{ form_widget(detailForm.saleOrderDetail, {'attr': {'data-item-field-name': 'saleOrderDetailId'}}) }}</td>
                <td data-item-field-name="productCode">{{ detailForm.vars.value.saleOrderDetail.product.code|default }}</td>
                <td data-item-field-name="productName">{{ detailForm.vars.value.saleOrderDetail.product.name|default }}</td>
                <td>{{ form_row(detailForm.fscCode, {'label': false}) }}</td>
                <td></td>
                <td>{{ form_row(detailForm.lotNumber, {'label': false}) }}</td>
                <td data-item-field-name="saleOrderDetailQuantity">{{ detailForm.vars.value.saleOrderDetail.quantity|default }}</td>
                <td data-item-field-name="saleOrderDetailQuantityRemaining">{{ detailForm.vars.value.saleOrderDetail.quantity|default }}</td>
                <td>{{ form_row(detailForm.deliveredQuantity, {'label': false, 'attr': {'data-action': 'change->json-loader#load'}}) }}</td>
                <td data-item-field-name="unitName">{{ detailForm.vars.value.saleOrderDetail.unit.name|default }}</td>
                <td>{{ form_row(detailForm.packaging, {'label': false}) }}</td>
                <td>
                    <div {% if (detailForm.vars.value.id == null) %}class="d-none"{% endif %}>
                        {{ form_row(detailForm.isCanceled, {
                            'label': 'Cancel',
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'dom-element#bind change->json-loader#load',
                                'data-dom-element-bind-specifications-param': [
                                    {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.saleOrderDetail.id|default}\"]", 'action': 'removeClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '!$element.checked'},
                                    {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.saleOrderDetail.id|default}\"]", 'action': 'addClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '$element.checked'},
                                ]|json_encode,
                            },
                        }) }}
                    </div>
                </td>
            </tr>
        {% endmacro %}
        {% for detailForm in form.deliveryDetails %}
            {{ _self.collection_item(detailForm) }}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="text-end" colspan="7">Total Quantity</td>
            <td class="text-end" data-json-loader-target="placeholder"
                data-property-path="totalQuantity">
                {{ deliveryHeader.totalQuantity|default|number_format(0) }}
            </td>
            <td colspan="3"></td>
        </tr>
    </tfoot>
</table>
