<div data-controller="event-emitter json-loader"
     data-action="data-table:select->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'data-table:select': 'id'}|json_encode }}"
     data-json-loader-url-value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}"
     data-json-loader-method-value="POST"
     data-json-loader-form-target-value="{{ "form[name=#{form.vars.name}]" }}">

    {{ form_start(form) }}
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Header</legend>
            <div class="row">
                <div class="col sm-6">
                    {{ form_row(form.transactionDate, {'label': 'Tanggal', 'attr': {'data-controller': 'flatpickr-element'}}) }}
                    {{ form_row(form.warehouse, {'label': 'Gudang'}) }}
                    {{ form_row(form.vehicleType, {'label': 'Kendaraan'}) }}
                    {{ form_row(form.vehicleNumber, {'label': 'Nopol'}) }}
                </div>
                <div class="col sm-6">
                    <div class="mb-3">
                        <label for="{{ form.saleOrderHeader.vars.id }}-text" class="form-label">SO #</label>
                        {{ form_row(form.saleOrderHeader, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'sale-order-header-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].saleOrderHeaderId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.saleOrderHeader.vars.id }}-text" class="form-control" value="{{ deliveryHeader.saleOrderHeader.codeNumber|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#sale-order-header-dialog"
                               data-controller="dom-element"
                               data-action="sale-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].saleOrderHeaderCodeNumber'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Customer</label>
                        <input type="text" class="form-control" value="{{ deliveryHeader.customer.company|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="sale-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].customerCompany'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">PO Customer #</label>
                        <input type="text" class="form-control" value="{{ deliveryHeader.saleOrderHeader.referenceNumber|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="sale-order-header-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].saleOrderHeaderReferenceNumber'}},
                               ]|json_encode }}" />
                    </div>
                    {{ form_row(form.driverName, {'label': 'Sopir'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col sm-12">
                    {{ form_row(form.note) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Details</legend>
            {{ include('transaction/delivery_header/_details_form.html.twig') }}
        </fieldset>

        <div class="d-grid">
            <button class="btn btn-success"
                    data-controller="dom-element"
                    data-action="dom-element#confirm"
                    data-dom-element-confirm-message-param="Are you sure you want to save this transaction?">
                Save
            </button>
        </div>
    {{ form_end(form) }}

    {% import 'app/bootstrap_dialog.html.twig' as dialog %}

    {{ dialog.start('sale-order-header-dialog', 'Sales Order List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_sale_order_header__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}
</div>
