<div data-controller="event-emitter json-loader"
     data-action="data-table:select->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'data-table:select': 'id'}|json_encode }}"
     data-json-loader-url-value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}"
     data-json-loader-method-value="POST"
     data-json-loader-form-target-value="{{ "form[name=#{form.vars.name}]" }}">

    {{ form_start(form) }}
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Header</legend>
            <div class="row">
                <div class="col">
                    {{ form_row(form.transactionDate, {'label': 'Tanggal', 'attr': {'data-controller': 'flatpickr-element'}}) }}
                    {{ form_row(form.warehouse, {'label': 'Gudang'}) }}
                    {{ form_row(form.transportation, {'label': 'Kendaraan'}) }}
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="{{ form.customer.vars.id }}-text" class="form-label">Customer</label>
                        {{ form_row(form.customer, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'customer-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.customerId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.customer.vars.id }}-text" class="form-control {% if not form.customer.vars.valid %}is-invalid{% endif %}" value="{{ deliveryHeader.customer.company|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#customer-dialog"
                               data-controller="dom-element"
                               data-action="customer-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.customerCompany'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.customer) }}
                    </div>
                    <div id="customer-delivery-address-1" class="d-none">{{ deliveryHeader.customer.addressDelivery|default }}</div>
                    <div id="customer-delivery-address-2" class="d-none">{{ deliveryHeader.customer.addressDelivery2|default }}</div>
                    <div id="customer-delivery-address-3" class="d-none">{{ deliveryHeader.customer.addressDelivery3|default }}</div>
                    <div id="customer-delivery-address-4" class="d-none">{{ deliveryHeader.customer.addressDelivery4|default }}</div>
                    <div id="customer-delivery-address-5" class="d-none">{{ deliveryHeader.customer.addressDelivery5|default }}</div>
                    <div class="mb-3">
                        <label class="form-label">Alamat Kirim</label>
                        <select class="form-select"
                                data-controller="dom-element"
                                data-action="DOMContentLoaded@document->dom-element#bind customer-table:data-table:select@document->dom-element#bind change->dom-element#bind"
                                data-dom-element-bind-specifications-param="{{ [
                                    {'eventTypes': ['DOMContentLoaded'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'replace', 'content': '""'}},
                                    {'eventTypes': ['DOMContentLoaded'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value=""></option>`'}},
                                    {'eventTypes': ['DOMContentLoaded'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value="${document.querySelector("#customer-delivery-address-1").textContent}"' ~ (deliveryHeader.customer is not null and deliveryHeader.deliveryAddress == deliveryHeader.customer.addressDelivery ? ' selected="selected"' : '') ~ '>${document.querySelector("#customer-delivery-address-1").textContent}</option>`'}, 'condition': 'document.querySelector("#customer-delivery-address-1").textContent !== ""'},
                                    {'eventTypes': ['DOMContentLoaded'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value="${document.querySelector("#customer-delivery-address-2").textContent}"' ~ (deliveryHeader.customer is not null and deliveryHeader.deliveryAddress == deliveryHeader.customer.addressDelivery2 ? ' selected="selected"' : '') ~ '>${document.querySelector("#customer-delivery-address-2").textContent}</option>`'}, 'condition': 'document.querySelector("#customer-delivery-address-2").textContent !== ""'},
                                    {'eventTypes': ['DOMContentLoaded'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value="${document.querySelector("#customer-delivery-address-3").textContent}"' ~ (deliveryHeader.customer is not null and deliveryHeader.deliveryAddress == deliveryHeader.customer.addressDelivery3 ? ' selected="selected"' : '') ~ '>${document.querySelector("#customer-delivery-address-3").textContent}</option>`'}, 'condition': 'document.querySelector("#customer-delivery-address-3").textContent !== ""'},
                                    {'eventTypes': ['DOMContentLoaded'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value="${document.querySelector("#customer-delivery-address-4").textContent}"' ~ (deliveryHeader.customer is not null and deliveryHeader.deliveryAddress == deliveryHeader.customer.addressDelivery4 ? ' selected="selected"' : '') ~ '>${document.querySelector("#customer-delivery-address-4").textContent}</option>`'}, 'condition': 'document.querySelector("#customer-delivery-address-4").textContent !== ""'},
                                    {'eventTypes': ['DOMContentLoaded'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value="${document.querySelector("#customer-delivery-address-5").textContent}"' ~ (deliveryHeader.customer is not null and deliveryHeader.deliveryAddress == deliveryHeader.customer.addressDelivery5 ? ' selected="selected"' : '') ~ '>${document.querySelector("#customer-delivery-address-5").textContent}</option>`'}, 'condition': 'document.querySelector("#customer-delivery-address-5").textContent !== ""'},
                                    {'eventTypes': ['customer-table:data-table:select'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'replace', 'content': '""'}},
                                    {'eventTypes': ['customer-table:data-table:select'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value=""></option>`'}},
                                    {'eventTypes': ['customer-table:data-table:select'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value="${$event.detail.addressDelivery}">${$event.detail.addressDelivery}</option>`'}, 'condition': '$event.detail.addressDelivery !== ""'},
                                    {'eventTypes': ['customer-table:data-table:select'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value="${$event.detail.addressDelivery2}">${$event.detail.addressDelivery2}</option>`'}, 'condition': '$event.detail.addressDelivery2 !== ""'},
                                    {'eventTypes': ['customer-table:data-table:select'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value="${$event.detail.addressDelivery3}">${$event.detail.addressDelivery3}</option>`'}, 'condition': '$event.detail.addressDelivery3 !== ""'},
                                    {'eventTypes': ['customer-table:data-table:select'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value="${$event.detail.addressDelivery4}">${$event.detail.addressDelivery4}</option>`'}, 'condition': '$event.detail.addressDelivery4 !== ""'},
                                    {'eventTypes': ['customer-table:data-table:select'], 'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value="${$event.detail.addressDelivery5}">${$event.detail.addressDelivery5}</option>`'}, 'condition': '$event.detail.addressDelivery5 !== ""'},
                                    {'eventTypes': ['change'], 'destinationsTarget': '#' ~ form.deliveryAddress.vars.id, 'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$element.value'}},
                                ]|json_encode }}">
                        </select>
                        {{ form_row(form.deliveryAddress, {'label': false, 'attr': {'class': 'd-none'}}) }}
                    </div>
                    {{ form_row(form.employee, {'label': 'Sopir'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.note) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Details</legend>
            <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#sale-order-detail-dialog">Add Detail</button>
            {{ include('transaction/delivery_header/_details_form.html.twig') }}
        </fieldset>

        <div class="d-grid">
            <button class="btn btn-success"
                    data-controller="dom-element"
                    data-action="dom-element#confirm"
                    data-dom-element-confirm-message-param="Are you sure you want to save this transaction?">
                Save
            </button>
        </div>
    {{ form_end(form) }}

    {% import 'app/bootstrap_dialog.html.twig' as dialog %}

    {{ dialog.start('customer-dialog', 'Customer List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_customer__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}

    {{ dialog.start('sale-order-detail-dialog', 'Sales Order List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_sale_order_detail__list') }}"
             data-html-loader-auto-load-value="true"
             data-action="customer-table:data-table:select@document->html-loader#load">
        </div>
    {{ dialog.end() }}
</div>
