{{ form_start(form) }}
    <div class="row {{ group == 'general' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.ifscCode) }}
        </div>
        <div class="col">
            {{ form_row(form.vatPercentage) }}
        </div>
        <div class="col">
            {{ form_row(form.serviceTaxPercentage) }}
        </div>
        <div class="col">
            {{ form_row(form.paymentRemainingTolerance) }}
        </div>
    </div>
            
    <div class="row {{ group == 'master_order' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.masterOrderNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.masterOrderRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.masterOrderDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
          
    <div class="row {{ group == 'work_order' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.workOrderNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.workOrderRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.workOrderDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'emboss' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.diecutApprovalNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.diecutApprovalRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.diecutApprovalDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'checklist_diecut' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.checklistDiecutNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.checklistDiecutRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.checklistDiecutDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'clearance_diecut' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.clearanceDiecutNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.clearanceDiecutRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.clearanceDiecutDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'glueing' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.checklistGlueingNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.checklistGlueingRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.checklistGlueingDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'packing_handover' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.packingHandoverNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.packingHandoverRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.packingHandoverDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'outgoing' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.outgoingQualitySheetNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.outgoingQualitySheetRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.outgoingQualitySheetDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'checklist_prepress' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.checklistPrepressNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.checklistPrepressRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.checklistPrepressDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'printing_approval' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.printingApprovalNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.printingApprovalRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.printingApprovalDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'printing_checklist' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.checklistPrintingNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.checklistPrintingRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.checklistPrintingDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'printing_inspection' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.printingInspectionNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.printingInspectionRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.printingInspectionDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'production' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.checklistProductionNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.checklistProductionRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.checklistProductionDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'clearance_sorting' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.checklistSortingNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.checklistSortingRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.checklistSortingDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'quality_inspection' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.qualityInspectionNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.qualityInspectionRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.qualityInspectionDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
       
    <div class="row {{ group == 'color_mixing' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.colorMixingNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.colorMixingRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.colorMixingDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
          
    <div class="row {{ group == 'cutting_material' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.cuttingMaterialNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.cuttingMaterialRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.cuttingMaterialDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
          
    <div class="row {{ group == 'diecut_bobst' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.diecutBobstNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.diecutBobstRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.diecutBobstDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
          
    <div class="row {{ group == 'finishing' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.finishingNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.finishingRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.finishingDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
          
    <div class="row {{ group == 'glueing_machine' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.glueingMachineNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.glueingMachineRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.glueingMachineDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
          
    <div class="row {{ group == 'hot_stamping' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.hotStampingNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.hotStampingRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.hotStampingDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
          
    <div class="row {{ group == 'packing' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.packingNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.packingRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.packingDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
          
    <div class="row {{ group == 'prepress' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.prepressNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.prepressRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.prepressDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
          
    <div class="row {{ group == 'offset_printing' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.offsetPrintingNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.offsetPrintingRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.offsetPrintingDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
          
    <div class="row {{ group == 'order_sorting' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.sortingNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.sortingRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.sortingDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
          
    <div class="row {{ group == 'stitching' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.stitchingNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.stitchingRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.stitchingDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'coating' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.coatingNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.coatingRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.coatingDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="row {{ group == 'form_plate' ? '' : 'd-none' }}">
        <div class="col">
            {{ form_row(form.formPlateNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.formPlateRevision) }}
        </div>
        <div class="col">
            {{ form_row(form.formPlateDate, {'attr': {'data-controller': 'flatpickr-element', 'class': 'readonly-form-input', 'data-flatpickr-element-options-value': {'dateFormat': 'j M Y'}|json_encode}}) }}
        </div>
    </div>        
         
    <div class="d-grid">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-danger" href="{{ path('app_admin_literal_config_index') }}"
                        data-controller="dom-element"
                        data-action="dom-element#confirm"
                        data-dom-element-confirm-message-param="Are you sure you want to cancel this transaction?">
                    Cancel
                </a>
                <button class="btn btn-secondary"
                        data-controller="dom-element"
                        data-action="dom-element#confirm"
                        data-dom-element-confirm-message-param="Are you sure you want to save this item?">
                    Save
                </button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
