{% extends 'layout_page.html.twig' %}

{% block title 'Show Material Release Detail' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_stock_material_release_detail_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_stock_material_release_detail_edit', {'id': materialReleaseDetail.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Quantity</th>
                <td>{{ materialReleaseDetail.quantity }}</td>
            </tr>
            <tr>
                <th>Memo</th>
                <td>{{ materialReleaseDetail.memo }}</td>
            </tr>
            <tr>
                <th>Is Canceled</th>
                <td>{{ materialReleaseDetail.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('stock/material_release_detail/_delete_form.html.twig') }}
{% endblock %}
