<div data-controller="event-emitter json-loader"
     data-action="data-table:select->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'data-table:select': 'id'}|json_encode }}"
     data-json-loader-url-value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}"
     data-json-loader-method-value="POST"
     data-json-loader-form-target-value="{{ "form[name=#{form.vars.name}]" }}">

    {{ form_start(form) }}
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Header</legend>
            <div class="row">
                <div class="col sm-6">
                    {{ form_row(form.transactionDate, {'label': 'Tanggal', 'attr': {'data-controller': 'flatpickr-element'}}) }}
                    {{ form_row(form.invoiceTaxCodeNumber, {'label': 'Faktur Pajak #'}) }}
                    {{ form_row(form.supplierInvoiceCodeNumber, {'label': 'Supplier Invoice #'}) }}
                </div>
                <div class="col sm-6">
                    {{ form_row(form.receiveHeader, {
                        'label': 'Penerimaan #',
                        'attr': {
                            'data-bs-toggle': 'modal',
                            'data-bs-target': '#receive-header-dialog',
                            'data-controller': 'dom-element',
                            'data-action': 'mousedown->dom-element#doNothing:prevent receive-header-table:data-table:select@document->dom-element#bind',
                            'data-dom-element-bind-specifications-param': [
                                {'action': 'putHtmlContent', 'descriptor': {'mode': 'append', 'content': '`<option value="${$event.detail[0].receiveHeaderId}">${$event.detail[0].receiveHeaderCodeNumber}</option>`'}, 'condition': '!$destination.innerHTML.includes($content)'},
                                {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail[0].receiveHeaderId'}}
                            ]|json_encode,
                        },
                    }) }}
                </div>
            </div>
            <div class="row">
                <div class="col sm-12">
                    {{ form_row(form.note) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Details</legend>
            {{ include('transaction/purchase_invoice_header/_details_form.html.twig') }}
        </fieldset>

        <div class="d-grid">
            <button class="btn btn-secondary">Save</button>
        </div>
    {{ form_end(form) }}

    {% import 'app/bootstrap_dialog.html.twig' as dialog %}

    {{ dialog.start('receive-header-dialog', 'Receive Header List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_receive_header__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}
</div>
