{% extends 'layout_page.html.twig' %}

{% block title 'Show Purchase Invoice' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_transaction_purchase_invoice_header_index') }}">Manage</a>
    <a class="btn btn-warning btn-sm" href="{{ path('app_transaction_purchase_invoice_header_edit', {'id': purchaseInvoiceHeader.id}) }}">Edit</a>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Invoice #</th>
                <td>{{ purchaseInvoiceHeader.getCodeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal Invoice</th>
                <td>{{ purchaseInvoiceHeader.transactionDate ? purchaseInvoiceHeader.createdTransactionDateTime|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Tanggal Terima Invoice</th>
                <td>{{ purchaseInvoiceHeader.transactionDate ? purchaseInvoiceHeader.transactionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>PO #</th>
                <td>{{ purchaseInvoiceHeader.receiveHeader.purchaseOrderHeader.getCodeNumber }}</td>
            </tr>
            <tr>
                <th>Supplier SJ #</th>
                <td>{{ purchaseInvoiceHeader.receiveHeader.supplierDeliveryCodeNumber }}</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>{{ purchaseInvoiceHeader.receiveHeader.purchaseOrderHeader.supplier.company }}</td>
            </tr>
            <tr>
                <th>TOP (days)</th>
                <td>{{ purchaseInvoiceHeader.receiveHeader.purchaseOrderHeader.supplier.paymentTerm }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ purchaseInvoiceHeader.receiveHeader.purchaseOrderHeader.supplier.currency.code }}</td>
            </tr>
            <tr>
                <th>Faktur Pajak #</th>
                <td>{{ purchaseInvoiceHeader.invoiceTaxCodeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal Faktur Pajak</th>
                <td>{{ purchaseInvoiceHeader.invoiceTaxDate ? purchaseInvoiceHeader.invoiceTaxDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Supplier Invoice #</th>
                <td>{{ purchaseInvoiceHeader.supplierInvoiceCodeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal Jatuh Tempo</th>
                <td>{{ purchaseInvoiceHeader.dueDate ? purchaseInvoiceHeader.dueDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ purchaseInvoiceHeader.note }}</td>
            </tr>
            <tr>
                <th>Is Canceled</th>
                <td>{{ purchaseInvoiceHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Kode</th>
                <th>Nama Material</th>
                <th>Quantity</th>
                <th>Satuan</th>
                <th>Harga</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseInvoiceDetail in purchaseInvoiceHeader.purchaseInvoiceDetails %}
                <tr>
                    <td>{{ purchaseInvoiceDetail.receiveDetail.purchaseOrderDetail.material.code|default }}</td>
                    <td>{{ purchaseInvoiceDetail.receiveDetail.purchaseOrderDetail.material.name|default }}</td>
                    <td style="text-align: right">{{ purchaseInvoiceDetail.quantity|default }}</td>
                    <td>{{ purchaseInvoiceDetail.receiveDetail.purchaseOrderDetail.unit.name|default }}</td>
                    <td style="text-align: right">{{ purchaseInvoiceDetail.unitPrice|default|number_format(2) }}</td>
                    <td style="text-align: right">{{ purchaseInvoiceDetail.total|default|number_format(2) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: right"><strong>Sub Total</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.subTotal|default|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right"><strong>Disc {{ purchaseInvoiceHeader.discountValue|default }}%</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.discountNominal|default|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right"><strong>{{ purchaseInvoiceHeader.taxMode|default }} {{ purchaseInvoiceHeader.taxPercentage|default }}%</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.taxNominal|default|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right"><strong>Grand Total</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.grandTotal|default|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right"><strong>Total Payment</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.totalPayment|default|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right"><strong>Total Return</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.totalReturn|default|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right"><strong>Remaining Payment</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.remainingPayment|default|number_format(2) }}</strong></td>
            </tr>
        </tfoot>
    </table>
    
    {{ include('transaction/purchase_invoice_header/_delete_form.html.twig') }}
{% endblock %}
