<div class="row">
    <div class="col">
        <div class="row">
            <label class="form-label">Distribusi WO</label>
            <div class="col border border-secondary rounded">
                <table class="table table-bordered"
                       data-controller="form-collection"
                       data-form-collection-start-index-value="{{ form.masterOrderDistributionDetails|length > 0 ? form.masterOrderDistributionDetails|last.vars.name + 1 : 0 }}"
                       data-form-collection-prototype-value="{{ _self.distribution_collection_item(form.masterOrderDistributionDetails.vars.prototype, form)|e('html_attr') }}">
                    <thead class="table-secondary">
                        <tr>
                            <th class="d-none">Work Order Distribution Id</th>
                            <th style="min-width: 250px">Nama</th>
                            <th style="min-width: 50px">Sub Con</th>
                            <th style="min-width: 0"></th>
                        </tr>
                    </thead>
                    <tbody data-form-collection-target="items" data-action="design-code-table:data-table:select@document->form-collection#clearCollectionItems design-code-table:data-table:select@document->form-collection#addCollectionItems">
                        {% macro collection_item(ordinal, detailForm) %}
                            <tr data-form-collection-target="item" data-item-identifier-name="workOrderDistributionId" data-item-identifier-value="{{ detailForm.vars.value.workOrderDistribution.id|default }}" {% if (detailForm.vars.value.isCanceled) %}class="bg-secondary"{% endif %}>
                                <td class="d-none">{{ form_widget(detailForm.workOrderDistribution, {'attr': {'data-item-field-name': 'workOrderDistributionId'}}) }}</td>
                                <td data-item-field-name="workOrderDistributionName">{{ detailForm.vars.value.workOrderDistribution.name|default }}</td>
                                <td>
                                    {{ form_row(detailForm.isSubcon, {'label': false}) }}
                                </td>
                                <td>
                                    {% if (detailForm.vars.value.id == null) %}
                                        <button type="button" class="btn btn-outline-dark btn-sm" data-action="form-collection#removeCollectionItem"><i class="bi-x-lg"></i></button>
                                    {% endif %}
                                    <div {% if (detailForm.vars.value.id == null) %}class="d-none"{% endif %}>
                                        {{ form_row(detailForm.isCanceled, {
                                            'label': 'X',
                                            'attr': {
                                                'data-controller': 'dom-element',
                                                'data-action': 'dom-element#bind change->json-loader#load',
                                                'data-dom-element-bind-specifications-param': [
                                                    {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.workOrderDistribution.id|default}\"]", 'action': 'removeClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '!$element.checked'},
                                                    {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.workOrderDistribution.id|default}\"]", 'action': 'addClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '$element.checked'},
                                                ]|json_encode,
                                            },
                                        }) }}
                                    </div>
                                </td>
                            </tr>
                        {% endmacro %}
                        {% for detailForm in form.masterOrderDistributionDetails %}
                            {{ _self.distribution_collection_item(detailForm) }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <label class="form-label">Check Sheet</label>
            <div class="col border border-secondary rounded">
                <table class="table table-bordered"
                       data-controller="form-collection"
                       data-form-collection-start-index-value="{{ form.masterOrderCheckSheetDetails|length > 0 ? form.masterOrderCheckSheetDetails|last.vars.name + 1 : 0 }}"
                       data-form-collection-prototype-value="{{ _self.check_sheet_collection_item(form.masterOrderCheckSheetDetails.vars.prototype, form)|e('html_attr') }}">
                    <thead class="table-secondary">
                        <tr>
                            <th class="d-none">Work Order Check Sheet Id</th>
                            <th style="min-width: 250px">Nama</th>
                            <th style="min-width: 50px">Sub Con</th>
                            <th style="min-width: 0"></th>
                        </tr>
                    </thead>
                    <tbody data-form-collection-target="items" data-action="work-order-check-sheet-table:data-table:select@document->form-collection#addCollectionItem">
                        {% macro check_sheet_collection_item(detailForm) %}
                            <tr data-form-collection-target="item" data-item-identifier-name="workOrderCheckSheetId" data-item-identifier-value="{{ detailForm.vars.value.workOrderCheckSheet.id|default }}" {% if (detailForm.vars.value.isCanceled) %}class="bg-secondary"{% endif %}>
                                <td class="d-none">{{ form_widget(detailForm.workOrderCheckSheet, {'attr': {'data-item-field-name': 'workOrderCheckSheetId'}}) }}</td>
                                <td data-item-field-name="workOrderCheckSheetName">{{ detailForm.vars.value.workOrderCheckSheet.name|default }}</td>
                                <td>
                                    {{ form_row(detailForm.isSubcon, {'label': false}) }}
                                </td>
                                <td>
                                    {% if (detailForm.vars.value.id == null) %}
                                        <button type="button" class="btn btn-outline-dark btn-sm" data-action="form-collection#removeCollectionItem"><i class="bi-x-lg"></i></button>
                                    {% endif %}
                                    <div {% if (detailForm.vars.value.id == null) %}class="d-none"{% endif %}>
                                        {{ form_row(detailForm.isCanceled, {
                                            'label': 'X',
                                            'attr': {
                                                'data-controller': 'dom-element',
                                                'data-action': 'dom-element#bind change->json-loader#load',
                                                'data-dom-element-bind-specifications-param': [
                                                    {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.workOrderCheckSheet.id|default}\"]", 'action': 'removeClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '!$element.checked'},
                                                    {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.workOrderCheckSheet.id|default}\"]", 'action': 'addClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '$element.checked'},
                                                ]|json_encode,
                                            },
                                        }) }}
                                    </div>
                                </td>
                            </tr>
                        {% endmacro %}
                        {% for detailForm in form.masterOrderCheckSheetDetails %}
                            {{ _self.check_sheet_collection_item(detailForm) }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>