{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, materialSubCategories) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th role="button" {{ grid.sort_link_item(form, 'name') }}>
                    Name {{ grid.sort_char(form.sort.name.vars.value) }}
                </th>
                <th>Sub Category</th>
                <th></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'name') }} value="{{ form.filter.name.1.vars.value }}" />
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for materialSubCategory in materialSubCategories %}
                <tr>
                    <td>{{ materialSubCategory.name }}</td>
                    <td>{{ materialSubCategory.materialCategory.name }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_master_material_sub_category_show', {'id': materialSubCategory.id}) }}">Show</a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_master_material_sub_category_edit', {'id': materialSubCategory.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, materialSubCategories) }}
