{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, purchaseRequestPaperDetails) }}

<div class="table-responsive">
    <table class="table table-brequested table-striped" id="purchase-request-paper-detail-table" data-controller="data-table">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th>
                    Request #
                </th>
                <th>
                    Tanggal
                </th>
                <th>
                    Kertas
                </th>
                <th>
                    P
                </th>
                <th>
                    L
                </th>
                <th>
                    GR
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'quantity') }}>
                    Quantity {{ grid.sort_char(form.sort.quantity.vars.value) }}
                </th>
                <th>
                    Satuan
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'usageDate') }}>
                    Tanggal Pakai {{ grid.sort_char(form.sort.usageDate.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'memo') }}>
                    Keterangan {{ grid.sort_char(form.sort.memo.vars.value) }}
                </th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'quantity') }} value="{{ form.filter.quantity.1.vars.value }}" />
                </th>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'usageDate') }} value="{{ form.filter.usageDate.1.vars.value }}" />
                </th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'memo') }} value="{{ form.filter.memo.1.vars.value }}" />
                </th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseRequestPaperDetail in purchaseRequestPaperDetails %}
                <tr data-action="click->data-table#select" data-data-table-values-param="{{ {
                    'purchaseRequestPaperDetailId': purchaseRequestPaperDetail.id,
                    'purchaseRequestHeaderCodeNumber': purchaseRequestPaperDetail.purchaseRequestPaperHeader.codeNumber,
                    'purchaseRequestHeaderTransactionDate': purchaseRequestPaperDetail.purchaseRequestPaperHeader.transactionDate ? purchaseRequestPaperDetail.purchaseRequestPaperHeader.transactionDate|date('d M Y') : '',
                    'paperName': purchaseRequestPaperDetail.paper.name,
                    'paperCode': purchaseRequestPaperDetail.paper.code,
                    'paperId': purchaseRequestPaperDetail.paper.id,
                    'paperLength': purchaseRequestPaperDetail.paper.length,
                    'paperWidth': purchaseRequestPaperDetail.paper.width,
                    'paperWeight': purchaseRequestPaperDetail.paper.weight,
                    'usageDate': purchaseRequestPaperDetail.usageDate,
                    'memo': purchaseRequestPaperDetail.memo,
                    'unitName': purchaseRequestPaperDetail.unit.name,
                    'purchaseRequestPaperDetailQuantity': purchaseRequestPaperDetail.quantity}|json_encode }}">
                    <td>{{ purchaseRequestPaperDetail.purchaseRequestPaperHeader.codeNumber }}</td>
                    <td>{{ purchaseRequestPaperDetail.purchaseRequestPaperHeader.transactionDate ? purchaseRequestPaperDetail.purchaseRequestPaperHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ purchaseRequestPaperDetail.paper.name }}</td>
                    <td>{{ purchaseRequestPaperDetail.paper.length }}</td>
                    <td>{{ purchaseRequestPaperDetail.paper.width }}</td>
                    <td>{{ purchaseRequestPaperDetail.paper.weight }}</td>
                    <td class="text-end">{{ purchaseRequestPaperDetail.quantity|number_format(0) }}</td>
                    <td>{{ purchaseRequestPaperDetail.unit.name }}</td>
                    <td>{{ purchaseRequestPaperDetail.usageDate ? purchaseRequestPaperDetail.usageDate|date('d M Y') : ''  }}</td>
                    <td>{{ purchaseRequestPaperDetail.memo }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, purchaseRequestPaperDetails) }}
