<div data-controller="event-emitter json-loader"
     data-action="data-table:select->event-emitter#forward"
     data-event-emitter-attributes-list-param="{{ {'data-table:select': 'id'}|json_encode }}"
     data-json-loader-url-value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_format': 'json'})) }}"
     data-json-loader-method-value="POST"
     data-json-loader-form-target-value="{{ "form[name=#{form.vars.name}]" }}">

    {{ form_start(form) }}
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">Header</legend>
            <div class="row">
                <div class="col">
                    {{ form_row(form.productionDate, {'label': 'Tanggal', 'attr': {'data-controller': 'flatpickr-element'}}) }}
                    {{ form_row(form.employee, {'label': 'Marketing'}) }}
                    {{ form_row(form.productCode, {'label': 'Kode Produk'}) }}
                    {{ form_row(form.productName, {'label': 'Nama Produk'}) }}
                    {{ form_row(form.measurement, {'label': 'Ukuran Jadi'}) }}
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="{{ form.customer.vars.id }}-text" class="form-label">Customer</label>
                        {{ form_row(form.customer, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'customer-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.customerId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.customer.vars.id }}-text" class="form-control {% if not form.customer.vars.valid %}is-invalid{% endif %}" value="{{ deliveryHeader.customer.company|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#customer-dialog"
                               data-controller="dom-element"
                               data-action="customer-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.customerCompany'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.customer) }}
                    </div>
                    <input type="hidden" id="{{ form.customer.vars.id }}-has-fsc-code"
                           data-controller="dom-element"
                           data-action="customer-table:data-table:select@document->dom-element#bind"
                           data-dom-element-bind-specifications-param="{{ [
                               {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.hasFscCode'}},
                           ]|json_encode }}" />
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control" value="{{ saleOrderHeader.customer.phone|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="customer-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.phone'}},
                               ]|json_encode }}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" value="{{ saleOrderHeader.customer.email|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="customer-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.email'}},
                               ]|json_encode }}" />
                    </div>
                    {{ form_row(form.dataSource, {'label': 'Sumber Data'}) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">EP</legend>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="{{ form.paper.vars.id }}-text" class="form-label">Material</label>
                        {{ form_row(form.paper, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'paper-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.paperId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.paper.vars.id }}-text" class="form-control {% if not form.paper.vars.valid %}is-invalid{% endif %}" value="{{ productPrototype.paper.code|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#paper-dialog"
                               data-controller="dom-element"
                               data-action="paper-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.paperCode'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.paper) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" value="{{ productPrototype.paper.name|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="paper-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.paperName'}},
                               ]|json_encode }}" />
                    </div>
                </div>
                <div class="col">
                    {{ form_row(form.quantityEngineering, {'label': 'Quantity'}) }}
                    {{ form_row(form.isVarnish, {'label': 'Varnish/Laminating'}) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="border border-secondary rounded mb-3 p-3">
            <legend class="float-none w-auto text-dark px-1">FEP/PS</legend>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="{{ form.material.vars.id }}-text" class="form-label">Material</label>
                        {{ form_row(form.material, {
                            'attr': {
                                'data-controller': 'dom-element',
                                'data-action': 'material-table:data-table:select@document->dom-element#bind',
                                'data-dom-element-bind-specifications-param': [
                                    {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.materialId'}},
                                ]|json_encode,
                            },
                        }) }}
                        <input type="text" id="{{ form.material.vars.id }}-text" class="form-control {% if not form.material.vars.valid %}is-invalid{% endif %}" value="{{ productPrototype.material.code|default }}" readonly="readonly"
                               data-bs-toggle="modal" data-bs-target="#material-dialog"
                               data-controller="dom-element"
                               data-action="material-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.materialCode'}},
                               ]|json_encode }}" />
                        {{ form_errors(form.material) }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" value="{{ productPrototype.material.name|default }}" readonly="readonly"
                               data-controller="dom-element"
                               data-action="material-table:data-table:select@document->dom-element#bind"
                               data-dom-element-bind-specifications-param="{{ [
                                   {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$event.detail.materialName'}},
                               ]|json_encode }}" />
                    </div>
                    {{ form_row(form.finishing, {'label': 'Finishing'}) }}
                    {{ form_row(form.varnishList, {'label': 'Varnish'}) }}
                    {{ form_row(form.laminatingList, {'label': 'Laminating'}) }}
                </div>
                <div class="col">
                    {{ form_row(form.quantityProduction, {'label': 'Quantity'}) }}
                    {{ form_row(form.color, {'label': 'Warna (TC/Pantone)'}) }}
                    {{ form_row(form.quantityBlade, {'label': 'Jumlah Mata'}) }}
                    {{ form_row(form.processList, {'label': 'Proses'}) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.note, {'label': 'Keterangan'}) }}
                </div>
            </div>
        </fieldset>

        <div class="d-grid">
            <button class="btn btn-success"
                    data-controller="dom-element"
                    data-action="dom-element#confirm"
                    data-dom-element-confirm-message-param="Are you sure you want to save this transaction?">
                Save
            </button>
        </div>
    {{ form_end(form) }}

    {% import 'app/bootstrap_dialog.html.twig' as dialog %}

    {{ dialog.start('customer-dialog', 'Customer List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_customer__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}

    {{ dialog.start('paper-dialog', 'Paper List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_paper__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}

    {{ dialog.start('material-dialog', 'Material List') }}
        <div data-controller="html-loader"
             data-html-loader-url-value="{{ path('app_shared_material__list') }}"
             data-html-loader-auto-load-value="true">
        </div>
    {{ dialog.end() }}

</div>
