{% extends 'base.html.twig' %}

{% block title 'Memo' %}

{% block body %}
    <div class="memo">
        <div class="note" style="font-size: 10px">
            <div class="table full">
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <div class="cell label"><img id="logo" alt="logo" max-height="300px" src="{{ asset('images/Logo.jpg') }}"></div>
                        </div>
                    </div>
                </div>
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <div class="cell label" style="font-size: 14px; text-align: center">FORMULIR</div>
                        </div>
                        <div class="row">
                            <div class="cell label" style="font-size: 18px; text-align: center">LAPORAN PENGEMBANGAN PRODUK BARU</div>
                        </div>
                    </div>
                </div>
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                                <div class="cell label">No Dokumen</div>
                                <div class="cell label">:</div>
                                <div class="cell label">F/PCK/PPIC/8.3-2</div>
                        </div>
                        <div class="row">
                                <div class="cell label">Revisi</div>
                                <div class="cell label">:</div>
                                <div class="cell label">0</div>
                        </div>
                        <div class="row">
                                <div class="cell label">Tanggal</div>
                                <div class="cell label">:</div>
                                <div class="cell label"></div>
                        </div>
                        <div class="row">
                                <div class="cell label">Halaman</div>
                                <div class="cell label">:</div>
                                <div class="cell label">1 dari 1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <hr />
        
        <fieldset class="border border-secondary rounded mb-3 p-3">                     
            <div class="note">
                <div class="table full">
                    <div class="cell col">
                        <div class="table full">
                            <div class="row">
                                <div class="cell label">PIC Design:</div>
                                <div class="cell value">{{ productPrototype.createdProductionUser.name|default }}</div>
                            </div>
                            <div class="row">
                                <div class="cell label">Nama Customer</div>
                                <div class="cell value">{{ productPrototype.customer.company|default }}</div>
                            </div>
                            <div class="row">
                                <div class="cell label">Nama Produk</div>
                                <div class="cell value">{{ productPrototype.productName|default }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
                            
        <fieldset class="border border-secondary rounded mb-3 p-3">
            <div class="note">
                <h3>SPESIFIKASI</h3>
                <div class="table full">
                    <div class="row">
                        <table  class="detail">
                            <thead>
                                <tr>
                                    <th rowspan="2">No.</th>
                                    <th rowspan="2" colspan="4">Progress</th>
                                    <th rowspan="2">Tanggal</th>
                                    <th colspan="2">PIC Penerima</th>
                                </tr>
                                <tr>
                                    <th>Nama</th>
                                    <th>Paraf</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td rowspan="11" style="vertical-align: top; text-align: center; font-weight: bold">I.</td>
                                    <td colspan="4" style="font-weight: bold">EP Development</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">1.</td>
                                    <td colspan="3">Terima File & Sample Dummy</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">2.</td>
                                    <td colspan="3">Konfirmasi Hasil Review File ke Customer</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">3.</td>
                                    <td colspan="3">Pembuatan Pisau Diecut ke Subc. (Kirim File)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">4.</td>
                                    <td colspan="3">Pembuatan Film Dieline (Kirim File)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">5.</td>
                                    <td colspan="3">Penyerahan Gambar / Sample ke Produksi</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">6.</td>
                                    <td colspan="3">Penyerahan Pisau Diecut ke Produksi (1 up)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">7.</td>
                                    <td colspan="3">Penyerahan Gambar / Film Dieline ke Produksi</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">8.</td>
                                    <td colspan="3">Kirim Sample ke Customer</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">9.</td>
                                    <td colspan="3">Distribusi Informasi Hasil Review Sample ke Customer</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="3"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="22" style="vertical-align: top; text-align: center; font-weight: bold">II.</td>
                                    <td colspan="4" style="font-weight: bold">FEP Development</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">1.</td>
                                    <td colspan="3">Terima File & Sample Print</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">2.</td>
                                    <td colspan="3">Touching Warna Design pada File</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="text-align: center">3.</td>
                                    <td rowspan="2">Rev-0</td>
                                    <td colspan="2">Kirim File ke Customer</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Terima Informasi dari Customer</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="text-align: center">4.</td>
                                    <td rowspan="2">Rev-1</td>
                                    <td colspan="2">Kirim File ke Customer</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Terima Informasi dari Customer</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="text-align: center">5.</td>
                                    <td rowspan="2">Rev-2</td>
                                    <td colspan="2">Kirim File ke Customer</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Terima Informasi dari Customer</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">6.</td>
                                    <td colspan="3">Output Digital Print</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="text-align: center">7.</td>
                                    <td rowspan="2" colspan="2">Penyerahan Print-out Layout Proof Print ke Produksi</td>
                                    <td>Gambar</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Dieline</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="text-align: center">8.</td>
                                    <td rowspan="2" colspan="2">Penyerahan Sample ke Produksi</td>
                                    <td>Digital</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Sample</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="text-align: center">9.</td>
                                    <td rowspan="2" colspan="2">Transfer File ke Prepress</td>
                                    <td>Pemeriksaan</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Revisi</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="text-align: center">10.</td>
                                    <td rowspan="2" colspan="2">Film Dieline Proof</td>
                                    <td>Output</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Penyerahan</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">11.</td>
                                    <td colspan="3">Meeting Koordinasi Eksekusi</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">12.</td>
                                    <td colspan="3">Kirim Sample/Std Hasil Proof ke Customer</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">13.</td>
                                    <td colspan="3">Distribusi Informasi Hasil Proof</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="3"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="11" style="vertical-align: top; text-align: center; font-weight: bold">III.</td>
                                    <td colspan="4" style="font-weight: bold">PP / PS Development</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">1.</td>
                                    <td colspan="3">Me-Layout File untuk Mass Production</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="text-align: center">2.</td>
                                    <td rowspan="2" colspan="2">Transfer File ke Prepress</td>
                                    <td>Pemeriksaan</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Revisi</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="text-align: center">3.</td>
                                    <td rowspan="2" colspan="2">Penyerahan Print-out Layout Cetak ke Produksi</td>
                                    <td>Gambar</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Dieline</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="text-align: center">4.</td>
                                    <td rowspan="2" colspan="2">Film Dieline Cetak</td>
                                    <td>Output</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Penyerahan</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="3" style="text-align: center">5.</td>
                                    <td rowspan="3" colspan="2">Pisau Diecut</td>
                                    <td>Kirim File</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Terima Subc</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Penyerahan</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('memo') }}
    <style>
        .col:nth-child(1) { width: 50% }
        .col:nth-child(2) { width: 50% }
        
        .col:nth-child(1) .label { width: 35% }
        .col:nth-child(1) .value { width: 65% }
        .col:nth-child(2) .label { width: 35% }
        .col:nth-child(2) .value { width: 65% }
        
        .sig:nth-child(1) { width: 50% }
        .sig:nth-child(2) { width: 50% }
    </style>
{% endblock %}